<div cg-busy="{promise:myPromise, message:'Loading...', backdrop:true, delay:0, minDuration:500}">

  <style type="text/css">
    .btn.attachment_btn {
      margin-right: 5px; padding:5px 10px;
    }
    .btn.attachment_btn:hover, .btn.attachment_btn:focus {
      background-color: #204d74 !important;
    }
    .times_icon {
      margin-left: 10px; 
      color : #fff; 
      text-decoration : none; 
      font-weight: bold;
    }
  </style>

  <zendeskticketsdetails></zendeskticketsdetails>

</div>