<style type="text/css">
   .red-color{
   	color: red;
   }
   .center-align{
   	text-align:center
   }
</style>

<div class="row" style="margin-left: 10px !important;">
	    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding-right : 10px !important; padding-top : 10px;">
	        <div class="row page_wrapper" >
	            <div class="col-xs-12" style="min-height: 120px;">
	            	<div class="row">
	            		<h5 class="widget-title">Virtual Machine -1</h5>
	            	</div>
		            <div class="row paddingtop">
		            	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 paddingleft ng-scope" style="">
	                        <p class="yellow smalltextdash center-align"> <span class=""><i class="fa fa-arrow-circle-up padding_right5px green" aria-hidden="true"></i></span></p>
	                    </div>
	                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 paddingleft ng-scope" style="">
	                        <p class="green center-align smalltextdash">14 days, 0h 53m 56s </p>
	                    	<h2 class="green center-align smalltextdash">Uptime</h2>
	                    </div>
	                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 paddingleft ng-scope" style="">
	                       	<p class="red-color center-align smalltextdash" style="text-align:center">1234</p>
	                        <h2 class="red-color center-align smalltextdash">Failed Alerts</h2>
	                    </div>
		            </div>
		             <div class="row paddingtop">
		            	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 paddingleft ng-scope" style="">
	                        <p class="yellow center-align smalltextdash">10%</p>
	                    	<h2 class="yellow center-align smalltextdash">CPU</h2>
	                    </div>
	                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 paddingleft ng-scope" style="">
	                        <p class="purple center-align smalltextdash">60%</p>
	                    	<h2 class="purple center-align smalltextdash">Memory</h2>
	                    </div>
	                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 paddingleft ng-scope" style="">
	                       	<p class="lightcolor center-align smalltextdash">10TB</p>
	                        <h2 class="lightcolor center-align smalltextdash">Storage</h2>
	                    </div>
		            </div>
	            </div>
	        </div>
	    </div>
	     <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding-right : 10px !important; padding-top : 10px;">
	        <div class="row page_wrapper" >
	            <div class="col-xs-12" style="min-height: 120px;">
	            	<div class="row">
	            		<h5 class="widget-title">Virtual Machine -1</h5>
	            	</div>
		            <div class="row paddingtop">
		            	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 paddingleft ng-scope" style="">
	                        <p class="yellow smalltextdash center-align"> <span class=""><i class="fa fa-arrow-circle-up padding_right5px green" aria-hidden="true"></i></span></p>
	                    </div>
	                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 paddingleft ng-scope" style="">
	                        <p class="green center-align smalltextdash">14 days, 0h 53m 56s </p>
	                    	<h2 class="green center-align smalltextdash">Uptime</h2>
	                    </div>
	                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 paddingleft ng-scope" style="">
	                       	<p class="red-color center-align smalltextdash" style="text-align:center">1234</p>
	                        <h2 class="red-color center-align smalltextdash">Failed Alerts</h2>
	                    </div>
		            </div>
		             <div class="row paddingtop">
		            	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 paddingleft ng-scope" style="">
	                        <p class="yellow center-align smalltextdash">10%</p>
	                    	<h2 class="yellow center-align smalltextdash">CPU</h2>
	                    </div>
	                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 paddingleft ng-scope" style="">
	                        <p class="purple center-align smalltextdash">60%</p>
	                    	<h2 class="purple center-align smalltextdash">Memory</h2>
	                    </div>
	                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 paddingleft ng-scope" style="">
	                       	<p class="lightcolor center-align smalltextdash">10TB</p>
	                        <h2 class="lightcolor center-align smalltextdash">Storage</h2>
	                    </div>
		            </div>
	            </div>
	        </div>
	    </div>
	    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding-right : 10px !important; padding-top : 10px;">
	        <div class="row page_wrapper" >
	            <div class="col-xs-12" style="min-height: 120px;">
	            	<div class="row">
	            		<h5 class="widget-title">Virtual Machine -1</h5>
	            	</div>
		            <div class="row paddingtop">
		            	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 paddingleft ng-scope" style="">
	                        <p class="yellow smalltextdash center-align"> <span class=""><i class="fa fa-arrow-circle-up padding_right5px green" aria-hidden="true"></i></span></p>
	                    </div>
	                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 paddingleft ng-scope" style="">
	                        <p class="green center-align smalltextdash">14 days, 0h 53m 56s </p>
	                    	<h2 class="green center-align smalltextdash">Uptime</h2>
	                    </div>
	                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 paddingleft ng-scope" style="">
	                       	<p class="red-color center-align smalltextdash" style="text-align:center">1234</p>
	                        <h2 class="red-color center-align smalltextdash">Failed Alerts</h2>
	                    </div>
		            </div>
		             <div class="row paddingtop">
		            	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 paddingleft ng-scope" style="">
	                        <p class="yellow center-align smalltextdash">10%</p>
	                    	<h2 class="yellow center-align smalltextdash">CPU</h2>
	                    </div>
	                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 paddingleft ng-scope" style="">
	                        <p class="purple center-align smalltextdash">60%</p>
	                    	<h2 class="purple center-align smalltextdash">Memory</h2>
	                    </div>
	                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 paddingleft ng-scope" style="">
	                       	<p class="lightcolor center-align smalltextdash">10TB</p>
	                        <h2 class="lightcolor center-align smalltextdash">Storage</h2>
	                    </div>
		            </div>
	            </div>
	        </div>
	    </div>
</div>

<div class="row" style="margin-left: 10px !important;">
	     <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding-right : 10px !important; padding-top : 10px;">
	        <div class="row page_wrapper" >
	            <div class="col-xs-12" style="min-height: 120px;">
	            	<div class="row">
	            		<h5 class="widget-title">Virtual Machine -1</h5>
	            	</div>
		            <div class="row paddingtop">
		            	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 paddingleft ng-scope" style="">
	                        <p class="yellow smalltextdash center-align"> <span class=""><i class="fa fa-arrow-circle-up padding_right5px green" aria-hidden="true"></i></span></p>
	                    </div>
	                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 paddingleft ng-scope" style="">
	                        <p class="green center-align smalltextdash">14 days, 0h 53m 56s </p>
	                    	<h2 class="green center-align smalltextdash">Uptime</h2>
	                    </div>
	                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 paddingleft ng-scope" style="">
	                       	<p class="red-color center-align smalltextdash" style="text-align:center">1234</p>
	                        <h2 class="red-color center-align smalltextdash">Failed Alerts</h2>
	                    </div>
		            </div>
		             <div class="row paddingtop">
		            	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 paddingleft ng-scope" style="">
	                        <p class="yellow center-align smalltextdash">10%</p>
	                    	<h2 class="yellow center-align smalltextdash">CPU</h2>
	                    </div>
	                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 paddingleft ng-scope" style="">
	                        <p class="purple center-align smalltextdash">60%</p>
	                    	<h2 class="purple center-align smalltextdash">Memory</h2>
	                    </div>
	                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 paddingleft ng-scope" style="">
	                       	<p class="lightcolor center-align smalltextdash">10TB</p>
	                        <h2 class="lightcolor center-align smalltextdash">Storage</h2>
	                    </div>
		            </div>
	            </div>
	        </div>
	    </div>
	     <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding-right : 10px !important; padding-top : 10px;">
	        <div class="row page_wrapper" >
	            <div class="col-xs-12" style="min-height: 120px;">
	            	<div class="row">
	            		<h5 class="widget-title">Virtual Machine -1</h5>
	            	</div>
		            <div class="row paddingtop">
		            	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 paddingleft ng-scope" style="">
	                        <p class="yellow smalltextdash center-align"> <span class=""><i class="fa fa-arrow-circle-up padding_right5px green" aria-hidden="true"></i></span></p>
	                    </div>
	                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 paddingleft ng-scope" style="">
	                        <p class="green center-align smalltextdash">14 days, 0h 53m 56s </p>
	                    	<h2 class="green center-align smalltextdash">Uptime</h2>
	                    </div>
	                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 paddingleft ng-scope" style="">
	                       	<p class="red-color center-align smalltextdash" style="text-align:center">1234</p>
	                        <h2 class="red-color center-align smalltextdash">Failed Alerts</h2>
	                    </div>
		            </div>
		             <div class="row paddingtop">
		            	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 paddingleft ng-scope" style="">
	                        <p class="yellow center-align smalltextdash">10%</p>
	                    	<h2 class="yellow center-align smalltextdash">CPU</h2>
	                    </div>
	                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 paddingleft ng-scope" style="">
	                        <p class="purple center-align smalltextdash">60%</p>
	                    	<h2 class="purple center-align smalltextdash">Memory</h2>
	                    </div>
	                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 paddingleft ng-scope" style="">
	                       	<p class="lightcolor center-align smalltextdash">10TB</p>
	                        <h2 class="lightcolor center-align smalltextdash">Storage</h2>
	                    </div>
		            </div>
	            </div>
	        </div>
	    </div>
	    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding-right : 10px !important; padding-top : 10px;">
	        <div class="row page_wrapper" >
	            <div class="col-xs-12" style="min-height: 120px;">
	            	<div class="row">
	            		<h5 class="widget-title">Virtual Machine -1</h5>
	            	</div>
		            <div class="row paddingtop">
		            	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 paddingleft ng-scope" style="">
	                        <p class="yellow smalltextdash center-align"> <span class=""><i class="fa fa-arrow-circle-up padding_right5px green" aria-hidden="true"></i></span></p>
	                    </div>
	                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 paddingleft ng-scope" style="">
	                        <p class="green center-align smalltextdash">14 days, 0h 53m 56s </p>
	                    	<h2 class="green center-align smalltextdash">Uptime</h2>
	                    </div>
	                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 paddingleft ng-scope" style="">
	                       	<p class="red-color center-align smalltextdash" style="text-align:center">1234</p>
	                        <h2 class="red-color center-align smalltextdash">Failed Alerts</h2>
	                    </div>
		            </div>
		             <div class="row paddingtop">
		            	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 paddingleft ng-scope" style="">
	                        <p class="yellow center-align smalltextdash">10%</p>
	                    	<h2 class="yellow center-align smalltextdash">CPU</h2>
	                    </div>
	                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 paddingleft ng-scope" style="">
	                        <p class="purple center-align smalltextdash">60%</p>
	                    	<h2 class="purple center-align smalltextdash">Memory</h2>
	                    </div>
	                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 paddingleft ng-scope" style="">
	                       	<p class="lightcolor center-align smalltextdash">10TB</p>
	                        <h2 class="lightcolor center-align smalltextdash">Storage</h2>
	                    </div>
		            </div>
	            </div>
	        </div>
	    </div>
</div>

<div class="row" style="margin-left: 10px !important;">
	     <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding-right : 10px !important; padding-top : 10px;">
	        <div class="row page_wrapper" >
	            <div class="col-xs-12" style="min-height: 120px;">
	            	<div class="row">
	            		<h5 class="widget-title">Virtual Machine -1</h5>
	            	</div>
		            <div class="row paddingtop">
		            	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 paddingleft ng-scope" style="">
	                        <p class="yellow smalltextdash center-align"> <span class=""><i class="fa fa-arrow-circle-up padding_right5px green" aria-hidden="true"></i></span></p>
	                    </div>
	                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 paddingleft ng-scope" style="">
	                        <p class="green center-align smalltextdash">14 days, 0h 53m 56s </p>
	                    	<h2 class="green center-align smalltextdash">Uptime</h2>
	                    </div>
	                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 paddingleft ng-scope" style="">
	                       	<p class="red-color center-align smalltextdash" style="text-align:center">1234</p>
	                        <h2 class="red-color center-align smalltextdash">Failed Alerts</h2>
	                    </div>
		            </div>
		             <div class="row paddingtop">
		            	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 paddingleft ng-scope" style="">
	                        <p class="yellow center-align smalltextdash">10%</p>
	                    	<h2 class="yellow center-align smalltextdash">CPU</h2>
	                    </div>
	                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 paddingleft ng-scope" style="">
	                        <p class="purple center-align smalltextdash">60%</p>
	                    	<h2 class="purple center-align smalltextdash">Memory</h2>
	                    </div>
	                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 paddingleft ng-scope" style="">
	                       	<p class="lightcolor center-align smalltextdash">10TB</p>
	                        <h2 class="lightcolor center-align smalltextdash">Storage</h2>
	                    </div>
		            </div>
	            </div>
	        </div>
	    </div>
	     <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding-right : 10px !important; padding-top : 10px;">
	        <div class="row page_wrapper" >
	            <div class="col-xs-12" style="min-height: 120px;">
	            	<div class="row">
	            		<h5 class="widget-title">Virtual Machine -1</h5>
	            	</div>
		            <div class="row paddingtop">
		            	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 paddingleft ng-scope" style="">
	                        <p class="yellow smalltextdash center-align"> <span class=""><i class="fa fa-arrow-circle-up padding_right5px green" aria-hidden="true"></i></span></p>
	                    </div>
	                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 paddingleft ng-scope" style="">
	                        <p class="green center-align smalltextdash">14 days, 0h 53m 56s </p>
	                    	<h2 class="green center-align smalltextdash">Uptime</h2>
	                    </div>
	                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 paddingleft ng-scope" style="">
	                       	<p class="red-color center-align smalltextdash" style="text-align:center">1234</p>
	                        <h2 class="red-color center-align smalltextdash">Failed Alerts</h2>
	                    </div>
		            </div>
		             <div class="row paddingtop">
		            	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 paddingleft ng-scope" style="">
	                        <p class="yellow center-align smalltextdash">10%</p>
	                    	<h2 class="yellow center-align smalltextdash">CPU</h2>
	                    </div>
	                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 paddingleft ng-scope" style="">
	                        <p class="purple center-align smalltextdash">60%</p>
	                    	<h2 class="purple center-align smalltextdash">Memory</h2>
	                    </div>
	                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 paddingleft ng-scope" style="">
	                       	<p class="lightcolor center-align smalltextdash">10TB</p>
	                        <h2 class="lightcolor center-align smalltextdash">Storage</h2>
	                    </div>
		            </div>
	            </div>
	        </div>
	    </div>
	    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding-right : 10px !important; padding-top : 10px;">
	        <div class="row page_wrapper" >
	            <div class="col-xs-12" style="min-height: 120px;">
	            	<div class="row">
	            		<h5 class="widget-title">Virtual Machine -1</h5>
	            	</div>
		            <div class="row paddingtop">
		            	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 paddingleft ng-scope" style="">
	                        <p class="yellow smalltextdash center-align"> <span class=""><i class="fa fa-arrow-circle-up padding_right5px green" aria-hidden="true"></i></span></p>
	                    </div>
	                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 paddingleft ng-scope" style="">
	                        <p class="green center-align smalltextdash">14 days, 0h 53m 56s </p>
	                    	<h2 class="green center-align smalltextdash">Uptime</h2>
	                    </div>
	                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 paddingleft ng-scope" style="">
	                       	<p class="red-color center-align smalltextdash" style="text-align:center">1234</p>
	                        <h2 class="red-color center-align smalltextdash">Failed Alerts</h2>
	                    </div>
		            </div>
		             <div class="row paddingtop">
		            	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 paddingleft ng-scope" style="">
	                        <p class="yellow center-align smalltextdash">10%</p>
	                    	<h2 class="yellow center-align smalltextdash">CPU</h2>
	                    </div>
	                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 paddingleft ng-scope" style="">
	                        <p class="purple center-align smalltextdash">60%</p>
	                    	<h2 class="purple center-align smalltextdash">Memory</h2>
	                    </div>
	                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 paddingleft ng-scope" style="">
	                       	<p class="lightcolor center-align smalltextdash">10TB</p>
	                        <h2 class="lightcolor center-align smalltextdash">Storage</h2>
	                    </div>
		            </div>
	            </div>
	        </div>
	    </div>
</div>

<div class="row" style="margin-left: 10px !important;">
	     <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding-right : 10px !important; padding-top : 10px;">
	        <div class="row page_wrapper" >
	            <div class="col-xs-12" style="min-height: 120px;">
	            	<div class="row">
	            		<h5 class="widget-title">Virtual Machine -1</h5>
	            	</div>
		            <div class="row paddingtop">
		            	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 paddingleft ng-scope" style="">
	                        <p class="yellow smalltextdash center-align"> <span class=""><i class="fa fa-arrow-circle-up padding_right5px green" aria-hidden="true"></i></span></p>
	                    </div>
	                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 paddingleft ng-scope" style="">
	                        <p class="green center-align smalltextdash">14 days, 0h 53m 56s </p>
	                    	<h2 class="green center-align smalltextdash">Uptime</h2>
	                    </div>
	                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 paddingleft ng-scope" style="">
	                       	<p class="red-color center-align smalltextdash" style="text-align:center">1234</p>
	                        <h2 class="red-color center-align smalltextdash">Failed Alerts</h2>
	                    </div>
		            </div>
		             <div class="row paddingtop">
		            	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 paddingleft ng-scope" style="">
	                        <p class="yellow center-align smalltextdash">10%</p>
	                    	<h2 class="yellow center-align smalltextdash">CPU</h2>
	                    </div>
	                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 paddingleft ng-scope" style="">
	                        <p class="purple center-align smalltextdash">60%</p>
	                    	<h2 class="purple center-align smalltextdash">Memory</h2>
	                    </div>
	                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 paddingleft ng-scope" style="">
	                       	<p class="lightcolor center-align smalltextdash">10TB</p>
	                        <h2 class="lightcolor center-align smalltextdash">Storage</h2>
	                    </div>
		            </div>
	            </div>
	        </div>
	    </div>
	     <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding-right : 10px !important; padding-top : 10px;">
	        <div class="row page_wrapper" >
	            <div class="col-xs-12" style="min-height: 120px;">
	            	<div class="row">
	            		<h5 class="widget-title">Virtual Machine -1</h5>
	            	</div>
		            <div class="row paddingtop">
		            	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 paddingleft ng-scope" style="">
	                        <p class="yellow smalltextdash center-align"> <span class=""><i class="fa fa-arrow-circle-up padding_right5px green" aria-hidden="true"></i></span></p>
	                    </div>
	                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 paddingleft ng-scope" style="">
	                        <p class="green center-align smalltextdash">14 days, 0h 53m 56s </p>
	                    	<h2 class="green center-align smalltextdash">Uptime</h2>
	                    </div>
	                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 paddingleft ng-scope" style="">
	                       	<p class="red-color center-align smalltextdash" style="text-align:center">1234</p>
	                        <h2 class="red-color center-align smalltextdash">Failed Alerts</h2>
	                    </div>
		            </div>
		             <div class="row paddingtop">
		            	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 paddingleft ng-scope" style="">
	                        <p class="yellow center-align smalltextdash">10%</p>
	                    	<h2 class="yellow center-align smalltextdash">CPU</h2>
	                    </div>
	                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 paddingleft ng-scope" style="">
	                        <p class="purple center-align smalltextdash">60%</p>
	                    	<h2 class="purple center-align smalltextdash">Memory</h2>
	                    </div>
	                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 paddingleft ng-scope" style="">
	                       	<p class="lightcolor center-align smalltextdash">10TB</p>
	                        <h2 class="lightcolor center-align smalltextdash">Storage</h2>
	                    </div>
		            </div>
	            </div>
	        </div>
	    </div>
	    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding-right : 10px !important; padding-top : 10px;">
	        <div class="row page_wrapper" >
	            <div class="col-xs-12" style="min-height: 120px;">
	            	<div class="row">
	            		<h5 class="widget-title">Virtual Machine -1</h5>
	            	</div>
		            <div class="row paddingtop">
		            	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 paddingleft ng-scope" style="">
	                        <p class="yellow smalltextdash center-align"> <span class=""><i class="fa fa-arrow-circle-up padding_right5px green" aria-hidden="true"></i></span></p>
	                    </div>
	                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 paddingleft ng-scope" style="">
	                        <p class="green center-align smalltextdash">14 days, 0h 53m 56s </p>
	                    	<h2 class="green center-align smalltextdash">Uptime</h2>
	                    </div>
	                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 paddingleft ng-scope" style="">
	                       	<p class="red-color center-align smalltextdash" style="text-align:center">1234</p>
	                        <h2 class="red-color center-align smalltextdash">Failed Alerts</h2>
	                    </div>
		            </div>
		             <div class="row paddingtop">
		            	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 paddingleft ng-scope" style="">
	                        <p class="yellow center-align smalltextdash">10%</p>
	                    	<h2 class="yellow center-align smalltextdash">CPU</h2>
	                    </div>
	                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 paddingleft ng-scope" style="">
	                        <p class="purple center-align smalltextdash">60%</p>
	                    	<h2 class="purple center-align smalltextdash">Memory</h2>
	                    </div>
	                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 paddingleft ng-scope" style="">
	                       	<p class="lightcolor center-align smalltextdash">10TB</p>
	                        <h2 class="lightcolor center-align smalltextdash">Storage</h2>
	                    </div>
		            </div>
	            </div>
	        </div>
	    </div>
</div>

<div class="row" style="margin-left: 10px !important;">
	     <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding-right : 10px !important; padding-top : 10px;">
	        <div class="row page_wrapper" >
	            <div class="col-xs-12" style="min-height: 120px;">
	            	<div class="row">
	            		<h5 class="widget-title">Virtual Machine -1</h5>
	            	</div>
		            <div class="row paddingtop">
		            	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 paddingleft ng-scope" style="">
	                        <p class="yellow smalltextdash center-align"> <span class=""><i class="fa fa-arrow-circle-up padding_right5px green" aria-hidden="true"></i></span></p>
	                    </div>
	                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 paddingleft ng-scope" style="">
	                        <p class="green center-align smalltextdash">14 days, 0h 53m 56s </p>
	                    	<h2 class="green center-align smalltextdash">Uptime</h2>
	                    </div>
	                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 paddingleft ng-scope" style="">
	                       	<p class="red-color center-align smalltextdash" style="text-align:center">1234</p>
	                        <h2 class="red-color center-align smalltextdash">Failed Alerts</h2>
	                    </div>
		            </div>
		             <div class="row paddingtop">
		            	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 paddingleft ng-scope" style="">
	                        <p class="yellow center-align smalltextdash">10%</p>
	                    	<h2 class="yellow center-align smalltextdash">CPU</h2>
	                    </div>
	                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 paddingleft ng-scope" style="">
	                        <p class="purple center-align smalltextdash">60%</p>
	                    	<h2 class="purple center-align smalltextdash">Memory</h2>
	                    </div>
	                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 paddingleft ng-scope" style="">
	                       	<p class="lightcolor center-align smalltextdash">10TB</p>
	                        <h2 class="lightcolor center-align smalltextdash">Storage</h2>
	                    </div>
		            </div>
	            </div>
	        </div>
	    </div>
	     <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding-right : 10px !important; padding-top : 10px;">
	        <div class="row page_wrapper" >
	            <div class="col-xs-12" style="min-height: 120px;">
	            	<div class="row">
	            		<h5 class="widget-title">Virtual Machine -1</h5>
	            	</div>
		            <div class="row paddingtop">
		            	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 paddingleft ng-scope" style="">
	                        <p class="yellow smalltextdash center-align"> <span class=""><i class="fa fa-arrow-circle-up padding_right5px green" aria-hidden="true"></i></span></p>
	                    </div>
	                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 paddingleft ng-scope" style="">
	                        <p class="green center-align smalltextdash">14 days, 0h 53m 56s </p>
	                    	<h2 class="green center-align smalltextdash">Uptime</h2>
	                    </div>
	                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 paddingleft ng-scope" style="">
	                       	<p class="red-color center-align smalltextdash" style="text-align:center">1234</p>
	                        <h2 class="red-color center-align smalltextdash">Failed Alerts</h2>
	                    </div>
		            </div>
		             <div class="row paddingtop">
		            	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 paddingleft ng-scope" style="">
	                        <p class="yellow center-align smalltextdash">10%</p>
	                    	<h2 class="yellow center-align smalltextdash">CPU</h2>
	                    </div>
	                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 paddingleft ng-scope" style="">
	                        <p class="purple center-align smalltextdash">60%</p>
	                    	<h2 class="purple center-align smalltextdash">Memory</h2>
	                    </div>
	                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 paddingleft ng-scope" style="">
	                       	<p class="lightcolor center-align smalltextdash">10TB</p>
	                        <h2 class="lightcolor center-align smalltextdash">Storage</h2>
	                    </div>
		            </div>
	            </div>
	        </div>
	    </div>
	    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding-right : 10px !important; padding-top : 10px;">
	        <div class="row page_wrapper" >
	            <div class="col-xs-12" style="min-height: 120px;">
	            	<div class="row">
	            		<h5 class="widget-title">Virtual Machine -1</h5>
	            	</div>
		            <div class="row paddingtop">
		            	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 paddingleft ng-scope" style="">
	                        <p class="yellow smalltextdash center-align"> <span class=""><i class="fa fa-arrow-circle-up padding_right5px green" aria-hidden="true"></i></span></p>
	                    </div>
	                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 paddingleft ng-scope" style="">
	                        <p class="green center-align smalltextdash">14 days, 0h 53m 56s </p>
	                    	<h2 class="green center-align smalltextdash">Uptime</h2>
	                    </div>
	                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 paddingleft ng-scope" style="">
	                       	<p class="red-color center-align smalltextdash" style="text-align:center">1234</p>
	                        <h2 class="red-color center-align smalltextdash">Failed Alerts</h2>
	                    </div>
		            </div>
		             <div class="row paddingtop">
		            	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 paddingleft ng-scope" style="">
	                        <p class="yellow center-align smalltextdash">10%</p>
	                    	<h2 class="yellow center-align smalltextdash">CPU</h2>
	                    </div>
	                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 paddingleft ng-scope" style="">
	                        <p class="purple center-align smalltextdash">60%</p>
	                    	<h2 class="purple center-align smalltextdash">Memory</h2>
	                    </div>
	                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 paddingleft ng-scope" style="">
	                       	<p class="lightcolor center-align smalltextdash">10TB</p>
	                        <h2 class="lightcolor center-align smalltextdash">Storage</h2>
	                    </div>
		            </div>
	            </div>
	        </div>
	    </div>
</div>