<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-9 border-right">
                <form class="form-inline" [formGroup]="filterForm" *ngIf="filterForm">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <select class="form-control w-100" formControlName="duration" [class.is-invalid]="filterFormErrors.duration">
                                    <option [value]="duration.LAST_24_HOURS">Last 24 Hours</option>
                                    <option [value]="duration.LAST_WEEK">Last Week</option>
                                    <option [value]="duration.LAST_MONTH">Last Month</option>
                                    <option [value]="duration.LAST_YEAR">Last Year</option>
                                    <option [value]="duration.CUSTOM">Custom</option>
                                </select>
                                <div class="invalid-feedback" *ngIf="filterFormErrors.duration">{{filterFormErrors.duration}}</div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="input-group">
                                <label for="start_date">Start Date :&nbsp;</label>
                                <owl-date-time #start_date [hour12Timer]="true"></owl-date-time>
                                <input class="form-control rounded-left" formControlName="start_date"
                                    [owlDateTimeTrigger]="start_date" [owlDateTime]="start_date" type="text" name="start_date"
                                    placeholder="start_date" [max]="now">
                                <div class="input-group-append " [owlDateTimeTrigger]="start_date">
                                    <span class="input-group-text bg-white">
                                        <i class="fas fa-calendar-alt"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="input-group">
                                <label for="end_date">End Date :&nbsp;</label>
                                <owl-date-time #end_date [hour12Timer]="true"></owl-date-time>
                                <input class="form-control rounded-left" formControlName="end_date"
                                    [owlDateTimeTrigger]="end_date" [owlDateTime]="end_date" type="text" name="end_date"
                                    placeholder="end_date" [min]="filterForm.controls.start_date.value" [max]="now">
                                <div class="input-group-append " [owlDateTimeTrigger]="end_date">
                                    <span class="input-group-text bg-white">
                                        <i class="fas fa-calendar-alt"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 mt-4">
                            <div class="input-prepend input-group">
                                <div class="input-group-prepend"><span class="input-group-text bg-transparent border-right-0">
                                        <i class="fa fa-search"></i></span>
                                </div>
                                <input placeholder="Enter keyword" class="form-control border-left-0" id="prependedInput"
                                    size="16" type="text" formControlName="search">
                            </div>
                        </div>
                        <div class="col-4 mt-4">
                            <div class="form-group">
                                <multiselect-dropdown [options]="deviceTypeList" [settings]="mySettings" [texts]="myTexts"
                                    style="height:auto;" class="form-control p-0 w-100" formControlName="device_type"
                                    [ngClass]="{'is-invalid' : filterFormErrors.device_type}"></multiselect-dropdown>
                                <div class="invalid-feedback" *ngIf="filterFormErrors.device_type">{{filterFormErrors.device_type}}</div>
                            </div>
                        </div>
                        <div class="col-4 text-center mt-4">
                            <button class="btn btn-warning btn-pill" (click)="onSubmit()">Update</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-12">
                        <data-refresh-btn [page]="currentCriteria.pageNo" (refresh)="refreshData($event)">
                        </data-refresh-btn>
                    </div>
                    <div class="col-12">
                        <div class="card equalize-card border-0" *ngIf="alerts">
                            <div class="card-body px-0 py-2">
                                <div class="row">
                                    <div class="col-3 text-center pointer-link" (click)="filterData('totalAlerts')">
                                        <span class="badge badge-success w-100">
                                            <div class="text-center py-2">
                                                <div class="text-value">{{alerts.totalAlerts.length}}</div>
                                                <div class="mt-2 text-truncate">All</div>
                                            </div>
                                        </span>
                                    </div>
                                    <div class="col-3 text-center pointer-link" (click)="filterData('criticalAlerts')">
                                        <span class="badge badge-danger w-100 text-white">
                                            <div class="text-center py-2">
                                                <div class="text-value">{{alerts.criticalAlerts.length}}</div>
                                                <div class="mt-2 text-truncate">Critical</div>
                                            </div>
                                        </span>
                                    </div>
                                    <div class="col-3 text-center pointer-link" (click)="filterData('warningAlerts')">
                                        <span class="badge badge-warning w-100 text-white">
                                            <div class="text-center py-2">
                                                <div class="text-value">{{alerts.warningAlerts.length}}</div>
                                                <div class="mt-2 text-truncate">Warning</div>
                                            </div>
                                        </span>
                                    </div>
                                    <div class="col-3 text-center pointer-link" (click)="filterData('infoAlerts')">
                                        <span class="badge badge-primary w-100 text-white">
                                            <div class="text-center py-2">
                                                <div class="text-value">{{alerts.infoAlerts.length}}</div>
                                                <div class="mt-2 text-truncate">Information</div>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive" tableStickyScroll>
                <table class="table text-left mt-3" sortableTable (sorted)="onSorted($event)">
                    <thead>
                        <tr>
                            <th sortable-column="device_name">Device Name</th>
                            <th sortable-column="device_type">Device Type</th>
                            <th>Management IP</th>
                            <th sortable-column="severity">Severity</th>
                            <th>Alert</th>
                            <th sortable-column="alert_time">Alert Time</th>
                            <th sortable-column="status">Status</th>
                            <th sortable-column="recovery_time">Recovery Time</th>
                            <th sortable-column="duration">Duration</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let view of viewData">
                            <td>{{view.deviceName}}</td>
                            <td>{{view.deviceType}}</td>
                            <td>{{view.managementIp}}</td>
                            <td [ngClass]="[view.severityClass, 'text-capitalize']">{{view.severity}}</td>
                            <td>{{view.alert}}</td>
                            <td>{{view.alertTime}}</td>
                            <td [ngClass]="[view.statusTextColor, 'text-capitalize']">{{view.status}}</td>
                            <td>{{view.recoveryTime}}</td>
                            <td>{{view.duration}}</td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="!viewData.length" class="text-center text-muted py-5">
                    No alerts found !!
                </div>
            </div>
        </div>
    </div>
</div>