.move-dropdowns-up-end-of-top-tabs {
    position: relative;
    z-index: 100;
    margin-top: -65px;
    margin-bottom: 0.8rem;
    padding-top: 0.1rem;
    pointer-events: none;
}

.move-dropdowns-up-end-of-top-tabs * {
    pointer-events: auto;
}

.section-2 {
    min-height: 230px;
}

.section-3 {
    min-height: 280px;
}

.section-4 {
    min-height: 210px;
}

.section-5 {
    min-height: 230px;
}