.users-count {
  font-size: 75%;
  height: 17px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  background-color: lightblue;
}

.vr {
  display: inline-block;
  align-self: stretch;
  width: 1px;
  min-height: 1em;
  background-color: currentColor;
  opacity: .25;
}

.fa-font-size {
  font-size: 1rem;
}

.total-value-font-size {
  font-size: 0.75rem;
}