.graph_div {
    margin-left: -6%;
    min-height:167px;
}

.not_configured_in_cabview {
    min-height:187px;
}

.not_configured_in_deviceview {
    min-height: 167px;
}

.graph {
    max-width: 100%;
    width: 98% !important;
    vertical-align: top;
}