<div class="card rounded-0 border-top-0">
    <div class="card-header bg-transparent d-flex justify-content-between align-items-center py-2">
        <div class="d-flex justify-content-center align-items-center font-500">
            <span class="badge badge-secondary font-sm">{{count}}</span>
            <span class="ml-1 font-lg">Traces</span>
        </div>
    </div>
    <div class="card-body py-2">
        <div class="row mx-0 d-flex justify-content-between align-items-center pb-2">
            <div class="w-25">
                <search-box [searchValue]="currentCriteria.searchValue" (searched)="onSearched($event)"></search-box>
            </div>
            <div>
                <table-page-size [currentPageSize]="currentCriteria.pageSize" [totalCount]="count"
                    (pageSizeChange)="pageSizeChange($event)"></table-page-size>
            </div>
        </div>
        <div class="table-responsive-no-truncate">
            <table class="table table-sm text-left" tableStickyScroll>
                <thead class="bg-light">
                    <tr>
                        <th>Trace Id</th>
                        <th>Span Id</th>
                        <th>Span Kind</th>
                        <th>Timestamp</th>
                        <th>Status Code</th>
                        <th>Deployment Environment</th>
                        <th>DB Collection Name</th>
                        <th>DB Operation Name</th>
                        <th>DB Statement</th>
                        <th>DB System Name</th>
                        <th>DB Vector Count</th>
                        <th>Gen AI Operation Name</th>
                        <th>Request Duration</th>
                        <th>Server Address</th>
                        <th>Server Port</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let view of viewData">
                        <td class="tdw-8 text-truncate">
                            <div>{{view.traceId}}</div>
                        </td>
                        <td class="tdw-8 text-truncate">
                            <div>{{view.spanId}}</div>
                        </td>
                        <td class="tdw-10">
                            <div>{{view.spanKind}}</div>
                        </td>
                        <td class="tdw-10">
                            <div>{{view.timestamp}}</div>
                        </td>
                        <td class="tdw-10">
                            <div>{{view.statusCode}}</div>
                        </td>
                        <td class="tdw-5">
                            <div>{{view.deploymentEnvironment}}</div>
                        </td>
                        <td class="tdw-10">
                            <div>{{view.dbCollectionName}}</div>
                        </td>
                        <td class="tdw-5">
                            <div>{{view.dbOperationName}}</div>
                        </td>
                        <td class="tdw-5">
                            <div>{{view.dbStatement}}</div>
                        </td>
                        <td class="tdw-5">
                            <div>{{view.dbSystemName}}</div>
                        </td>
                        <td class="tdw-5">
                            <div>{{view.dbVectorCount}}</div>
                        </td>
                        <td class="tdw-5">
                            <div>{{view.genAIOperationName}}</div>
                        </td>
                        <td class="tdw-5">
                            <div>{{view.requestDuration}}</div>
                        </td>
                        <td class="tdw-5">
                            <div>{{view.serverAddress}}</div>
                        </td>
                        <td class="tdw-5">
                            <div>{{view.serverPort}}</div>
                        </td>
                    </tr>
                </tbody>
                <div class="text-center text-muted py-4" *ngIf="!viewData?.length">No associated Traces were found!!</div>
            </table>
        </div>
        <table-entries [pageNo]="currentCriteria.pageNo" [pageSize]="currentCriteria.pageSize" [totalCount]="count">
        </table-entries>
        <table-pager *ngIf="viewData?.length" [pageNo]="currentCriteria.pageNo" [pageSize]="currentCriteria.pageSize"
            [totalCount]="count" (pageChange)="pageChange($event)"></table-pager>
    </div>
</div>