# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# node libraries & installs
tools/node/
node_modules/

# Build output
dist/
webpack-stats.json
webpack-stats-mtp.json
build/

#code coverages
coverage/

# Environment
.env
.env.local

# Temporary
tmp/
temp/