# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# node libraries & installs
tools/node/

# https://www.python.org/downloads/windows/
# Download:python-3.13.12-embed-amd64.zip and rename folder to python
tools/python/

node_modules/

# Sensitive Information
tools/mock-api/customer/managed/gcp/accounts.json

# Build output
dist/
uldb/webpack-stats-mtp.json
uldb/webpack-stats.json
build/

#code coverages
coverage/

# Environment
.env
.env.local

# Temporary
tmp/
temp/

# Compressed Directories
uldb_static_export.tar.gz
unity_export.tar.gz
mtp_export.tar.gz