.section-name {
  position: absolute;
  top: -0.75rem;
  left: 1rem;
  z-index: 1;
  padding: 0 0.5rem;
  font-size: 1.02rem;
}

.custom-border-left {
  border-left: 1px dashed #c8ced3;
  border-bottom: 1px dashed #c8ced3;
  margin-right: -0.55rem;
}

.custom-margin-top {
  margin-top: -1.90rem !important;
}

.custom-margin-bottom {
  margin-bottom: 1.30rem !important;
}

.custom-tree-margin-bottom {
  margin-bottom: 2.4rem !important;
}