<ng-container *ngIf="activeTabId">
    <ng-container [ngSwitch]="activeTabId">
        <ng-container *ngSwitchCase="'ipAddress'">
            <ng-container *ngTemplateOutlet="ipAddressRef"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'macAddress'">
            <ng-container *ngTemplateOutlet="macAddressDetailsRef"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'interface'">
            <ng-container *ngTemplateOutlet="interfaceDetailsRef"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'os'">
            <ng-container *ngTemplateOutlet="osRef"></ng-container>
        </ng-container>
    </ng-container>
</ng-container>

<ng-template #ipAddressRef>
    <div class="card mb-0 border-0 rounded-0">
        <div class="card-body p-0">
            <div class="card mb-0 border-0 rounded-0">
                <app-spinner [name]="'ipAddressSpinner'"></app-spinner>
                <div class="card-body p-0 border-0">
                    <div class="table-responsive-no-truncate">
                        <table class="table table-sm text-left" tableStickyScroll>
                            <thead class="bg-light">
                                <tr>
                                    <th>Name</th>
                                    <th>Category</th>
                                    <th>Management Address</th>
                                    <th>Address Type</th>
                                    <th>Token ID</th>
                                    <th>Protocol Type</th>
                                    <th>Type</th>
                                    <th>Mark As Deleted</th>
                                    <th>DNS Host Name</th>
                                    <th>Item</th>
                                    <th>Address</th>
                                    <th>Short Description</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let view of ipAddressViewData; let i = index">
                                    <td>
                                        <div>{{view.name}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.category}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.managementAddress}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.addressType}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.tokenId}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.protocolType}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.type}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.markAsDeleted}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.dnsHostName}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.item}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.address}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.shortDescription}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.description}}</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="text-center text-muted py-5" *ngIf="!ipAddressViewData?.length">
                            No associated
                            IP Address data
                            found.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #macAddressDetailsRef>
    <div class="card mb-0 border-0 rounded-0">
        <div class="card-body p-0">
            <div class="card mb-0 border-0 rounded-0">
                <app-spinner [name]="'macAddressSpinner'"></app-spinner>
                <div class="card-body p-0 border-0">
                    <div class="table-responsive-no-truncate">
                        <table class="table table-sm text-left mb-0" tableStickyScroll>
                            <thead class="bg-light">
                                <tr>
                                    <th>Name</th>
                                    <th>Name Format</th>
                                    <th>MAC Address</th>
                                    <th>Address</th>
                                    <th>Protocol Type</th>
                                    <th>Category</th>
                                    <th>Type</th>
                                    <th>Item</th>
                                    <th>Token Id</th>
                                    <th>Company</th>
                                    <th>Short Description</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let view of macAddressViewData;let i = index">
                                    <td>
                                        <div>{{view.name}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.nameFormat}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.macAddress}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.address}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.protocolType}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.category}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.type}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.item}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.tokenId}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.company}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.shortDescription}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.description}}</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="text-center text-muted py-4" *ngIf="!macAddressViewData?.length">No
                            associated MAC Addresses data found.
                        </div>
                    </div>
                    <div class="col-12">
                        <table-entries [pageNo]="currentCriteria.pageNo" [pageSize]="currentCriteria.pageSize"
                            [totalCount]="macAddressCount">
                        </table-entries>
                        <table-pager *ngIf="macAddressCount" [pageNo]="currentCriteria.pageNo"
                            [pageSize]="currentCriteria.pageSize" [totalCount]="macAddressCount"
                            (pageChange)="pageChange($event)"></table-pager>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #interfaceDetailsRef>
    <div class="card mb-0 border-0 rounded-0">
        <app-spinner [name]="'interfaceSpinner'"></app-spinner>
        <div class="card-body p-0">
            <div class="card mb-0 border-0 rounded-0">
                <div class="card-body p-0 border-0">
                    <div class="table-responsive-no-truncate">
                        <table class="table table-sm text-left mb-0" tableStickyScroll>
                            <thead class="bg-light">
                                <tr>
                                    <th>Name</th>
                                    <th>Name Format</th>
                                    <th>Manufacturer Name</th>
                                    <th>Network Address</th>
                                    <th>Permanenet Address</th>
                                    <th>Port Type</th>
                                    <th>Category</th>
                                    <th>Type</th>
                                    <th>Item</th>
                                    <th>Token ID</th>
                                    <th>Speed</th>
                                    <th>Company</th>
                                    <th>Short Description</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let view of interfaceViewData;let i = index">
                                    <td>
                                        <div>{{view.name}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.nameFormat}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.manufacturerName}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.networkAddresses}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.permanentAddress}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.portType}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.category}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.type}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.item}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.tokenId}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.speed}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.company}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.shortDescription}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.description}}</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="text-center text-muted py-4" *ngIf="!interfaceViewData?.length">No
                            associated Interfaces data found.
                        </div>
                    </div>
                    <div class="col-12">
                        <table-entries [pageNo]="currentCriteria.pageNo" [pageSize]="currentCriteria.pageSize"
                            [totalCount]="interfacesCount">
                        </table-entries>
                        <table-pager *ngIf="interfacesCount" [pageNo]="currentCriteria.pageNo"
                            [pageSize]="currentCriteria.pageSize" [totalCount]="interfacesCount"
                            (pageChange)="pageChange($event)"></table-pager>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #osRef>
    <div class="card mb-0 border-0 rounded-0">
        <div class="card-body p-0">
            <div class="card mb-0 border-0 rounded-0">
                <app-spinner [name]="'osSpinner'"></app-spinner>
                <div class="card-body p-0 border-0">
                    <div class="table-responsive-no-truncate">
                        <table class="table table-sm text-left" tableStickyScroll>
                            <thead class="bg-light">
                                <tr>
                                    <th>Name</th>
                                    <th>System Name</th>
                                    <th>Category</th>
                                    <th>Type</th>
                                    <th>OS Type</th>
                                    <th>Item</th>
                                    <th>Token ID</th>
                                    <th>Mark As Deleted</th>
                                    <th>Manufacturer Name</th>
                                    <th>Model</th>
                                    <th>Market Version</th>
                                    <th>License Type</th>
                                    <th>Short Description</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let view of osViewData; let i = index">
                                    <td>
                                        <div>{{view.name}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.systemName}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.category}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.type}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.osType}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.item}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.tokenId}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.markAsDeleted}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.manufacturerName}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.model}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.marketVersion}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.licenseType}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.shortDescription}}</div>
                                    </td>
                                    <td>
                                        <div>{{view.description}}</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="text-center text-muted py-5" *ngIf="!osViewData?.length">
                            No associated
                            Operating System data
                            found.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>