.step-icon {
    width: 30px;
    height: 30px;
    background-color: #cfe2ff;
}

.card-body{
    // background-color: black;
    // color: white;
    min-height: 300px;
}

.topology-card{
  min-height: calc(100vh - 150px);
}

#dc-node-details-wrapper{
  position: absolute !important;
}

#pc-node-details-wrapper{
  position: absolute !important;
}
