@import "variables";

.steps {
    position: relative;
}

.steps-container {
    position: relative;
    background-color: inherit;
    display: flex;
    flex-direction: row-reverse;
    .content {
        width: 100%;
        background-color: $white;
        margin-left: 25px;
        top: -7px;
        position: relative;
        &:before {
            content: "";
            background: $secondary;
            width: 14px;
            height: 14px;
            display: block;
            position: relative;
            left: -7px;
            color: $secondary;
            transform: rotate(45deg);
            border-radius: 0 0 0 2px;
            top: 13px;
        }
        .card {
            top: -15px;
            margin-bottom: 0;
        }
    }

    .step-icon {
        width: 26px;
        height: 26px;
        background-color: $gray-600;
        color: $white;
        border-radius: 50%;
        flex-shrink: 0;
        align-items: center;
        display: flex;
        justify-content: center;
        z-index: 777;
        &::after {
            content: "";
            position: absolute;
            width: 1px;
            background-color: $gray-600;
            top: 0;
            bottom: 0;
            left: 13px;
            top: 25px;
        }
    }
    &:last-of-type {
        & .step-icon:after {
            display: none !important;
        }
    }
}
