@import "variables";

.maintenance-widget .month-row {
  font-size: 13px;
  background-color: $gray-100;
}

.maintenance-widget .month-name {
  font-size: 15px;
  font-weight: 500;
}

.schedules-list {
  height: 11rem;
}

.event-bullet {
  background-color: $gray-300;
  width: 0.5rem;
  height: 0.5rem;
  box-shadow: none;
}
