<ng-container>
    <div class="row neg-mt mb-2">
        <div class="col">
            <data-refresh-btn (refresh)="refreshData($event)"></data-refresh-btn>
        </div>
    </div>
    <div class="card">
        <div class="card-body border-bottom-0 py-2">
            <div class="row">
                <div class="col-12">
                    <form *ngIf="filterForm" [formGroup]="filterForm">
                        <div class="row">
                            <div class="form-group col-3">
                                <label id="emission_by" class="form-col-form-label">Emission By<em>*</em></label>
                                <select id="emission_by" class="form-control form-control-sm"
                                    formControlName="emission_by">
                                    <option [value]="'datacenter'">Datacenter</option>
                                    <option [value]="'public_cloud'">Public Cloud</option>
                                </select>
                            </div>
                            <div class="form-group col-3" *ngIf="filterForm.controls.data_center">
                                <label id="datacenter" class="form-col-form-label">Datacenter<em>*</em></label>
                                <multiselect-dropdown id="datacenter" [options]="datacenters" [settings]="dcSettings"
                                    class="form-control p-0" (dropdownClosed)="dcChange()" style="height:auto;"
                                    formControlName="data_center"></multiselect-dropdown>
                            </div>
                            <div class="form-group col-3" *ngIf="filterForm.controls.cabinets">
                                <label id="cabinet" class="form-col-form-label">Cabinets<em>*</em></label>
                                <multiselect-dropdown id="cabinet" [options]="cabinets" [settings]="cabinetSettings"
                                    class="form-control p-0" style="height:auto;"
                                    formControlName="cabinets"></multiselect-dropdown>
                            </div>
                            <div class="form-group col-3" *ngIf="filterForm.controls.device_types">
                                <label id="device_type" class="form-col-form-label">Device Type<em>*</em></label>
                                <multiselect-dropdown id="device_type" [options]="deviceTypes"
                                    [settings]="deviceTypeSettings" class="form-control p-0" style="height:auto;"
                                    formControlName="device_types"></multiselect-dropdown>
                            </div>
                            <div class="form-group col-3" *ngIf="filterForm.controls.cloud_type">
                                <label id="services" class="form-col-form-label">Cloud Name<em>*</em></label>
                                <select id="services" class="form-control form-control-sm p-0"
                                    formControlName="cloud_type">
                                    <option [value]="'gcp'">GCP</option>
                                    <option [value]="'aws'">AWS</option>
                                    <option [value]="'azure'" disabled>AZURE</option>
                                </select>
                            </div>
                            <div class="form-group col-3" *ngIf="filterForm.controls.cloud_accounts">
                                <label id="subscription" class="form-col-form-label">Subscription<em>*</em></label>
                                <multiselect-dropdown id="subscription" [options]="publicCloudAccounts"
                                    [settings]="publicCloudAccountSettings" class="form-control p-0"
                                    style="height:auto;" [ngValue]="names"
                                    formControlName="cloud_accounts"></multiselect-dropdown>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-sm btn-pill btn-warning" type="button"
                                    (click)="filterData()">Submit</button>
                                <button class="btn btn-sm btn-pill btn-warning ml-2" type="button"
                                    (click)="resetFilterForm()">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <ng-container [ngSwitch]="viewType">
                <ng-container *ngSwitchCase="'datacenter'">
                    <ng-container *ngTemplateOutlet="dcView;"></ng-container>
                </ng-container>
                <ng-container *ngSwitchCase="'public_cloud'">
                    <ng-container [ngSwitch]="cloudType">
                        <ng-container *ngSwitchCase="'gcp'">
                            <ng-container *ngTemplateOutlet="gcpView;"></ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'aws'">
                            <ng-container *ngTemplateOutlet="awsView;"></ng-container>
                        </ng-container>
                    </ng-container >
                </ng-container>
            </ng-container>
        </div>
    </div>
</ng-container>

<ng-template #dcView>
    <div class="row">
        <div class="col-6">
            <div class="card mb-0 border-0 equalize-card">
                <div class="card-body py-0 chart-block">
                    <canvas *ngIf="dcChartData" baseChart [chartType]="dcChartData.bar.type"
                        [labels]="dcChartData.bar.lables" [datasets]="dcChartData.bar.bardata"
                        [options]="dcChartData.bar.options" [plugins]="dcChartData.bar.plugins"
                        [legend]="dcChartData.bar.legend" [colors]="dcChartData.bar.colors" height="180"></canvas>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card mb-0 border-0 equalize-card">
                <div class="card-body py-0 chart-block">
                    <canvas *ngIf="dcChartData" baseChart [chartType]="dcChartData.pie.type"
                        [labels]="dcChartData.pie.lables" [data]="dcChartData.pie.piedata"
                        [options]="dcChartData.pie.options" [plugins]="dcChartData.pie.plugins"
                        [legend]="dcChartData.pie.legend" [colors]="dcChartData.pie.colors" height="150"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card mb-0 border-0 equalize-card">
                <div class="card-body py-0 chart-block">
                    <canvas *ngIf="cabinetChartData" baseChart [chartType]="cabinetChartData.bar.type"
                        [labels]="cabinetChartData.bar.lables" [datasets]="cabinetChartData.bar.bardata"
                        [options]="cabinetChartData.bar.options" [plugins]="cabinetChartData.bar.plugins"
                        [legend]="cabinetChartData.bar.legend" [colors]="cabinetChartData.bar.colors"
                        height="180"></canvas>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card mb-0 border-0 equalize-card">
                <div class="card-body py-0 chart-block">
                    <canvas *ngIf="cabinetChartData" baseChart [chartType]="cabinetChartData.pie.type"
                        [labels]="cabinetChartData.pie.lables" [data]="cabinetChartData.pie.piedata"
                        [options]="cabinetChartData.pie.options" [plugins]="cabinetChartData.pie.plugins"
                        [legend]="cabinetChartData.pie.legend" [colors]="cabinetChartData.pie.colors"
                        height="150"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="card mb-0 border-0">
                <div class="card-body py-0 chart-block">
                    <canvas *ngIf="deviceTypeChartData" baseChart [chartType]="deviceTypeChartData.bar.type"
                        [labels]="deviceTypeChartData.bar.lables" [datasets]="deviceTypeChartData.bar.bardata"
                        [options]="deviceTypeChartData.bar.options" [plugins]="deviceTypeChartData.bar.plugins"
                        [legend]="deviceTypeChartData.bar.legend" [colors]="deviceTypeChartData.bar.colors"
                        height="180"></canvas>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card mb-0 border-0">
                <div class="card-body py-0 chart-block">
                    <canvas *ngIf="deviceTypeChartData" baseChart [chartType]="deviceTypeChartData.pie.type"
                        [labels]="deviceTypeChartData.pie.lables" [data]="deviceTypeChartData.pie.piedata"
                        [options]="deviceTypeChartData.pie.options" [plugins]="deviceTypeChartData.pie.plugins"
                        [legend]="deviceTypeChartData.pie.legend" [colors]="deviceTypeChartData.pie.colors"
                        height="150"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="card mb-0 border-0">
                <div class="card-body py-0 chart-block">
                    <canvas *ngIf="quarterChartData" baseChart [chartType]="quarterChartData.type"
                        [labels]="quarterChartData.lables" [datasets]="quarterChartData.bardata"
                        [options]="quarterChartData.options" [plugins]="quarterChartData.plugins"
                        [legend]="quarterChartData.legend" [colors]="quarterChartData.colors" height="200"></canvas>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #gcpView>
    <div *ngIf="!selectedFilterData.cloud_accounts.length" class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body py-4">
                    <div class="empty-clouds text-center py-5"> No GCP Subscriptions Selected.</div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="selectedFilterData.cloud_accounts.length" class="row">
        <div class="col-3 text-center pl-0">
            <div class="card">
                <span class="badge badge-light w-100">
                    <div class="text-center py-3">
                        <div class="text-value">{{co2EmissionSummary.totalCarbonFootprintSum}} tCO₂e </div>
                        <div class="text-muted mt-2">Total emission per annum </div>
                    </div>
                </span>
            </div>
        </div>
        <div class="col-3 text-center pl-0">
            <div class="card">
                <span class="badge badge-light w-100">
                    <div class="text-center py-3">
                        <div class="text-value">{{co2EmissionSummary.serviceNames}}</div>
                        <div class="text-muted mt-2">Products</div>
                    </div>
                </span>
            </div>
        </div>
        <div class="col-3 text-center pl-0">
            <div class="card">
                <span class="badge badge-light w-100">
                    <div class="text-center py-3">
                        <div class="text-value">{{co2EmissionSummary.projectNames}}</div>
                        <div class="text-muted mt-2">Projects</div>
                    </div>
                </span>
            </div>
        </div>
        <div class="col-3 text-center pl-0">
            <div class="card">
                <span class="badge badge-light w-100">
                    <div class="text-center py-3">
                        <div class="text-value">{{gcpHighestCo2Product.highestCo2Product}}</div>
                        <div class="text-muted mt-2"> Highest Carbon Emission Product</div>
                    </div>
                </span>
            </div>
        </div>
        <div class="col-6 mb-3">
            <div class="card equalize-card">
                <app-spinner [name]="co2ByProductData.loader"></app-spinner>
                <div class="card-header py-1 d-flex justify-content-between align-items-center">
                    <h5 class="m-0">Emission By Product per annum (TCO2e)</h5>
                    <div class="btn-group">
                        <button class="btn btn-sm btn-outline-secondary"
                            [class.active]="co2ByProductData.viewType == 'chart'" type="button"
                            (click)="co2ByProductData.viewType = 'chart'">
                            <span class="fas fa-chart-line"></span>
                        </button>
                        <button class="btn btn-sm btn-outline-secondary"
                            [class.active]="co2ByProductData.viewType == 'list'" type="button"
                            (click)="co2ByProductData.viewType = 'list'">
                            <span class="fas fa-list"></span>
                        </button>
                    </div>
                </div>
                <div class="card-body py-0 chart-block mt-4" *ngIf="co2ByProductData.viewType == 'chart'">
                    <canvas *ngIf="co2ByProductData.chartData" baseChart [chartType]="co2ByProductData.chartData.type"
                        [labels]="co2ByProductData.chartData.lables" [datasets]="co2ByProductData.chartData.bardata"
                        [options]="co2ByProductData.chartData.options" [plugins]="co2ByProductData.chartData.plugins"
                        [legend]="co2ByProductData.chartData.legend" [colors]="co2ByProductData.chartData.colors"
                        height="180"></canvas>
                </div>
                <div class="card-body py-0 chart-block" *ngIf="co2ByProductData.viewType == 'list'">
                    <table class="table text-left mt-6" sortableTable (sorted)="onSorted($event)"
                        *ngIf="co2ByProductData.listData.length">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Emission</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let view of co2ByProductData.listData">
                                <td>{{view.product}}</td>
                                <td>{{view.emissionValue}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex h-100 justify-content-center align-items-center text-muted"
                        *ngIf="!co2ByProductData.listData.length">CO2 emission data not
                        available.</div>
                </div>
            </div>
        </div>
        <div class="col-6 mb-3">
            <div class="card equalize-card">
                <app-spinner [name]="co2ByProjectData.loader"></app-spinner>
                <div class="card-header py-1 d-flex justify-content-between align-items-center">
                    <h5 class="m-0">Emission By Project per annum (TCO2e)</h5>
                    <div class="btn-group">
                        <button class="btn btn-sm btn-outline-secondary"
                            [class.active]="co2ByProjectData.viewType == 'chart'" type="button"
                            (click)="co2ByProjectData.viewType = 'chart'">
                            <span class="fas fa-chart-line"></span>
                        </button>
                        <button class="btn btn-sm btn-outline-secondary"
                            [class.active]="co2ByProjectData.viewType == 'list'" type="button"
                            (click)="co2ByProjectData.viewType = 'list'">
                            <span class="fas fa-list"></span>
                        </button>
                    </div>
                </div>
                <div class="card-body py-0 chart-block mt-4" *ngIf="co2ByProjectData.viewType == 'chart'">
                    <canvas *ngIf="co2ByProjectData.chartData" baseChart [chartType]="co2ByProjectData.chartData.type"
                        [labels]="co2ByProjectData.chartData.lables" [datasets]="co2ByProjectData.chartData.bardata"
                        [options]="co2ByProjectData.chartData.options" [plugins]="co2ByProjectData.chartData.plugins"
                        [legend]="co2ByProjectData.chartData.legend" [colors]="co2ByProjectData.chartData.colors"
                        height="180"></canvas>
                </div>
                <div class="card-body py-0 chart-block" *ngIf="co2ByProjectData.viewType == 'list'">
                    <table class="table text-left" sortableTable (sorted)="onSorted($event)"
                        *ngIf="co2ByProjectData.listData.length">
                        <thead>
                            <tr>
                                <th>Project</th>
                                <th>Emission</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let view of co2ByProjectData.listData">
                                <td>{{view.project}}</td>
                                <td>{{view.emissionValue}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex h-100 justify-content-center align-items-center text-muted"
                        *ngIf="!co2ByProjectData.listData.length">CO2 emission data not
                        available.</div>
                </div>
            </div>
        </div>
        <div class="col-6 mb-3">
            <div class="card equalize-card">
                <app-spinner [name]="co2ByRegionData.loader"></app-spinner>
                <div class="card-header py-1 d-flex justify-content-between align-items-center">
                    <h5 class="m-0">Emission By Region per annum (TCO2e)</h5>
                    <div class="btn-group">
                        <button class="btn btn-sm btn-outline-secondary"
                            [class.active]="co2ByRegionData.viewType == 'chart'" type="button"
                            (click)="co2ByRegionData.viewType = 'chart'">
                            <span class="fas fa-chart-line"></span>
                        </button>
                        <button class="btn btn-sm btn-outline-secondary"
                            [class.active]="co2ByRegionData.viewType == 'list'" type="button"
                            (click)="co2ByRegionData.viewType = 'list'">
                            <span class="fas fa-list"></span>
                        </button>
                    </div>
                </div>
                <div class="card-body py-0 chart-block mt-4" *ngIf="co2ByRegionData.viewType == 'chart'">
                    <canvas *ngIf="co2ByRegionData.chartData" baseChart [chartType]="co2ByRegionData.chartData.type"
                        [labels]="co2ByRegionData.chartData.lables" [datasets]="co2ByRegionData.chartData.bardata"
                        [options]="co2ByRegionData.chartData.options" [plugins]="co2ByRegionData.chartData.plugins"
                        [legend]="co2ByRegionData.chartData.legend" [colors]="co2ByRegionData.chartData.colors"
                        height="180"></canvas>
                </div>
                <div class="card-body py-0 chart-block" *ngIf="co2ByRegionData.viewType == 'list'">
                    <table class="table text-left" sortableTable (sorted)="onSorted($event)"
                        *ngIf="co2ByRegionData.listData.length">
                        <thead>
                            <tr>
                                <th>Region</th>
                                <th>Emission</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let view of co2ByRegionData.listData">
                                <td>{{view.region}}</td>
                                <td>{{view.emissionValue}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex h-100 justify-content-center align-items-center text-muted"
                        *ngIf="!co2ByRegionData.listData.length">CO2 emission data not
                        available.</div>
                </div>
            </div>
        </div>
        <div class="col-6 mb-3">
            <div class="card equalize-card">
                <app-spinner [name]="co2ByQuarterData.loader"></app-spinner>
                <div class="card-header py-1 d-flex justify-content-between align-items-center">
                    <h5 class="m-0">Emission By Quarter (TCO2e)</h5>
                    <div class="btn-group">
                        <button class="btn btn-sm btn-outline-secondary"
                            [class.active]="co2ByQuarterData.viewType == 'chart'" type="button"
                            (click)="co2ByQuarterData.viewType = 'chart'">
                            <span class="fas fa-chart-line"></span>
                        </button>
                        <button class="btn btn-sm btn-outline-secondary"
                            [class.active]="co2ByQuarterData.viewType == 'list'" type="button"
                            (click)="co2ByQuarterData.viewType = 'list'">
                            <span class="fas fa-list"></span>
                        </button>
                    </div>
                </div>
                <div class="card-body py-0 chart-block mt-4" *ngIf="co2ByQuarterData.viewType == 'chart'">
                    <canvas *ngIf="co2ByQuarterData.chartData" baseChart [chartType]="co2ByQuarterData.chartData.type"
                        [labels]="co2ByQuarterData.chartData.lables" [datasets]="co2ByQuarterData.chartData.bardata"
                        [options]="co2ByQuarterData.chartData.options" [plugins]="co2ByQuarterData.chartData.plugins"
                        [legend]="co2ByQuarterData.chartData.legend" [colors]="co2ByQuarterData.chartData.colors"
                        height="180"></canvas>
                </div>
                <div class="card-body py-0 chart-block" *ngIf="co2ByQuarterData.viewType == 'list'">
                    <table class="table text-left" sortableTable (sorted)="onSorted($event)"
                        *ngIf="co2ByQuarterData.listData.length">
                        <thead>
                            <tr>
                                <th>Quarter</th>
                                <th>Emission</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let view of co2ByQuarterData.listData">
                                <td>{{view.quarter}}</td>
                                <td>{{view.emissionValue}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex h-100 justify-content-center align-items-center text-muted"
                        *ngIf="!co2ByQuarterData.listData.length">CO2 emission data not
                        available.</div>
                </div>
            </div>
        </div>

        <div class="col-6 mb-3">
            <div class="card equalize-card">
                <app-spinner [name]="co2ByMonthData.loader"></app-spinner>
                <div class="card-header py-1 d-flex justify-content-between align-items-center">
                    <h5 class="m-0">Emission By Month (TCO2e)</h5>
                    <div class="btn-group">
                        <button class="btn btn-sm btn-outline-secondary"
                            [class.active]="co2ByMonthData.viewType == 'chart'" type="button"
                            (click)="co2ByMonthData.viewType = 'chart'">
                            <span class="fas fa-chart-line"></span>
                        </button>
                        <button class="btn btn-sm btn-outline-secondary"
                            [class.active]="co2ByMonthData.viewType == 'list'" type="button"
                            (click)="co2ByMonthData.viewType = 'list'">
                            <span class="fas fa-list"></span>
                        </button>
                    </div>
                </div>
                <div class="card-body py-0 chart-block mt-4" *ngIf="co2ByMonthData.viewType == 'chart'">
                    <canvas *ngIf="co2ByMonthData.chartData" baseChart [chartType]="co2ByMonthData.chartData.type"
                        [labels]="co2ByMonthData.chartData.lables" [datasets]="co2ByMonthData.chartData.bardata"
                        [options]="co2ByMonthData.chartData.options" [plugins]="co2ByMonthData.chartData.plugins"
                        [legend]="co2ByMonthData.chartData.legend" [colors]="co2ByMonthData.chartData.colors"
                        height="180"></canvas>
                </div>
                <div class="card-body py-0 chart-block" *ngIf="co2ByMonthData.viewType == 'list'">
                    <table class="table text-left" sortableTable (sorted)="onSorted($event)"
                        *ngIf="co2ByMonthData.listData.length">
                        <thead>
                            <tr>
                                <th>Month</th>
                                <th>Emission</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let view of co2ByMonthData.listData">
                                <td>{{view.month}}</td>
                                <td>{{view.emissionValue}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex h-100 justify-content-center align-items-center text-muted"
                        *ngIf="!co2ByMonthData.listData.length">CO2 emission data not
                        available.</div>
                </div>
            </div>
        </div>
        <div class="col-6 mb-3">
            <div class="card equalize-card">
                <app-spinner [name]="co2ByYearData.loader"></app-spinner>
                <div class="card-header py-1 d-flex justify-content-between align-items-center">
                    <h5 class="m-0">Emission By Year (TCO2e)</h5>
                    <div class="btn-group">
                        <button class="btn btn-sm btn-outline-secondary"
                            [class.active]="co2ByYearData.viewType == 'chart'" type="button"
                            (click)="co2ByYearData.viewType = 'chart'">
                            <span class="fas fa-chart-line"></span>
                        </button>
                        <button class="btn btn-sm btn-outline-secondary"
                            [class.active]="co2ByYearData.viewType == 'list'" type="button"
                            (click)="co2ByYearData.viewType = 'list'">
                            <span class="fas fa-list"></span>
                        </button>
                    </div>
                </div>
                <div class="card-body py-0 chart-block mt-4" *ngIf="co2ByYearData.viewType == 'chart'">
                    <canvas *ngIf="co2ByYearData.chartData" baseChart [chartType]="co2ByYearData.chartData.type"
                        [labels]="co2ByYearData.chartData.lables" [datasets]="co2ByYearData.chartData.bardata"
                        [options]="co2ByYearData.chartData.options" [plugins]="co2ByYearData.chartData.plugins"
                        [legend]="co2ByYearData.chartData.legend" [colors]="co2ByYearData.chartData.colors"
                        height="180"></canvas>
                </div>
                <div class="card-body py-0 chart-block" *ngIf="co2ByYearData.viewType == 'list'">
                    <table class="table text-left" sortableTable (sorted)="onSorted($event)"
                        *ngIf="co2ByYearData.listData.length">
                        <thead>
                            <tr>
                                <th>Year</th>
                                <th>Emission</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let view of co2ByYearData.listData">
                                <td>{{view.year}}</td>
                                <td>{{view.emissionValue}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex h-100 justify-content-center align-items-center text-muted"
                        *ngIf="!co2ByYearData.listData.length">CO2 emission data not
                        available.</div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #awsView>
    <div *ngIf="!selectedFilterData.cloud_accounts.length">
        <div class="col-12">
            <div class="card">
                <div class="card-body py-4">
                    <div class="empty-clouds text-center py-5"> No AWS Subscriptions Selected.</div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="selectedFilterData.cloud_accounts.length" class="row">
        <div class="col-3 text-center pl-0">
            <div class="card">
                <span class="badge badge-light w-100">
                    <div class="text-center py-3">
                        <div class="text-value">{{awsCo2EmissionSummary.totalEmission}} tCO₂e </div>
                        <div class="text-muted mt-2">Total emission per annum </div>
                    </div>
                </span>
            </div>
        </div>
        <div class="col-3 text-center pl-0">
            <div class="card">
                <span class="badge badge-light w-100">
                    <div class="text-center py-3">
                        <div class="text-value">{{awsCo2EmissionSummary.totalAccountCount}} </div>
                        <div class="text-muted mt-2">Accounts</div>
                    </div>
                </span>
            </div>
        </div>
        <div class="col-3 text-center pl-0">
            <div class="card">
                <span class="badge badge-light w-100">
                    <div class="text-center py-3">
                        <div class="text-value">{{awsHighestCo2Service.awsHighestCo2Service}}</div>
                        <div class="text-muted mt-2">Highest Carbon Emission Service</div>
                    </div>
                </span>
            </div>
        </div>
        <div class="col-3 text-center pl-0">
            <div class="card">
                <span class="badge badge-light w-100">
                    <div class="text-center py-3">
                        <div class="text-value">{{awsHighestCo2Geography.awsHighestCo2Geography}}</div>
                        <div class="text-muted mt-2"> Highest Carbon Emission Geography</div>
                    </div>
                </span>
            </div>
        </div>
        <div class="col-6 mb-3">
            <div class="card equalize-card">
                <app-spinner [name]="awsCo2ByServiceData.loader"></app-spinner>
                <div class="card-header py-1 d-flex justify-content-between align-items-center">
                    <h5 class="m-0">Emission By Service per annum (TCO2e)</h5>
                    <div class="btn-group">
                        <button class="btn btn-sm btn-outline-secondary"
                            [class.active]="awsCo2ByServiceData.viewType == 'chart'" type="button"
                            (click)="awsCo2ByServiceData.viewType = 'chart'">
                            <span class="fas fa-chart-line"></span>
                        </button>
                        <button class="btn btn-sm btn-outline-secondary"
                            [class.active]="awsCo2ByServiceData.viewType == 'list'" type="button"
                            (click)="awsCo2ByServiceData.viewType = 'list'">
                            <span class="fas fa-list"></span>
                        </button>
                    </div>
                </div>
                <div class="card-body py-0 chart-block mt-4" *ngIf="awsCo2ByServiceData.viewType == 'chart'">
                    <canvas *ngIf="awsCo2ByServiceData.chartData" baseChart [chartType]="awsCo2ByServiceData.chartData.type"
                        [labels]="awsCo2ByServiceData.chartData.lables" [datasets]="awsCo2ByServiceData.chartData.bardata"
                        [options]="awsCo2ByServiceData.chartData.options" [plugins]="awsCo2ByServiceData.chartData.plugins"
                        [legend]="awsCo2ByServiceData.chartData.legend" [colors]="awsCo2ByServiceData.chartData.colors"
                        height="180"></canvas>
                </div>
                <div class="card-body py-0 chart-block" *ngIf="awsCo2ByServiceData.viewType == 'list'">
                    <table class="table text-left mt-6" sortableTable *ngIf="awsCo2ByServiceData.listData.length">
                        <thead>
                            <tr>
                                <th>Service</th>
                                <th>Emission</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let view of awsCo2ByServiceData.listData">
                                <td>{{view.service}}</td>
                                <td>{{view.emissionValue}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex h-100 justify-content-center align-items-center text-muted"
                        *ngIf="!awsCo2ByServiceData.listData.length">CO2 emission data not
                        available.</div>
                </div>
            </div>
        </div>
        <div class="col-6 mb-3">
            <div class="card equalize-card">
                <app-spinner [name]="awsCo2ByGeographyData.loader"></app-spinner>
                <div class="card-header py-1 d-flex justify-content-between align-items-center">
                    <h5 class="m-0">Emission By Geography per annum (TCO2e)</h5>
                    <div class="btn-group">
                        <button class="btn btn-sm btn-outline-secondary"
                            [class.active]="awsCo2ByGeographyData.viewType == 'chart'" type="button"
                            (click)="awsCo2ByGeographyData.viewType = 'chart'">
                            <span class="fas fa-chart-line"></span>
                        </button>
                        <button class="btn btn-sm btn-outline-secondary"
                            [class.active]="awsCo2ByGeographyData.viewType == 'list'" type="button"
                            (click)="awsCo2ByGeographyData.viewType = 'list'">
                            <span class="fas fa-list"></span>
                        </button>
                    </div>
                </div>
                <div class="card-body py-0 chart-block mt-4" *ngIf="awsCo2ByGeographyData.viewType == 'chart'">
                    <canvas *ngIf="awsCo2ByGeographyData.chartData" baseChart [chartType]="awsCo2ByGeographyData.chartData.type"
                        [labels]="awsCo2ByGeographyData.chartData.lables" [datasets]="awsCo2ByGeographyData.chartData.bardata"
                        [options]="awsCo2ByGeographyData.chartData.options" [plugins]="awsCo2ByGeographyData.chartData.plugins"
                        [legend]="awsCo2ByGeographyData.chartData.legend" [colors]="awsCo2ByGeographyData.chartData.colors"
                        height="180"></canvas>
                </div>
                <div class="card-body py-0 chart-block" *ngIf="awsCo2ByGeographyData.viewType == 'list'">
                    <table class="table text-left mt-6" sortableTable  (sorted)="onSorted($event)" *ngIf="awsCo2ByGeographyData.listData.length">
                        <thead>
                            <tr>
                                <th>Geography</th>
                                <th>Emission</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let view of awsCo2ByGeographyData.listData">
                                <td>{{view.geography}}</td>
                                <td>{{view.emissionValue}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex h-100 justify-content-center align-items-center text-muted"
                        *ngIf="!awsCo2ByGeographyData.listData.length">CO2 emission data not
                        available.</div>
                </div>
            </div>
        </div>
        <div class="col-6 mb-3">
            <div class="card equalize-card">
                <app-spinner [name]="awsCo2ByAccountData.loader"></app-spinner>
                <div class="card-header py-1 d-flex justify-content-between align-items-center">
                    <h5 class="m-0">Emission By Account (TCO2e)</h5>
                    <div class="btn-group">
                        <button class="btn btn-sm btn-outline-secondary"
                            [class.active]="awsCo2ByAccountData.viewType == 'chart'" type="button"
                            (click)="awsCo2ByAccountData.viewType = 'chart'">
                            <span class="fas fa-chart-line"></span>
                        </button>
                        <button class="btn btn-sm btn-outline-secondary"
                            [class.active]="awsCo2ByAccountData.viewType == 'list'" type="button"
                            (click)="awsCo2ByAccountData.viewType = 'list'">
                            <span class="fas fa-list"></span>
                        </button>
                    </div>
                </div>
                <div class="card-body py-0 chart-block mt-4" *ngIf="awsCo2ByAccountData.viewType == 'chart'">
                    <canvas *ngIf="awsCo2ByAccountData.chartData" baseChart [chartType]="awsCo2ByAccountData.chartData.type"
                        [labels]="awsCo2ByAccountData.chartData.lables" [datasets]="awsCo2ByAccountData.chartData.bardata"
                        [options]="awsCo2ByAccountData.chartData.options" [plugins]="awsCo2ByAccountData.chartData.plugins"
                        [legend]="awsCo2ByAccountData.chartData.legend" [colors]="awsCo2ByAccountData.chartData.colors"
                        height="180"></canvas>
                </div>
                <div class="card-body py-0 chart-block" *ngIf="awsCo2ByAccountData.viewType == 'list'">
                    <table class="table text-left mt-6" sortableTable *ngIf="awsCo2ByAccountData.listData.length">
                        <thead>
                            <tr>
                                <th>Account</th>
                                <th>Emission</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let view of awsCo2ByAccountData.listData">
                                <td>{{view.account}}</td>
                                <td>{{view.emissionValue}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex h-100 justify-content-center align-items-center text-muted"
                        *ngIf="!awsCo2ByAccountData.listData.length">CO2 emission data not
                        available.</div>
                </div>
            </div>
        </div>
        <div class="col-6 mb-3">
            <div class="card equalize-card">
                <app-spinner [name]="awsCo2ByAccountIdData.loader"></app-spinner>
                <div class="card-header py-1 d-flex justify-content-between align-items-center">
                    <h5 class="m-0">Emission By Account Id (TCO2e)</h5>
                    <div class="btn-group">
                        <button class="btn btn-sm btn-outline-secondary"
                            [class.active]="awsCo2ByAccountIdData.viewType == 'chart'" type="button"
                            (click)="awsCo2ByAccountIdData.viewType = 'chart'">
                            <span class="fas fa-chart-line"></span>
                        </button>
                        <button class="btn btn-sm btn-outline-secondary"
                            [class.active]="awsCo2ByAccountIdData.viewType == 'list'" type="button"
                            (click)="awsCo2ByAccountIdData.viewType = 'list'">
                            <span class="fas fa-list"></span>
                        </button>
                    </div>
                </div>
                <div class="card-body py-0 chart-block mt-4" *ngIf="awsCo2ByAccountIdData.viewType == 'chart'">
                    <canvas *ngIf="awsCo2ByAccountIdData.chartData" baseChart [chartType]="awsCo2ByAccountIdData.chartData.type"
                        [labels]="awsCo2ByAccountIdData.chartData.lables" [datasets]="awsCo2ByAccountIdData.chartData.bardata"
                        [options]="awsCo2ByAccountIdData.chartData.options" [plugins]="awsCo2ByAccountIdData.chartData.plugins"
                        [legend]="awsCo2ByAccountIdData.chartData.legend" [colors]="awsCo2ByAccountIdData.chartData.colors"
                        height="180"></canvas>
                </div>
                <div class="card-body py-0 chart-block" *ngIf="awsCo2ByAccountIdData.viewType == 'list'">
                    <table class="table text-left mt-6" sortableTable *ngIf="awsCo2ByAccountIdData.listData.length">
                        <thead>
                            <tr>
                                <th>Account Id</th>
                                <th>Emission</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let view of awsCo2ByAccountIdData.listData">
                                <td>{{view.accountId}}</td>
                                <td>{{view.emissionValue}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex h-100 justify-content-center align-items-center text-muted"
                        *ngIf="!awsCo2ByAccountIdData.listData.length">CO2 emission data not
                        available.</div>
                </div>
            </div>
        </div>
        <div class="col-6 mb-3">
            <div class="card equalize-card">
                <app-spinner [name]="awsCo2ByQuarterData.loader"></app-spinner>
                <div class="card-header py-1 d-flex justify-content-between align-items-center">
                    <h5 class="m-0">Emission By Quarter (TCO2e)</h5>
                    <div class="btn-group">
                        <button class="btn btn-sm btn-outline-secondary"
                            [class.active]="awsCo2ByQuarterData.viewType == 'chart'" type="button"
                            (click)="awsCo2ByQuarterData.viewType = 'chart'">
                            <span class="fas fa-chart-line"></span>
                        </button>
                        <button class="btn btn-sm btn-outline-secondary"
                            [class.active]="awsCo2ByQuarterData.viewType == 'list'" type="button"
                            (click)="awsCo2ByQuarterData.viewType = 'list'">
                            <span class="fas fa-list"></span>
                        </button>
                    </div>
                </div>
                <div class="card-body py-0 chart-block mt-4" *ngIf="awsCo2ByQuarterData.viewType == 'chart'">
                    <canvas *ngIf="awsCo2ByQuarterData.chartData" baseChart [chartType]="awsCo2ByQuarterData.chartData.type"
                        [labels]="awsCo2ByQuarterData.chartData.lables" [datasets]="awsCo2ByQuarterData.chartData.bardata"
                        [options]="awsCo2ByQuarterData.chartData.options" [plugins]="awsCo2ByQuarterData.chartData.plugins"
                        [legend]="awsCo2ByQuarterData.chartData.legend" [colors]="awsCo2ByQuarterData.chartData.colors"
                        height="180"></canvas>
                </div>
                <div class="card-body py-0 chart-block" *ngIf="awsCo2ByQuarterData.viewType == 'list'">
                    <table class="table text-left mt-6" sortableTable *ngIf="awsCo2ByQuarterData.listData.length">
                        <thead>
                            <tr>
                                <th>Quarter</th>
                                <th>Emission</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let view of awsCo2ByQuarterData.listData">
                                <td>{{view.quarter}}</td>
                                <td>{{view.emissionValue}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex h-100 justify-content-center align-items-center text-muted"
                        *ngIf="!awsCo2ByQuarterData.listData.length">CO2 emission data not
                        available.</div>
                </div>
            </div>
        </div>
        <div class="col-6 mb-3">
            <div class="card equalize-card">
                <app-spinner [name]="awsCo2ByMonthData.loader"></app-spinner>
                <div class="card-header py-1 d-flex justify-content-between align-items-center">
                    <h5 class="m-0">Emission By Month (TCO2e)</h5>
                    <div class="btn-group">
                        <button class="btn btn-sm btn-outline-secondary"
                            [class.active]="awsCo2ByMonthData.viewType == 'chart'" type="button"
                            (click)="awsCo2ByMonthData.viewType = 'chart'">
                            <span class="fas fa-chart-line"></span>
                        </button>
                        <button class="btn btn-sm btn-outline-secondary"
                            [class.active]="awsCo2ByMonthData.viewType == 'list'" type="button"
                            (click)="awsCo2ByMonthData.viewType = 'list'">
                            <span class="fas fa-list"></span>
                        </button>
                    </div>
                </div>
                <div class="card-body py-0 chart-block mt-4" *ngIf="awsCo2ByMonthData.viewType == 'chart'">
                    <canvas *ngIf="awsCo2ByMonthData.chartData" baseChart [chartType]="awsCo2ByMonthData.chartData.type"
                        [labels]="awsCo2ByMonthData.chartData.lables" [datasets]="awsCo2ByMonthData.chartData.bardata"
                        [options]="awsCo2ByMonthData.chartData.options" [plugins]="awsCo2ByMonthData.chartData.plugins"
                        [legend]="awsCo2ByMonthData.chartData.legend" [colors]="awsCo2ByMonthData.chartData.colors"
                        height="180"></canvas>
                </div>
                <div class="card-body py-0 chart-block" *ngIf="awsCo2ByMonthData.viewType == 'list'">
                    <table class="table text-left mt-6" sortableTable *ngIf="awsCo2ByMonthData.listData.length">
                        <thead>
                            <tr>
                                <th>Month</th>
                                <th>Emission</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let view of awsCo2ByMonthData.listData">
                                <td>{{view.month}}</td>
                                <td>{{view.emissionValue}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex h-100 justify-content-center align-items-center text-muted"
                        *ngIf="!awsCo2ByMonthData.listData.length">CO2 emission data not
                        available.</div>
                </div>
            </div>
        </div>
        <div class="col-6 mb-3">
            <div class="card equalize-card">
                <app-spinner [name]="awsCo2ByYearData.loader"></app-spinner>
                <div class="card-header py-1 d-flex justify-content-between align-items-center">
                    <h5 class="m-0">Emission By Year (TCO2e)</h5>
                    <div class="btn-group">
                        <button class="btn btn-sm btn-outline-secondary"
                            [class.active]="awsCo2ByYearData.viewType == 'chart'" type="button"
                            (click)="awsCo2ByYearData.viewType = 'chart'">
                            <span class="fas fa-chart-line"></span>
                        </button>
                        <button class="btn btn-sm btn-outline-secondary"
                            [class.active]="awsCo2ByYearData.viewType == 'list'" type="button"
                            (click)="awsCo2ByYearData.viewType = 'list'">
                            <span class="fas fa-list"></span>
                        </button>
                    </div>
                </div>
                <div class="card-body py-0 chart-block mt-4" *ngIf="awsCo2ByYearData.viewType == 'chart'">
                    <canvas *ngIf="awsCo2ByYearData.chartData" baseChart [chartType]="awsCo2ByYearData.chartData.type"
                        [labels]="awsCo2ByYearData.chartData.lables" [datasets]="awsCo2ByYearData.chartData.bardata"
                        [options]="awsCo2ByYearData.chartData.options" [plugins]="awsCo2ByYearData.chartData.plugins"
                        [legend]="awsCo2ByYearData.chartData.legend" [colors]="awsCo2ByYearData.chartData.colors"
                        height="180"></canvas>
                </div>
                <div class="card-body py-0 chart-block" *ngIf="awsCo2ByYearData.viewType == 'list'">
                    <table class="table text-left mt-6" sortableTable *ngIf="awsCo2ByYearData.listData.length">
                        <thead>
                            <tr>
                                <th>Year</th>
                                <th>Emission</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let view of awsCo2ByYearData.listData">
                                <td>{{view.year}}</td>
                                <td>{{view.emissionValue}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex h-100 justify-content-center align-items-center text-muted"
                        *ngIf="!awsCo2ByYearData.listData.length">CO2 emission data not
                        available.</div>
                </div>
            </div>
        </div>
    </div>
</ng-template>