<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title">End User License Agreement</h4>
</div>
<div class="modal-body" style="height: 600px;">
    <iframe id="frame" src="https://docs.google.com/viewer?srcid=1gizo2uZnrxmmlWFMtOuMrOHFJCurocPN&pid=explorer&efh=false&a=v&chrome=false&embedded=true" style="width : 100%; height : 100%;" frameborder="0"></iframe>
</div>
<div class="modal-footer">
    <!--<span class="pull-left" style="padding: 7px; width: 65%; text-align: left;">By continuing to use this application you accept to be in agreement with the terms in this EULA. A copy of this document has been sent to your registered email address.</span>-->
    <span class="pull-left" style="text-align: left;">By continuing to use this application you accept to be in agreement with the terms in this EULA.<br> A copy of this document has been sent to your registered email address.</span>
    <button type="button" class="btn btn-default" style="margin-top: 6px;" ng-click="close()">Close</button>
</div>

