@import "variables";

.device_status_indicator {
  z-index: 200;
  left: 92%;
  position: absolute;
  font-size: 5px !important;
  border: $gray-300 2px solid;
  border-radius: 45% !important;
  height: 13px;
  a:hover {
    color: $white;
  }
}

.device_status_indicator.unit_2 {
  margin-top: -13px;
}
.device_status_indicator.unit_3 {
  margin-top: -26px;
}
.device_status_indicator.unit_4 {
  margin-top: -39px;
}
.device_status_indicator.unit_5 {
  margin-top: -52px;
}
.device_status_indicator.unit_6 {
  margin-top: -65px;
}
.device_status_indicator.unit_7 {
  margin-top: -78px;
}
.device_status_indicator.unit_8 {
  margin-top: -91px;
}
.device_status_indicator.unit_9 {
  margin-top: -104px;
}
.device_status_indicator.unit_10 {
  margin-top: -117px;
}
.device_status_indicator.unit_11 {
  margin-top: -130px;
}
.device_status_indicator.unit_12 {
  margin-top: -143px;
}
.device_status_indicator.unit_13 {
  margin-top: -156px;
}
.device_status_indicator.unit_14 {
  margin-top: -169px;
}
.device_status_indicator.unit_15 {
  margin-top: -182px;
}
.device_status_indicator.unit_16 {
  margin-top: -195px;
}
.device_status_indicator.unit_17 {
  margin-top: -208px;
}
.device_status_indicator.unit_18 {
  margin-top: -221px;
}
.device_status_indicator.unit_19 {
  margin-top: -234px;
}
.device_status_indicator.unit_20 {
  margin-top: -247px;
}
