.subscription-subtitle {
    padding-top: 2px;
}

.npsubscription-subtitle {
    padding-top: 2px;
}

.info-lighter {
    background-color: #d8ecff;
}

.secondary-lighter {
    background-color: #c8ced3;
}

.badge {
    border-radius: 50%;
    padding: 7px 9px;
    margin: 0 8px;
    font-size: 10px;
}