.event-form-control,
.event-form-control:active,
.event-form-control:focus {
    border-top: none !important;
    border-right: none !important;
    border-bottom: 1px solid black !important;
    border-left: none !important;
}
