<div class="custom-gradient-bg d-flex flex-column h-100 overflow-hidden pb-0 pt-1 px-1 border-top" *ngIf="showHotKeys"
  style="overflow-y: auto !important;">
  <!-- Tabs -->
  <div *ngIf="isExpanded" class="row mx-0 mt-3 mb-2 px-2 flex-shrink-0 justify-content-center">
    <div *ngFor="let tab of tabs" class="col-auto d-flex">
      <button class="btn btn-pill tab-icon" (click)="tabChanged.emit(tab)" [ngClass]="{ 'active': tab.isSelected }">
        {{ tab.name }}
      </button>
    </div>
  </div>
  <!-- Workflow List -->
  <div class="row m-0 p-0">
    <div [ngClass]="isExpanded ? 'col-8 offset-2' : 'col-12 p-0 m-0'">
      <div id="defaultQueries" class="mt-2 p-2">
        <div *ngIf="workflowNames && workflowNames.length; else noWorkflows">
          <div class="row mx-0">
            <div *ngFor="let wfn of workflowNames" [ngClass]="isExpanded ? 'col-6 px-1 mb-2' : 'col-12 px-0 mb-2'">
              <div class="card round-edge w-100" style="margin-bottom: 0px;">
                <div class="card-body p-2 default-query w-100" style="cursor: pointer" (click)="selectHotKey(wfn)">
                  <div class="d-flex align-items-center justify-content-between w-100">
                    <div class="text-muted font-sm ml-2 hover-text text-truncate">
                      {{ wfn?.name }}
                    </div>
                    <div
                      class="d-flex align-items-center justify-content-center rounded-circle angle-icon flex-shrink-0"
                      [ngClass]="{'disable': isTyping}">
                      <i class="fas fa-angle-right font-sm"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ng-template #noWorkflows>
          <ng-container *ngIf="moduleSpinner">
            <div class="d-flex align-items-center justify-content-center p-5">
              <span class="fas fa-spinner fa-spin fa-lg"></span>
              <span class="ml-2">Loading</span>
            </div>
          </ng-container>
          <div class="text-center text-muted" *ngIf="!moduleSpinner">
            There are no agentic workflows found
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>


<ng-container *ngIf="!isExpanded">
  <div class="custom-gradient-bg d-flex flex-column h-100 overflow-hidden pb-0 pt-1 px-1 border-top p-2"
    *ngIf="chatbotData?.entityId && !showHotKeys">
    <div class="d-flex justify-content-between align-items-center" style="color: #73818f;">
      <div class="font-weight-bold">{{chatbotData?.entity}}</div>
      <div>
        <button class="btn btn-pill pull-right btn-sm ml-2" type="button" container="body" (click)="returnAgentic()"><i
            class="fa fa-arrow-left text-muted"></i>
        </button>
      </div>
    </div>
    <div #messagesContainer class="messages-container d-flex flex-column justify-content-between">
      <div class="d-flex flex-column w-100" style="max-width: 100%;">
        <ng-container *ngFor="let msg of chatHistoryData" class="d-flex flex-column w-100" style="max-width: 100%;">
          <div class="message-row mb-2" [ngClass]="{ 'user pr-3': msg.sender === 'user', 'bot': msg.sender === 'bot' }">
            <div class="message-box mb-2" [ngClass]="{ 'user-message': msg.sender === 'user' }">
              <markdown *ngIf="msg.sender === 'bot'" [data]="msg.message"></markdown>
              <div *ngIf="msg.sender === 'user'" class="user-text">{{ msg.message }}</div>
              <span class="dots" *ngIf="msg.sender === 'bot' && (!msg.message || msg.status === 'Running')"></span>
            </div>
          </div>
        </ng-container>

        <div *ngIf="isTyping" class="d-flex justify-content-start mb-2">
          <div class="message-box bot-message d-flex">
            <div class="pulse-loader ml-1 align-self-end mb-1">
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="w-100 mt-auto p-2">
      <div class="round-edge bg-white w-100 form-wrapper">
        <div class="row">
          <div class="col">
            <input class="form-control round-edge" type="text" placeholder="Ask me anything..." [(ngModel)]="newMessage"
              (keydown.enter)="onEnter($event)" style="height:2.7rem; border: 0 !important;">
          </div>
        </div>
        <div class="d-flex justify-content-end mb-2 pt-1">
          <button type="button" class="btn btn-sm mx-2 mt-4 query-button btn-success query-button-success"
            (click)="send(newMessage)">
            <i class="fas fa-arrow-up font-md text-white"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="isExpanded">
  <div class="custom-gradient-bg d-flex flex-column h-100 overflow-hidden pb-0 pt-1 px-3 border-top p-2"
    *ngIf="chatbotData?.entityId && !showHotKeys">
    <div class="row">
      <div class="col-8 offset-2">
        <div class="d-flex justify-content-between align-items-center mb-2" style="color: #73818f;">
          <div class="font-weight-bold">{{chatbotData?.entity}}</div>
          <button class="btn btn-pill pull-right btn-sm ml-2" type="button" container="body" (click)="returnAgentic()">
            <i class="fa fa-arrow-left text-muted"></i>
          </button>
        </div>
      </div>
    </div>
    <div #messagesContainer class="messages-container d-flex flex-column flex-grow-1 overflow-auto">
      <div class="row">
        <div class="col-8 offset-2">
          <div class="d-flex flex-column w-100">
            <ng-container *ngFor="let msg of chatHistoryData">
              <div class="message-row mb-2"
                [ngClass]="{'user pr-3': msg.sender === 'user', 'bot': msg.sender === 'bot'}">
                <div class="message-box mb-2" [ngClass]="{'user-message': msg.sender === 'user'}">
                  <markdown *ngIf="msg.sender === 'bot'" [data]="msg.message">
                  </markdown>
                  <div *ngIf="msg.sender === 'user'" class="user-text">
                    {{ msg.message }}
                  </div>
                </div>
              </div>
            </ng-container>

            <div *ngIf="isTyping" class="d-flex justify-content-start mb-2">
              <div class="message-box bot-message d-flex">
                <div class="pulse-loader ml-1 align-self-end mb-1">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="w-100 p-2 flex-shrink-0">
      <div class="row">
        <div class="col-8 offset-2">
          <div class="round-edge bg-white w-100 form-wrapper">
            <div class="row">
              <div class="col">
                <input class="form-control round-edge" type="text" placeholder="Ask me anything..."
                  [(ngModel)]="newMessage" (keydown.enter)="onEnter($event)"
                  style="height:2.7rem; border: 0 !important;">
              </div>
            </div>
            <div class="d-flex justify-content-end mb-2 pt-1">
              <button type="button" class="btn btn-sm mx-2 mt-4 query-button btn-success query-button-success"
                (click)="send(newMessage)">
                <i class="fas fa-arrow-up font-md text-white"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>