<app-main-tab [tabItems]="tabItems"></app-main-tab>
<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-12">
        <iframe id="frame" [src]="url" frameborder="0" style="width:100%;height:100vh;"></iframe>
      </div>
      <!-- <div class="col-12">
        <div class="card">
          <div class="card-header">Enable Two-Factor Authentication</div>
          <div class="card-body">
            <div>
              Two-factor authentication is not enabled for your account. Enable two-factor authentication for enhanced
              account security.
            </div>
            <div>
              <button class="btn btn-sm btn-success pull-right ml-1" type="button">Enable Now</button>
              <button class="btn btn-sm btn-danger pull-right" type="button">Cancel</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="card">
          <div class="card-header">Enable Two-Factor Authentication
            <div class="float-right "><span class="font-sm align-middle">If you don't want to enable, click&nbsp;</span><a
                class="btn btn-sm btn-secondary pull-right">Cancel</a></div>
          </div>
          <div class="card-body">
            <div>
              Click <b>Next</b> to set up two-factor authentication.
            </div>
            <div>
              <button class="btn btn-sm btn-success pull-right ml-1" type="button">Next&nbsp;<i class="fa fa-arrow-right"></i></button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="card">
          <div class="card-header">Enable Two-Factor Authentication
            <div class="float-right "><span class="font-sm align-middle">If you don't want to enable, click&nbsp;</span><a
                class="btn btn-sm btn-secondary pull-right">Cancel</a></div>
          </div>
          <div class="card-body">
            <div>
              To start using a security token generator, please use an TOTP-based security token generator app on your
              smartphone to scan the QR code shown below.<br>
              The following TOTP client implementations are known to work:
              <ul>
                <li>Google Authenticator</li>
                <li>Microsoft Authenticator</li>
                <li>Duo Mobile</li>
                <li>FreeOTP</li>
              </ul>
              <p>
                <img class="d-block m-auto" src="static/dist/assets/img/avatars/default_user.jpg">
              </p>
              <form class="form-horizontal">
                <div class="form-group row">
                  <div class="col-12">
                    <input class="form-control" type="number" placeholder="Token">
                  </div>
                </div>
              </form>
            </div>
            <div>
              <button class="btn btn-sm btn-success pull-right ml-1" type="button">Next&nbsp;<i class="fa fa-arrow-right"></i></button>
              <button class="btn btn-sm btn-success pull-right ml-1" type="button"><i class="fa fa-arrow-left"></i>&nbsp;Previous</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="card">
          <div class="card-header">Enable Two-Factor Authentication
            <div class="float-right "><span class="font-sm align-middle">If you don't want to enable, click&nbsp;</span><a
                class="btn btn-sm btn-secondary pull-right">Cancel</a></div>
          </div>
          <div class="card-body">
            <div>
              Congratulations, you've successfully enabled two-factor authentication.
            </div>
            <div>
              <button class="btn btn-sm btn-success pull-right ml-1" type="button">Back to Profile</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="card">
          <div class="card-header">Enable Two-Factor Authentication
            <div class="float-right "><span class="font-sm align-middle">If you don't want to enable, click&nbsp;</span><a
                class="btn btn-sm btn-secondary pull-right">Cancel</a></div>
          </div>
          <div class="card-body">
            <div>
              Tokens will be generated by your token generator.
              <p>Backup Tokens</p>
              <p>You may generate a set of backup tokens to use in the event that you lose access to your authenticator
                app. Each token may be used only once. After you have used all your backup tokens, you must either
                generate more tokens or regain access to your authenticator app, or else you will be locked out of your
                account.</p>
              <p>You have 0 backup tokens remaining.</p>
              <p>
                Click below to generate codes only if you are sure that you would like the option to use a backup token
                instead of your authenticator app.
              </p>
              <button class="btn btn-outline-danger">Generate Codes</button><br>
              <p class="font-lg">Disable Two-Factor Authentication
              </p>
              <p>By clicking the button below, you can disable two-factor authentication for your account. <b>Not
                  recommended.</b>
              </p>
            </div>
            <div>
              <button class="btn btn-sm btn-success pull-right ml-1" type="button">Disable Two-Factor Authentication</button>
              <button class="btn btn-sm btn-success pull-right ml-1" type="button">Cancel</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="card">
          <div class="card-header">Enable Two-Factor Authentication
            <div class="float-right "><span class="font-sm align-middle">If you don't want to enable, click&nbsp;</span><a
                class="btn btn-sm btn-secondary pull-right">Cancel</a></div>
          </div>
          <div class="card-body">
            <div>
              Backup tokens can be used when your primary and backup phone numbers aren't available. The backup tokens
              below can be used for login verification. If you've used up all your backup tokens, you can generate a
              new set of backup tokens. Only the backup tokens shown below will be valid.
              <p>You don't have any backup codes yet.
              </p>
            </div>
            <div>
              <button class="btn btn-sm btn-success pull-right ml-1" type="button">Generate Tokens</button>
              <button class="btn btn-sm btn-danger pull-right ml-1" type="button">Back to Account Security</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="card">
          <div class="card-header">Disable Two-Factor Authentication
            <div class="float-right "><span class="font-sm align-middle">If you don't want to enable, click&nbsp;</span><a
                class="btn btn-sm btn-secondary pull-right">Cancel</a></div>
          </div>
          <div class="card-body">
            <div>
              You are about to disable two-factor authentication, which may decrease the security of your account.
              Proceed only if you are sure that you want to disable two-factor authentication.
              After disabling two-factor authentication, you may re-enable it in the future.
              <p>You don't have any backup codes yet.
              </p>
              <form class="form-horizontal">
                <div class="form-group row">
                  <label class="col-2 col-form-label">Yes, I am sure:</label>
                  <div class="col-10 col-form-label">
                    <div class="form-check form-check-inline mr-1">
                      <input class="form-check-input" id="inline-checkbox1" type="checkbox" value="check1">
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div>
              <button class="btn btn-sm btn-danger pull-right ml-1" type="button">Disable</button>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>