<div class="card text-center border-0 mb-0">
    <div class="card-header bg-transparent d-flex justify-content-between align-items-center px-0 py-2">
        <div class="d-flex justify-content-center align-items-center font-500">
            <span class="badge badge-secondary font-sm">{{viewData.length}}</span>
            <span class="ml-1 font-lg">PDUs</span>
        </div>
    </div>
    <div class="card-body px-0 pt-0">
        <table class="table table-sm text-left fold-table">
            <thead class="bg-light">
                <tr>
                    <th>Hostname</th>
                    <th>Management IP</th>
                    <th>Manufacturer</th>
                    <th>Model</th>
                    <th>Cabinet</th>
                    <th>Position</th>
                    <th>Size</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let view of viewData; let i = index">
                    <tr class="view" (click)="open(view)" accessControl moduleName="Onboarding"
                        accessType="Manage Onboarding" elementType="div">
                        <td>
                            <button class="btn btn-link text-decoration-none p-0 table-column-btn" type="button">
                                <i class="fas row-caret" [ngClass]="view.isOpen ? 'fa-caret-down' : 'fa-caret-right'"
                                    *ngIf="view.openEnabled" [ngClass]="{'opened': view.isOpen}">&nbsp;</i>
                                <i class="fas fa-check row-caret" *ngIf="!view.openEnabled">&nbsp;</i>{{view.hostname}}
                            </button>
                        </td>
                        <td>
                            <div>{{view.ip}}</div>
                        </td>
                        <td>
                            <div>{{view.manufaturer}}</div>
                        </td>
                        <td>
                            <div>{{view.model}}</div>
                        </td>
                        <td>
                            <div>{{view.cabinet}}</div>
                        </td>
                        <td>
                            <div>{{view.form.get('position').value}}</div>
                        </td>
                        <td>
                            <div>{{view.form.get('size').value}}</div>
                        </td>
                    </tr>
                    <tr class="fold" #fold [ngClass]="{'open' : view.isOpen}">
                        <td colspan="7">
                            <form [formGroup]="view.form" *ngIf="view.form">
                                <div class="form-group">
                                    <div class="invalid-credentials" *ngIf="view.nonFieldErr">{{view.nonFieldErr}}</div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-3">
                                        <label class="form-col-form-label">Name<em>*</em></label>
                                        <input id="name" class="form-control" type="text" formControlName="name"
                                            [class.is-invalid]="view.formErrors.name" accessControl
                                            moduleName="Onboarding" accessType="Manage Onboarding"
                                            elementType="formelem">
                                        <div class="invalid-feedback" *ngIf="view.formErrors.name">
                                            {{view.formErrors.name}}</div>
                                    </div>
                                    <div class="form-group col-3">
                                        <label class="form-col-form-label">Asset Tag</label>
                                        <input id="asset_tag" class="form-control" type="text"
                                            formControlName="asset_tag" [class.is-invalid]="view.formErrors.asset_tag"
                                            accessControl moduleName="Onboarding" accessType="Manage Onboarding"
                                            elementType="formelem">
                                        <div class="invalid-feedback" *ngIf="view.formErrors.asset_tag">
                                            {{view.formErrors.asset_tag}}</div>
                                    </div>
                                    <div class="form-group col-3" formGroupName="manufacturer">
                                        <label class="font-col-form-label"
                                            for="manufacturerid">Manufacturer<em>*</em></label>
                                        <select id="{{i}}-manufacturerid" class="form-control" formControlName="id"
                                            [class.is-invalid]="view.formErrors.manufacturer.id" accessControl
                                            moduleName="Onboarding" accessType="Manage Onboarding"
                                            elementType="formelem">
                                            <option value="" disabled>Select Manufacturer</option>
                                            <option *ngFor="let manufacturer of manufacturers"
                                                [value]="manufacturer.id">
                                                {{manufacturer.name}}</option>
                                        </select>
                                        <div class="invalid-feedback" *ngIf="view.formErrors.manufacturer.id">
                                            {{view.formErrors.manufacturer.id}}</div>
                                    </div>
                                    <div class="form-group col-3" formGroupName="model">
                                        <label class="font-col-form-label" for="modelid">PDU Model<em>*</em></label>
                                        <select id="modelid" class="form-control" formControlName="id"
                                            [class.is-invalid]="view.formErrors.model.id" accessControl
                                            moduleName="Onboarding" accessType="Manage Onboarding"
                                            elementType="formelem">
                                            <option value="" disabled>Select Model</option>
                                            <option *ngFor="let model of view.models" [value]="model.id">
                                                {{model.model_number}}</option>
                                        </select>
                                        <div class="invalid-feedback" *ngIf="view.formErrors.model.id">
                                            {{view.formErrors.model.id}}</div>
                                    </div>
                                    <div class="form-group col-3">
                                        <label class="form-col-form-label" for="pdu_type">PDU Type<em>*</em></label>
                                        <select class="form-control" id="pdu_type" formControlName="pdu_type"
                                            [ngClass]="{'is-invalid' : view.formErrors.pdu_type}" accessControl
                                            moduleName="Onboarding" accessType="Manage Onboarding"
                                            elementType="formelem">
                                            <option [value]="''" disabled>Select PDU Type</option>
                                            <option [value]="'HORIZONTAL'">Horizontal</option>
                                            <option [value]="'VERTICAL'">Vertical</option>
                                        </select>
                                        <div class="invalid-feedback" *ngIf="view.formErrors.pdu_type">
                                            {{view.formErrors.pdu_type}}</div>
                                    </div>
                                    <div class="form-group col-3" formGroupName="power_circuit">
                                        <label class="font-col-form-label" for="power_circuitid">Power
                                            Circuit<em>*</em></label>
                                        <select id="power_circuitid" class="form-control" formControlName="id"
                                            [class.is-invalid]="view.formErrors.power_circuit.id" accessControl
                                            moduleName="Onboarding" accessType="Manage Onboarding"
                                            elementType="formelem">
                                            <option value="" disabled>Select Power Circuit</option>
                                            <option *ngFor="let power_circuit of powercircuits"
                                                [value]="power_circuit.id">
                                                {{power_circuit.full_name}}</option>
                                        </select>
                                        <div class="invalid-feedback" *ngIf="view.formErrors.power_circuit.id">
                                            {{view.formErrors.power_circuit.id}}</div>
                                    </div>
                                    <div class="form-group col-3">
                                        <label class="form-col-form-label">Sockets<em>*</em></label>
                                        <i class="fa fa-info-circle text-muted ml-2" container="body"
                                            containerClass="info-multi-line"
                                            [tooltip]="'Sockets of the Device\nEg.1,2,3,4...'"></i>
                                        <input id="sockets" class="form-control" type="number" min="1"
                                            formControlName="sockets" [class.is-invalid]="view.formErrors.sockets"
                                            accessControl moduleName="Onboarding" accessType="Manage Onboarding"
                                            elementType="formelem">
                                        <div class="invalid-feedback" *ngIf="view.formErrors.sockets">
                                            {{view.formErrors.sockets}}</div>
                                    </div>
                                    <div class="form-group col-3" formGroupName="cabinet">
                                        <label class="font-col-form-label" for="cabinetid">Cabinet<em>*</em></label>
                                        <select id="cabinetid" class="form-control" formControlName="id"
                                            [class.is-invalid]="view.formErrors.cabinet.id" accessControl
                                            moduleName="Onboarding" accessType="Manage Onboarding"
                                            elementType="formelem">
                                            <option value="" disabled>Select Cabinet</option>
                                            <option *ngFor="let cabinet of cabinets" [value]="cabinet.id">
                                                {{cabinet.name}}</option>
                                        </select>
                                        <div class="invalid-feedback" *ngIf="view.formErrors.cabinet.id">
                                            {{view.formErrors.cabinet.id}}</div>
                                    </div>
                                    <div class="form-group col-3">
                                        <label class="form-col-form-label">Position</label>
                                        <i class="fa fa-info-circle text-muted ml-2" container="body"
                                            containerClass="info-multi-line"
                                            [tooltip]="'For Horizontal PDU type Device Position Eg.1,2,3,4...\nFor Vertical PDU type Device Position Eg.A,B,C,D.'"></i>
                                        <input id="position" class="form-control" type="text" min="0"
                                            formControlName="position" [class.is-invalid]="view.formErrors.position"
                                            accessControl moduleName="Onboarding" accessType="Manage Onboarding"
                                            elementType="formelem">
                                        <div class="invalid-feedback" *ngIf="view.formErrors.position">
                                            {{view.formErrors.position}}</div>
                                    </div>
                                    <div class="form-group col-3">
                                        <label class="form-col-form-label">Size<em>*</em></label>
                                        <i class="fa fa-info-circle text-muted ml-2" container="body"
                                            containerClass="info-multi-line"
                                            [tooltip]="'Size of the Device\nEg.1, 2, 3'"></i>
                                        <input id="size" class="form-control" type="number" min="1"
                                            formControlName="size" [class.is-invalid]="view.formErrors.size"
                                            accessControl moduleName="Onboarding" accessType="Manage Onboarding"
                                            elementType="formelem">
                                        <div class="invalid-feedback" *ngIf="view.formErrors.size">
                                            {{view.formErrors.size}}</div>
                                    </div>
                                    <div class="form-group col-3">
                                        <label class="form-col-form-label">Management IP</label>
                                        <i class="fa fa-info-circle text-muted ml-2" container="body"
                                            containerClass="info-multi-line"
                                            [tooltip]="'Device IP Address for Console Access'"></i>
                                        <input id="management_ip" class="form-control" type="text"
                                            formControlName="management_ip"
                                            [class.is-invalid]="view.formErrors.management_ip" accessControl
                                            moduleName="Onboarding" accessType="Manage Onboarding"
                                            elementType="formelem">
                                        <div class="invalid-feedback" *ngIf="view.formErrors.management_ip">
                                            {{view.formErrors.management_ip}}</div>
                                    </div>
                                    <!-- <div class="form-group col-3">
                                        <label class="form-col-form-label">Observium ID</label>
                                        <input id="{{i}}-observium_id" class="form-control" type="text" formControlName="observium_id">
                                    </div> -->
                                </div>
                            </form>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>

        <div class="row">
            <div class="col-12">
                <div class="text-center text-muted py-4" *ngIf="!viewData.length">No associated PDUs available.</div>
                <br>
            </div>
            <div class="col">
                <button *ngIf="viewData.length" class="btn btn-sm btn-success pull-right ml-1" type="button"
                    (click)="submit()" accessControl moduleName="Onboarding" accessType="Manage Onboarding"
                    elementType="btn">Submit</button>
                <advanced-discovery-next-prev></advanced-discovery-next-prev>
            </div>
        </div>
    </div>
</div>