.right-content {
  width : calc(100% - 260px) !important;
  position: inherit;
}

td.no-records-td .no-record-warning {
  font-size: 18px !important;
}

.modal-lg.cabinet_view_modal_content {
  width : calc(100% - 260px) !important;
  margin-top: 70px !important;
}

.leftnavicon {
  height: 24px;
  width: 24px;
  margin: -1px 21px 0 0;
  text-decoration: none;
}

.margin-left-5percent {
  margin-left: 5%;
}

.ml-2 {
  margin-left: 2%;
}

.my-0{
  margin-top: 0px !important;
  margin-bottom:0px !important;
}

.p5{
  padding: 5%;
}

.p2{
  padding: 2%;
}

.pl-2{
  padding-left: 2% !important;
}

.px-2{
  padding-left: 2% !important;
  padding-right: 2% !important;
}

.leftnavsubicon {
  height: 21px;
  width: 21px;
  margin: -1px 21px 0 0;
  text-decoration: none;
}

.cousor_pointer {
  cursor: pointer;
}

html, body {
  height: 100%;
}

.fontsize14px {
  font-size: 14px !important;
}

.fontsize17px {
  font-size: 17px !important;
}

.fontsize18px {
  font-size: 18px !important;
}

.fontsize20px {
  font-size: 20px !important;
}

.fontsize25px {
  font-size: 25px !important;
}

.fontsize27px {
  font-size: 27px !important;
}

.fontsize30px {
  font-size: 30px !important;
}

.text_right {
  text-align: right;
}

.height300px {
  height: 300px !important;
}

.scrolling_model {
  max-height: 200px !important;
  overflow: auto !important;
}

.pdu_bar_color {
  background-color: #E8F5E9;
}

.pdu_div_overflow {
  overflow: auto;
  max-height: 300px;
}

.ngn-error {
  background-color: #ff7f7f;
}

.table_no_top_border{
  border-top: none !important;
}

.white_text {
  color: #FFFFFF !important;
}

.dropdown-divider {
  height: 0;
  margin: .5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}

.userTimezone{
  padding-top: 10px;
  padding-left: 10px;
  font-size: 13px;
  color: #6d6d6d;
}

.select-arrow {
  background-image:  url(../../images/dropdown-arrow.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  float: right;
  height: 8px;
  margin-right: 9px;
  position: relative;
  top: -20px;
  width: 13px;
  pointer-events:none;
}

.user-detail .user-name {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #6d6d6d;
  font-size: 13px;
  margin: 0 6px 0 10px;
  padding: 0;
  text-align: right;
  width: 80px;
}


.poweredOnCss {
  background-color: #378ad8 !important;
  color: #FFFFFF !important;
  border: 1px solid #378ad8;
}

.lm_widgets {
  padding-right: 30px !important;
}

.padding_right5px {
  padding-right: 5px;
}

.padding_right20px {
  padding-right: 20px !important;
}

.padding_right25px {
  padding-right: 25px;
}

.padding12px {
  padding: 12px !important;
}

.padding20px {
  padding: 20px !important;
}

.pdu_heading_padding {
  padding: 10px 12px 5px 12px !important;
}


#small_datepicker {
  height: 220px;
}

#small_datepicker .table td, #small_datepicker .table th{
  padding: 4px !important;
}

.breadcrumb-arrow li a active {
  color: green;
}

.has-error .form-control, .errormsg {
  color : red !important;
  border-color : red !important;
}

.has-error_inputbox{
  border-color : red !important;
}

.modal-open{
 overflow: hidden !important;
}

.dashboard_widget_link {
  color: #252422 !important;
  cursor: pointer !important;
}

.page_wrapper {
  background-color: #FFFFFF;
  width: 100%;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.14);
}

.action-icons .fa {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 50%;
  border: 1px solid #C3C3C3;
  /*color: #378ad8 !important;*/
  color: #378ad8;
  font-size: 15px;
  margin: 1px;
  padding: 7px 0;
  text-align: center;
  text-decoration: none;
  width: 30px;
  cursor: pointer;
}


.table td.normal {
  max-width: 150px;
  word-break: break-all;
}

.top_shadow{
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.14);
}

.aws_top_shadow{
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.14);
}

.aws_inventory_table {
  max-height: 250px !important;
}

.pagemargin {
  margin: 20px !important;
}

.margin0 {
  margin: 0px;
}

.margin_top10px {
  margin-top: 10px !important;
}

.margin_top7px {
  margin-top : 7px !important;
}

.margin_top20px {
  margin-top: 20px !important;
}

.margin_top85px {
  margin-top: 85px !important;
}

.margin_top_minus_10px {
  margin-top: -10px !important;
}

.margin_right_minus_15px {
  margin-right: -15px !important;
}

.top5px {
  top : 5px !important;
}

.padding0 {
  padding: 0px !important;
}
.paddingtop10px {
  padding-top: 10px !important;
}

.padding_left_right0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.padding_right0 {
  padding-right: 0px !important;
}

.padding_top8px {
  padding-top: 8px !important;
}

.padding_top15px{
  padding-top: 15px !important;
}

.paddingleft10 {
  padding-left : 10px !important;
}

.paddingright10 {
  padding-right: 10px !important;
}

.padding_left_right8px {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.selectbar {
  padding : 10px !important;
  padding-bottom : 0px !important
}

.top_nav .nav_container .nav li {
  cursor : default !important;
}

.Tabs3 table td a {
  color: #5589d0 !important;
  text-decoration: none !important;
  cursor: pointer;
}
.Tabs3-wrapper {
  width: 100%;
  height: auto;
  padding-bottom: 20px !important;
}

.menu-disabled {
  color: #444 !important;
  font-style: italic;
  pointer-events : none;
}

.no_pointer_events {
  pointer-events : none !important;
  cursor : default;
}

.width12p {
  width : 12%;
}

.fa-disabled {
  opacity: 0.6 !important;
  cursor: not-allowed !important;
  color: lightgrey !important;
  pointer-events: none !important;
}

li .disabled {
  /*opacity: 0.8 !important;*/
  pointer-events: none !important;
}

.button_disable{
  pointer-events: none !important;
  opacity: 0.6 !important;
  cursor: not-allowed !important;
  color: lightgrey !important;
}

.float-right{
  float:right !important;
}

.actonecls ul li.active, ol.breadcrumb li.active {
  pointer-events: none !important;
}

.userdetails_panel_header {
  background-color: #e48c11;
}

.blue-text {
  color: #5589d0 !important;
}

.billing-invoice-class{
 margin: 20px !important;
}

.billing-invoice-heading{
 text-align: center;
 width:100%;
}

.billing-export-button{
 float: right;
 margin: 0 10px 0 0 ;
}

.billing-export-button-container{
 line-height: 50px !important;
 padding: 8px !important;
}

.billing-bottom-panel{
 font-size: 13px;
 line-height: 30px;

}

.popover{
  width : 28%;
  max-width: 100%;
}

.cg-busy {
  top: 70px;
  height: 100%;
  position: fixed;
  left: 260px;
  transition-property: left;
  transition-duration: 0.2s;
}

.header-band-lg {
  background: #ffffff none repeat scroll 0 0;
  border-bottom: 1px solid #efeeea;
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 1005 !important;
}

.ngn-custom{
  height: 50px !important;
  padding: 13px 300px 0px 0px !important;
  position: fixed !important;
  top: 70px !important;
  width: 100% !important;
  float: left !important;
  display: block !important;
  left:0;
  margin-left: 260px !important;
  z-index: 999;
  transition-property: margin-left;
  transition-duration: 0.2s;
}

.ngn-dismiss-custom{
  top: 11px !important;
  right: 300px !important;
  transition-property: right;
  transition-duration: 0.2s;
}

.pvassetleft{
  padding-left:  20px;
}

.text_white{
  text-color: white;
}

.text_black{
  text-color: black;
}

.red{
  color: red;
}

.green{
  color: green;
}

.olive {
  color: #808000;
}

.grey{
  color: #808080;
}

.lime {
  color: #00FF00;
}

.fuchsia {
  color: #FF00FF;
}
.teal {
  color: #008080;
}
.navy {
  color: #000080;

}
.action-icons-div {
  min-width: 105px !important;
}
.activity-log-modal{
  max-height: 400px;
  overflow:auto;
}

.daterange input {
 border: none;
 cursor: pointer;
 outline: 0 none;
 width: 100%;
}

.modal-lg {
  width: 60% !important;
}

.no-record {
  border-color: #b8bdc7;
  border-radius: 1px;
  /*border-style: solid;*/
  border-width: 1px;
  line-height: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 10px;
}

.no-record-warning {
  background-color: transparent;
  color: #a9b0bc;
  font-size: 13px;
  text-align: center;
}

#priority-ticket-container .no-record-warning .no-record-text, 
#status-tickets-container .no-record-warning .no-record-text,
#tickets-responsetime-container .no-record-warning .no-record-text{
  font-size: 13px;
}

.no-record-icon {
  box-shadow: none;
  color: #a9b0bc;
  display: inline-block;
}

mwl-calendar .cal-month-box .cal-month-day .cal-events-num {
  margin-left: 10px;
  margin-top: -28px;
  display: none;
}

.cal-week-box-cell {
  display: none;
}


/*Dashbord Calendar Start*/

ol, ul {
  margin: 0px auto;
  -webkit-padding-start: 0;
  padding-start: 0px;
  -moz-padding-start: 0;
}

.dashcalendar {
  height: 100% ;
  padding-top: 3px;
}

.calendar-arrow {
  font-size: 13px;
  font-style: normal;
  color: #212121;
  text-align: center;
  background-color: #f7f8f8;
  padding: 4px 0;
}

.calendar-arrow .fa {
  color: #999797;
  font-size: 21px;
  cursor: pointer;
}

.dashcalendar mwl-calendar .cal-month-box .cal-row-head [class*="cal-cell"] {
  font-weight: normal;
}

mwl-calendar span[data-cal-date] {
  pointer-events: none;
}

.dashcalendar mwl-calendar .cal-month-day {
  height: 30px;
  text-align: center;
}

.dashcalendar mwl-calendar .cal-month-box [class*="cal-cell"],
mwl-calendar .cal-year-box [class*="span"] {
  min-height: 30px;
  position: relative;
}

.dashcalendar mwl-calendar span[data-cal-date] {
  font-size: 13px;
  /*text-align: center;*/
}

.dashcalendar mwl-calendar .event {
  border: none;
  height: 7px;
  width: 7px;
}

.eventDot {
  display: block;
  background-color: #c3c3c3;
  width: 8px;
  height: 8px;
  margin: 5px 9px 0px 0px;
  box-shadow: none;
  border-radius: 8px;
  border: 0px solid #fff;
}

.dashcalendar mwl-calendar .cal-day-today {
  background-color: #f4f3ef;
}

.dashcalendar mwl-calendar .cal-month-box [class*=cal-cell]+[class*=cal-cell] {
  border: none;
}

.dashcalendar mwl-calendar .cal-month-box .cal-row-fluid {
  border: none;
}

.dashcalendar mwl-calendar .cal-month-box .cal-row-fluid,
mwl-calendar .cal-year-box .row {
  border: none;
}

.dashcalendar mwl-calendar .cal-month-box .cal-day-today span[data-cal-date] {
  font-size: 13px;
  line-height: 24px;
}

.maintenance {
  height: 231px;
  width: 100%;
  padding-top: 10px;
}

.maintenance-list {
  height: 200px;
}

.maintenance ul li {
  display: block;
  padding: 5px 5px 10px 0px;
  text-align: left;
  margin: 0px;
}

.maintenance ol,
.maintenance ul {
  margin: 0px auto;
  -webkit-padding-start: 0;
  padding-start: 0px;
  -moz-padding-start: 0;
}

.maintenance-widget {
  padding-bottom: 4px !important;
} 

.dashcalendar mwl-calendar .cal-month-day {
  height: 30px;
}

.dashcalendar mwl-calendar span[data-cal-date] {
  margin: 0 auto;
}

.dashcalendar mwl-calendar .cal-month-box .events-list {
  left: 0;
}

.dashcalendar .pull-right {
  float: none !important;
}

mwl-calendar {
  pointer-events : none;
}

.event-cell {
  cursor: pointer;
  border-radius: 50%;
  height: 22px !important;
  width: 22px !important;
  background-color: #dcc1ff;
  color: #212121 !important;
  margin: 0 auto;
  line-height: 23px;
  pointer-events : auto;
}

.dashcalendar mwl-calendar .cal-month-box .events-list {
  display: none;
}

mwl-calendar .cal-day-weekend span[data-cal-date] {
  color: #212121 !important;
}

mwl-calendar [class*="cal-cell"]:hover,
mwl-calendar .cell-focus,
mwl-calendar [class*="cal-cell"] .drop-active,
mwl-calendar .cal-cell.drop-active,
mwl-calendar .cal-week-box .cal-cell1.drop-active,
mwl-calendar .cal-day-hour-part.drop-active {
  background-color: #ffffff !important;
}

.cal-day-box .cal-day-hour-part:hover {
  background-color: #ffffff !important;
}

mwl-calendar .cal-year-box .row:hover,
mwl-calendar .cal-row-fluid:hover {
  background-color: #ffffff !important;
}

.support-box {
  background-color: #fbfbfb;
  padding: 15px;
  font-size: 14px;
}

.comment-box-border{
  border: 1px solid #efeeea;
}

.comment-date-style{
  color: #7e7e7e;
  font-size: 10px;
}

.rotate40-deg{
  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  transform: rotate(-40deg);
}

.high-zindex {
  z-index: 9005 ;
}

.ellipsis {
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nav-link .fa.fa-envelope:hover {
  background-color: #378ad8;
  color: #FFFFFF !important;
  border: 1px solid #378ad8;
}

.user-detail .label {
  background: #ff5b57 none repeat scroll 0 0 !important;
  border-radius: 20px;
  display: block;
  line-height: 12px;
  padding: 0.3em 0.6em;
  position: absolute;
  right: 0px;
  top: 1px;
  color: #FFFFFF;
  background-color: #ff5b57;
  z-index: 1;
}

/* progress bar */

#container {
  margin: 20px;
  width: 400px;
  height: 8px;
  position: relative;
}

.progress-bar {
  transition: width 1s ease-in-out;
  box-shadow: none;
}

.progress-bar-success {
  background-color: #43e091;
}

.progress-bar-warning {
  background-color: #FF8800;
}

.progress {
  background-color: #e4e8e6;
  border-radius: 0;
  box-shadow: none;
  height: 17px;
  margin-bottom: 0;
}
.privateprogress .progress {
  height: 8px;
}
.progress-bar-danger {
  background-color: #ca4242;
}

.progress-red {
  background-color: #ca4242;
}

.progress-green {
  background-color: #43e091;
}

.progress-gray {
  background-color: #bcbcbc;
}


/* Dashboard text font size */

.bigtextdash {
  font-size: 25px;
  line-height: 33px;
  color: #252422;
}

.yellow-bigtextdash {
  font-size: 25px;
  line-height: 33px;
  color: #f2b53f;
}

.red-bigtextdash {
  font-size: 25px;
  line-height: 33px;
  color: #c51313;
}

.lightcolor {
  color: #8f8e8e;
  font-size: 10px;
}

.smalltextdash{
  font-size: 10px;
}

.minitextdash{
  color: #8f8e8e;
  font-size: 9px;
}

.legendgreen  {
  background: #43e091 none repeat scroll 0 0;
  border: medium none;
  display: inline-block;
  height: 10px;
  padding-left: 2px;
  padding-right: 2px;
  width: 10px;
}

.legendyellow {
  background: #edce3e none repeat scroll 0 0;
  border: medium none;
  display: inline-block;
  height: 10px;
  padding-left: 2px;
  padding-right: 2px;
  width: 10px;
}

.legendred {
  background: #c51313 none repeat scroll 0 0;
  border: medium none;
  display: inline-block;
  height: 10px;
  padding-left: 2px;
  padding-right: 2px;
  width: 10px;
}

.legendgray {
  background: #BDBDBD none repeat scroll 0 0;
  border: medium none;
  display: inline-block;
  height: 10px;
  padding-left: 2px;
  padding-right: 2px;
  width: 10px;
}

.legenddarkgreen {
  background: #3F9435 none repeat scroll 0 0;
  border: medium none;
  display: inline-block;
  height: 10px;
  padding-left: 2px;
  padding-right: 2px;
  width: 10px;
}

.dashtab li.active a{
  color: #0bbb71 !important;
  text-decoration: none !important;
  padding: 0px !important;
}


/* Left navigation changes */

.leftnav-title {
  font-weight: normal;
  padding: 0;
  width: 72%;
}

.leftnavicon {
  height: 28px;
  margin: 0 6px 0 0;
  text-decoration: none;
  width: 28px;
}

.nav-stacked i {
  font-size: 17px;
  margin: 0 15px 0 0;
  text-decoration: none;
}

.leftnavsubicon {
  height: 25px;
  margin: 0 5px 0 0;
  text-decoration: none;
  width: 25px;
}

.first-level li a {
  color: #fff;
  display: block;
  padding: 9px 0;
  position: relative;
  text-decoration: none;
}

#side-wrapper .panel-body {
  padding: 0 8px;
}
#side-wrapper .fa-plus::before {
  color: #d3d3d3 !important;
  font-size: 14px !important;
  line-height: 28px;
}
#side-wrapper .fa-minus::before {
  color: #d3d3d3 !important;
  font-size: 14px !important;
  line-height: 28px;
}


/* AlertService notification close icon */
.ngn-dismiss {
  background-color: #ffffff;
  box-shadow: none;
  color: #da4c46;
  font-size: 24px;
  line-height: 29px;
  opacity: 1;
  text-shadow: none;
}

.ngn-dismiss:hover {
  background-color: #f3dddc;
}

.private-switches {
  height: 27px;
  margin: -2px 0 0;
  width: 27px;
}

.svg_switch_icon {
  /*background: url(../../fonts/SVGicons/Switch.svg);*/
  background-repeat: no-repeat;
  /*background-color: red;*/
  height: 23px;
  width: 23px;
  display: inline-block;
}

.svg_switch_icon path {
  fill: #009688;
}

.redbg {
  background-color: #E56717 !important;
}

.red {
  color : #E56717 !important;
}

.nagreybg {
  background-color: #A4A4AC;
}

.brownbg {
  background-color: #A66829 !important;
}

.brown {
  color: #A66829 !important;
}

.iconbox .glyphicon {
  font-size: 21px;
  height: 40px;
  line-height: 35px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  width: 35px
}

.Left-band {
  width: 260px !important;
  height: 70px !important;
  border-right: 1px solid #eeeeee !important;
  float: left !important;
  position: relative !important;
}

.companylogo {
  width: 240px;
  height: 60px;
}

.Logo {
  float: left !important;
  height: 40px !important;
  margin: 10px 3px 3px 0 !important;
}

.Logo > h2 {
  font-size: 35px;
  margin-left: 20px;
  color: #0bbb71;
  margin-bottom: -15px;
}

.Logo > label {
  margin-left: 52px;
  font-size: 8px;
  color: #0bbb71;
  font-weight: 600 !important;
}

.Logo > label > .subcolor {
  color: #6d6d6d;
}


.logo-text > h2 {
  font-size: 35px !important;
  margin-right: 10px !important;
  color: #0bbb71;
  margin-top: 16px !important;
}
/*.unitylogo > ::after {
    color: #ccc !important;
    content: " | " !important;
    padding: 0px !important;
    font-size: 26px !important;
    }*/
    .unitylogo {
      /*float: left !important;*/
      height: 40px !important;
      margin: 14px 6px 3px 44px !important;
      /*margin-left: 44px;*/
    }

    .Logo img {
      height: auto !important;
    }

    .unity-logo {
      height : 70px;
    }

    .unity-logo img {
      margin-left: 30px;
      height: 100%;
      width: 75%;
    }

    .text-align-center {
      text-align: center !important;
    }

    .cardbox-inner .fa {
      border-radius: 50% !important;
      color: #ffffff !important;
      font-size: 15px !important;
      height: 35px !important;
      line-height: 10px !important;
      margin: 1px !important;
      padding-top: 13px !important;
      text-align: center !important;
      text-decoration: none !important;
      width: 35px !important;
      padding: 0px;
    }

    .nav-link .fa.fa-envelope {
      -webkit-transform: rotate(-00deg);
      -moz-transform: rotate(-00deg);
      -ms-transform: rotate(-00deg);
      -o-transform: rotate(-00deg);
      transform: rotate(-00deg);
    }

    .nav-link .tab-heading .fa {
      background: none;
      border: none;
      border-radius: 100%;
      color: #8f8f8f;
      font-size: 15px;
      margin: 0px 5px 0px 0px;
      padding: 0px;
      text-align: center;
      text-decoration: none;
      width: 10px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    .nav > li > a:hover .tab-heading .fa{
      color: #5589d0;
    }

    .nav > li.active .tab-heading .fa{
      color: #0bbb71;
    }

    .nav > li.active > a:hover .tab-heading .fa{
      color: #0bbb71;
    }

    .leftnavsubhead2icon {
      height: 20px;
      margin: 0 0px 0 0;
      text-decoration: none;
      width: 20px;
    }

    .leftnavsubhead3icon {
      height: 15px;
      margin: 0 0px 0 0;
      text-decoration: none;
      width: 15px;
    }

    .svg{
      filter: invert(.5);
    }

    .nav > li.active .svg {
     filter: invert(.5) sepia(1) saturate(3) hue-rotate(90deg);
   }

   .nav > li > a:hover .svg {
     cursor: pointer;
     filter: invert(.5) sepia(1) saturate(5) hue-rotate(182deg);
   }

   .ticket_date_width{
    white-space: nowrap !important;
  }

  .widget-title {
    font-size: 18px !important;
  }
  .pcw-bg-div {
    padding-top: 15px;
  }
  .pcw-bg-each {
    padding-bottom: 15px;
  }
  .pcw-bg-title {
    font-size: 13px;
  }
  .pcw-bg-lables {
    font-size : 9px !important;
    width: 50%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .bigtextdash {
    font-size: 30px;
    line-height: 33px;
    color: #252422;
  }
  .yellow-bigtextdash {
    font-size: 30px;
    line-height: 33px;
    color: #f2b53f;
  }
  .red-bigtextdash {
    font-size: 30px;
    line-height: 33px;
    color: #c51313;
  }
  .smalltextdash{
    font-size: 12px;
  }


  .asset-indicators-section {
    text-align: right !important;
  }

  .asset_bars_padding {
    padding-bottom: 10px;
  }

  .iconbox .fa {
    font-size: 20px;
    height: 35px;
    line-height: 35px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    width: 35px;
  }

  .asset_lb {
    width: 25px !important; 
  }
  .assets-bar-count {
    font-size: 14px;
  }
  .assets-bar-label {
    font-size: 13px;
  }
  .assets-bar {
    height: 20px;
  }

  .alert_bars_padding {
    padding-right: 5px !important;
    padding-bottom: 13px !important;
  }

  .pdu_widget_padding {
    padding-right: 20px !important;
    padding-bottom: 20px;
  }

  .pdu_wrapper {
    background-color: white;
    padding: 20px !important
  }

  .alerts-widget .fa {
    font-size: 15px;
    height: 32px;
    line-height: 35px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    width: 15px;
  }

  .alerts-widget .fa.device_lb_icon {
    font-size: 14px;
    width: 16px;
  }

  .alerts-widget .alerts-bar-label {
   font-size: 10px;
   font-weight: bold;
   color: #6d6d6d;
 }

 .alerts-widget .alerts-bar-label.device_lb {
   font-size: 10px;
 }

 .alerts-bar {
  height: 20px;
}

.ulsubheading {
  font-size: 18px;
  line-height: 38px;
  color: #e48c11;
}

/* Tooltip for Back side server start*/
.tooltip-back a{
  color:#222222;
}

.tooltip-back a:hover{
  background:#1bbf7a;
  padding:0 5px;
  color:#ffffff;
}

.pdu-widget-heading{
  padding: 10px 15px !important;
  padding-top: 17px !important;
}
.pdu-widget-selectbox{
  padding: 9px 30px 0 0 !important;
}

.no-border{ border:none;}

.mleft-right20{ margin-left:20px !important; margin-right:20px !important;}

.mTop20{ margin-top:20px;}

.mBottom20{ margin-bottom:20px;}

.arrow-up {
  width: 0px;
  height: 0px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;

}
/* Tooltip for Back side server end*/



#content-area.minimized .cg-busy, #content-area.animating .cg-busy {
  left: 50px !important;
  transition-property: left;
  transition-duration: 0.4s;
}

#content-area.minimized.animating .cg-busy {
  left: 260px !important;
}

#content-area.minimized .row .cg-busy, #content-area.animating .row .cg-busy, #content-area.minimized.animating .row .cg-busy {
  left: 0px !important;
}

#content-area.minimized .ngn-custom, #content-area.animating .ngn-custom{
  margin-left: 50px !important;
  transition-property: margin-left;
  transition-duration: 0.4s;
}

#content-area.minimized.animating .ngn-custom {
  margin-left: 260px !important;
}

#content-area.minimized .ngn-dismiss-custom, #content-area.animating .ngn-dismiss-custom {
  right: 90px !important;
  transition-property: right;
  transition-duration: 0.4s;
}

#content-area.minimized.animating .ngn-dismiss-custom {
  right: 300px !important;
}

.pdugraphsimg {
  max-width: 100%;
  width : 98% !important;
  /*height : 100px !important;*/
  vertical-align: top;
}

.pduhealthgraphsimg {
  max-width: 100%;
  width : 98% !important;
  vertical-align: top;
}

.graph_details_img {
  max-width: 100%;
  width : 99% !important;
  /*height : 100px !important;*/
  vertical-align: top;
}

.overview_graphs {
  max-width: 100%;
  width : 100% !important;
  /*height : 100px !important;*/
  vertical-align: top;
}

.menubackoption {
  color : #e48c11 !important;
}

.menubackoption .fa {
  color : #e48c11 !important;
}

.dash-pdu-widget {
  min-height: 300px;
}

/* 140% to 174% in windows laptops*/
@media only screen  and (min-width: 991px)  and (max-width: 1990px)  and (min-resolution: 160dpi) and (max-resolution: 189dpi){ 
    /*
    * These Media Queries are related to Unity Header, leftside Menu and rightside Page Layout
    */
    #content-area.minimized #side-wrapper, #content-area.animating #side-wrapper {
      padding-left: 177px;
      left: -170px;
    }

    .side-bar-width {
      width: 220px !important;
    }

    .right-content {
      width : calc(100% - 220px) !important;
    }

    .modal-lg.cabinet_view_modal_content {
      width : calc(100% - 220px) !important;
      margin-top: 70px !important;
    }

    #content-area, #content-area.minimized.animating {
      padding-left: 220px !important;
    }

    .header-band-lg {
      height: 60px;
    }

    .ngn-custom {
      top : 60px !important;
      margin-left : 220px !important;
    }

    .ngn-dismiss-custom {
      right: 250px !important;
    }

    .cg-busy {
      top : 60px;
      left : 220px !important;
    }

    .unitylogo {
      margin: 10px 6px 3px 26px !important;
    }

    .logo-text > h2 {
      margin-top: 13px !important;
      font-size: 32px !important;
    }

    .breadcrumb {
      margin-top: 14px !important;
      font-size : 10px;
    }

    .breadcrumb-arrow li:first-child a {
      padding: 0 5px;
    }

    .breadcrumb-arrow li a, .breadcrumb-arrow li:not(:first-child) span {
      padding : 0 5px 0 20px;
    }

    .header-nav-left {
      margin-right: 10px;
      margin-left: 5px;
    }

    .header-nav-right {
      margin-left: 0px;
      margin-right: 5px;
    }

    .top_nav {
      padding-top: 6px;
    }

    .company-name a {
      width: 130px;
    }

    .nav-link .fa {
      font-size: 12px;
      width: 28px;
    }

    .userTimezone {
      font-size: 11px;
    }

    .user-detail .user-name {
      width: 75px;
      font-size: 12px;
    }

    .user-detail .dropdown {
      padding: 8px 0px;
    }

    .dropdown-arrow {
      width: 11px;
      margin-left: 4px;
    }

    .user-detail .user-pic {
      height: 34px;
      width: 34px;
    }

    .content-area-inside {
      margin: 60px 0 0 0 !important;
    }

    .side-bar-width .panel-heading {
      padding-left: 10px !important;
    }

    .leftnavicon {
      height: 25px;
      width: 25px;
      margin: 0 3px 0 0;
    }

    .leftnav .fa.pull-right {
      margin-left: 0.3em;
    }

    .first-level li {
      padding : 0 0 0 20px;
    }

    .leftnavsubicon {
      height: 20px;
      margin: 0 0px 0 0;
      text-decoration: none;
      width: 20px;
    }

    .first-level li a {
      font-size: 12px;
    }

    .tabs-level1 {
      height: 40px;
    }
    .tabs-level1 .nav-tabs>li.active>a:hover,.tabs-level1 .nav-tabs>li.active>a:focus,
    .tabs-level1 .nav-tabs>li.active>a, .tabs-level1 .nav-tabs>li.active>a:hover,
    .tabs-level1 .nav-tabs>li.active>a:focus {
      line-height : 18px !important;
    }
  }

  /* 175% and above in windows laptops*/
  @media (min-width: 0px) and (max-width: 1023px) and (min-resolution: 180dpi) { 
    .side-bar-width {
      width: 160px !important;
    }

    #content-area, #content-area.minimized.animating {
      padding-left: 160px !important;
    }

    #content-area.minimized #side-wrapper, #content-area.animating #side-wrapper {
      padding-left: 125px;
      left: -110px;
    }

    .header-band-lg {
      height: 50px;
    }

    .ngn-custom {
      top : 50px !important;
      margin-left : 160px !important;
    }

    .ngn-dismiss-custom {
      right: 190px !important;
    }

    .cg-busy {
      top : 50px;
      left : 160px !important;
    }

    .header-nav-left {
      display: none !important;
    }

    .header-nav-right {
      margin-left: 10px;
    }

    .top_nav {
      padding-top: 6px;
    }

    .company-name {
      font-weight : 600;
      font-size: 14px;
    }

    .company-name a {
      width: 130px;
      padding-top: 0px;
    }

    .nav-link .fa {
      font-size: 10px;
      width: 26px;
    }

    .userTimezone {
      font-size: 11px;
      font-weight : 600;
      padding-top: 8px;
    }

    .user-detail .user-name {
      width: 75px;
      font-weight: bold;
      font-size: 12px;
    }

    .user-detail .dropdown {
      padding: 8px 0px;
    }

    .dropdown-arrow {
      width: 11px;
      margin-left: 4px;
    }

    .user-detail .user-pic {
      height: 30px;
      width: 30px;
    }

    .content-area-inside {
      margin: 50px 0 0 0 !important;
    }

    .unitylogo {
      margin: 10px 6px 3px 8px !important;
    }

    .unity-logo-img {
      height: 35px;
    }

    .logo-text > h2 {
      margin-top: 12px !important;
      font-size: 30px !important;
    }

    .side-bar-width .panel-heading {
      padding-left: 5px !important;
    }

    .leftnavicon {
      height: 21px;
      width: 21px;
      margin: 0 3px 0 0;
    }

    .leftnav-title {
      font-size: 11px !important;
    }

    .leftnav .fa.pull-right {
      margin-top: -0.2em;
    }

    .first-level li {
      padding : 0 0 0 10px;
    }

    .leftnavsubicon {
      height: 18px;
      margin: 0 0px 0 0;
      text-decoration: none;
      width: 18px;
    }

    .first-level li a {
      font-size: 9px;
    }

    .tabs-level1 {
      height: 35px;
    }

    .tabs-level1 .nav>li>a {
      line-height : 33px !important;
    }

    .tabs-level1 .nav-tabs>li.active>a:hover,.tabs-level1 .nav-tabs>li.active>a:focus,
    .tabs-level1 .nav-tabs>li.active>a, .tabs-level1 .nav-tabs>li.active>a:hover,
    .tabs-level1 .nav-tabs>li.active>a:focus {
      line-height : 13px !important;
    }
  }

  /* (100% - 109% inside VM Box) */
  @media (min-resolution: 90dpi ) and (max-resolution: 99dpi )  {
    .widget-title {
      font-size: 22px !important;
    }
    .pcw-bg-div {
      padding-top: 25px;
    }
    .pcw-bg-each {
      padding-bottom: 20px;
    }
    .pcw-bg-title {
      font-size: 15px;
    }
    .pcw-bg-lables {
      font-size : 13px !important;
    }
    .bigtextdash {
      font-size: 40px;
      line-height: 40px;
      color: #252422;
    }
    .yellow-bigtextdash {
      font-size: 40px;
      line-height: 40px;
      color: #f2b53f;
    }
    .red-bigtextdash {
      font-size: 40px;
      line-height: 40px;
      color: #c51313;
    }
    .smalltextdash{
      font-size: 15px;
    }
    .pcw-hdg-title {
      font-size: 20px;
    }
    .lightcolor {
      color: #8f8e8e;
      font-size: 15px;
    }
    .assets-bar-count {
      font-size: 19px;
    }
    .assets-bar-label {
      font-size: 16px;
    }
    /*.assets-bar {
        height: 20px;
        width: 190px; 
        }*/
      }


      /*dashboard css for ops windows laptops*/
      @media (min-resolution: 90dpi ) and (max-resolution: 99dpi ) and (max-width: 1380px){
        .widget-title {
          font-size: 16px !important;
        }

        .pcw-bg-lables {
          font-size : 8px !important;
        }

        .widget-title {
          font-size: 14px;
        }

        .iconbox .fa {
          font-size: 13px;
          height: 30px;
          width: 14px;
        }

        .assets-bar-count {
          font-size: 12px;
        }

        .assets-bar-label {
          font-size: 9px;
        }

        .asset_lb {
         width: 14px !important;
       }

       .legendgreen {
        height: 6px;
        width: 6px;
      }
      .legendyellow {
        height: 6px;
        width: 6px;
      }
      .legendred {
        height: 6px;
        width: 6px;
      }
      .legendgray {
        height: 6px;
        width: 6px;
      }
      .legendlight {
        height: 6px;
        width: 6px;
      }

      .legenddarkgreen {
        height: 6px;
        width: 6px;
      }

      .lightcolor {
        color: #8f8e8e;
        font-size: 7px;
        font-weight: bold
      }

    }

    /* (110% to 124% inside VM Box) */
    @media (min-resolution: 100dpi ) and (max-resolution: 109dpi)  {
      .widget-title {
        font-size: 20px !important;
      }
      .pcw-bg-div {
        padding-top: 20px;
      }
      .pcw-bg-each {
        padding-bottom: 20px;
      }
      .pcw-bg-title {
        font-size: 13px;
      }
      .pcw-bg-lables {
        font-size : 12px !important;
      }
      .bigtextdash {
        font-size: 35px;
        line-height: 40px;
        color: #252422;
      }
      .yellow-bigtextdash {
        font-size: 35px;
        line-height: 40px;
        color: #f2b53f;
      }
      .red-bigtextdash {
        font-size: 35px;
        line-height: 40px;
        color: #c51313;
      }
      .smalltextdash{
        font-size: 15px;
      }
      .pcw-hdg-title {
        font-size: 18px;
      }
      .lightcolor {
        color: #8f8e8e;
        font-size: 15px;
      }
      .assets-bar-count {
        font-size: 17px;
      }
      .assets-bar-label {
        font-size: 15px;
      }
    /*.assets-bar {
        height: 20px;
        width: 170px; 
        }*/
      }

      /* (125% to 149% inside VM Box) */
      @media (min-resolution: 110dpi ) and (max-resolution: 119dpi)  {
        .widget-title {
          font-size: 20px !important;
        }
        .pcw-bg-div {
          padding-top: 20px;
        }
        .pcw-bg-each {
          padding-bottom: 20px;
        }
        .pcw-bg-title {
          font-size: 13px;
        }
        .pcw-bg-lables {
          font-size : 8px !important;
        }
        .bigtextdash {
          font-size: 35px;
          line-height: 40px;
          color: #252422;
        }
        .yellow-bigtextdash {
          font-size: 35px;
          line-height: 40px;
          color: #f2b53f;
        }
        .red-bigtextdash {
          font-size: 35px;
          line-height: 40px;
          color: #c51313;
        }
        .smalltextdash{
          font-size: 15px;
        }
        .pcw-hdg-title {
          font-size: 17px;
        }
        .lightcolor {
          color: #8f8e8e;
          font-size: 14px;
        }
        .assets-bar-count {
          font-size: 17px;
        }
        .assets-bar-label {
          font-size: 15px;
        }
    /*.assets-bar {
        height: 20px;
        width: 170px; 
        }*/
      }

      /* (125% to 149% inside VM Box) */
      @media (min-resolution: 120dpi ) and (max-resolution: 129dpi)  {
        .widget-title {
          font-size: 18px !important;
        }
        .pcw-bg-div {
          padding-top: 15px;
        }
        .pcw-bg-each {
          padding-bottom: 15px;
        }
        .pcw-bg-title {
          font-size: 13px;
        }
        .pcw-bg-lables {
          font-size : 9px !important;
        }
        .bigtextdash {
          font-size: 30px;
          line-height: 33px;
          color: #252422;
        }
        .yellow-bigtextdash {
          font-size: 30px;
          line-height: 33px;
          color: #f2b53f;
        }
        .red-bigtextdash {
          font-size: 30px;
          line-height: 33px;
          color: #c51313;
        }
        .smalltextdash{
          font-size: 12px;
        }
      }

      /* (125% to 149% inside VM Box) */
      @media (min-resolution: 130dpi ) and (max-resolution: 139dpi)  {
        .widget-title {
          font-size: 18px !important;
        }
        .pcw-bg-div {
          padding-top: 15px;
        }
        .pcw-bg-each {
          padding-bottom: 15px;
        }
        .pcw-bg-title {
          font-size: 13px;
        }
        .pcw-bg-lables {
          font-size: 8px !important;
        }
        .bigtextdash {
          font-size: 30px;
          line-height: 33px;
          color: #252422;
        }
        .yellow-bigtextdash {
          font-size: 30px;
          line-height: 33px;
          color: #f2b53f;
        }
        .red-bigtextdash {
          font-size: 30px;
          line-height: 33px;
          color: #c51313;
        }
        .smalltextdash{
          font-size: 12px;
        }
      }

      /* (125% to 149% inside VM Box) */
      @media (min-resolution: 140dpi ) and (max-resolution: 149dpi)  {
        /* Header and Sidebar Page Layout*/
        .company-name a {
          width : 130px;
        }
        .header-nav-right {
          margin-left: 5px;
        }
        .header-nav-left {
          margin-right: 5px;
        }

        /* Dashboard Widgets*/
        .widget-title {
          font-size: 16px !important;
        }
        .pcw-bg-div {
          padding-top: 10px;
        }
        .pcw-bg-each {
          padding-bottom: 10px;
        }
        .pcw-bg-title {
          font-size: 11px;
        }
        .pcw-bg-lables {
          font-size : 7px !important; 
        }
        .assets-bar {
          width: 135px; 
        }
        .assets-bar-label {
          font-size: 11px;
        }
      }

      /* (125% to 149% inside VM Box) */
      @media (min-resolution: 150dpi ) and (max-resolution: 159dpi)  {

        /* Header and Sidebar Page Layout*/
        .company-name a {
          width : 130px;
        }
        .header-nav-right {
          margin-left: 5px;
        }
        .header-nav-left {
          margin-right: 5px;
        }

        /* Dashboard Widgets*/
        .widget-title {
          font-size: 16px !important;
        }
        .pcw-bg-div {
          padding-top: 10px;
        }
        .pcw-bg-each {
          padding-bottom: 10px;
        }
        .pcw-bg-title {
          font-size: 11px;
        }
        .pcw-bg-lables {
          font-size : 7px !important; 
        }

        .paddingtop.assets-section {
          padding-top: 10px !important;
        }

        .minitextdash{
          color: #8f8e8e;
          font-size: 7px;
        }

        .legendgreen  {
          height: 7px;
          width: 7px;
        }

        .legendyellow {
          height: 7px;
          width: 7px;
        }

        .legendred {
          height: 7px;
          width: 7px;
        }

        .legenddarkgreen {
          height: 7px;
          width: 7px;
        }

        .legendgray {
          height: 7px;
          width: 7px;
        }

        .asset_bars_padding {
          padding-bottom: 13px;
        }

        .iconbox .fa {
          font-size: 13px;
          height: 30px;
          width: 14px !important;
        }

        .aum-icons {
          font-size: 20px;
        }
        .assets-bar-count {
          font-size: 11px;
          font-weight: bold;
          color : #6d6d6d;
        }
        .assets-bar-label {
          font-size: 9px;
        }

        .progress-bar {
          line-height: 18px;
          font-size: 11px;
        }

        .paddingtop.alerts-section {
          padding-top: 10px !important;
        }

        .alerts-widget .fa {
          font-size: 13px;
          height: 30px;
          width: 14px;
        }

        .alerts-widget .fa.device_lb_icon {
          font-size: 12px;
          width: 14px;
        }

        .alerts-widget .alerts-bar-label {
         font-size: 9px;
       }

       .alerts-widget .alerts-bar-label.device_lb {
         font-size: 9px;
       }

       .paddingtopbar.main_cal_section {
        padding-top: 5px;
      }

      .maintenance-widget {
        padding-bottom: 0px !important;
      }  

      .Dashwrap.maintenance-widget {
        padding-left: 10px;
        padding-right: 10px;
      }

      .calendar-arrow {
        padding : 2px 0px;
      }

      .dashcalendar mwl-calendar .cal-month-box {
        font-size: 11px !important;
        font-weight: bold !important;
        color : #6d6d6d !important;
      }
    }

    @media (max-width: 1450px ) and (min-resolution: 99dpi ) and (max-resolution: 130dpi)  {
      .pcw-bg-lables {
        font-size : 8px !important; 
      }
    }

    /* (125% to 149% inside VM Box) */
    @media (max-width: 1320px ) and (min-resolution: 99dpi ) and (max-resolution: 130dpi)  {
      .pcw-bg-lables {
        font-size : 7px !important; 
      }

      .pbcw-stat-name {
        font-size: 12px;
      }

      .bigtext2 {
        font-size: 30px;
      }

      .iconbox .fa {
        font-size: 17px;
        height: 31px;
        width: 19px;
      }

      .assets-bar-count {
        font-size: 12px;
      }

      .assets-bar-label {
        font-size: 10px;
      }

      .maintenance-widget {
        padding-top: 10px;
        padding-bottom: 0px;
      }

      .paddingtopbar {
        padding-top: 5px;
      }

      .dash-pdu-widget {
        min-height: 250px;
      }

      .pdu-widget-heading {
        padding-top: 15px !important;
      }

      .pdu-widget-selectbox .select {
        font-size: 13px !important;
        height: 30px;
      }

      .ulsubheading {
        font-size: 15px;
        line-height: 30px;
      }

      .height300px.dash_tickets_section {
        height: 270px !important;
      }
    }

    /* Normal Resolution in Mac Systems*/
    @media only screen  and (min-device-width: 1024px)  and (max-device-width: 1600px)  and (min-resolution: 190dpi) { 
      .widget-title {
        font-size: 16px !important;
      }
      .pcw-bg-title {
        font-size: 10px !important;
      }
      .pcw-bg-div {
        padding-top: 10px;
      }
      .pcw-bg-each {
        padding-bottom: 10px !important;
        padding-right: 0px !important;
      }
      .pcw-bg-lables {
        font-size: 8px !important;
      }
      .pcw-stats-div {
        padding-left: 0px !important;
      }
      .bigtextdash {
        font-size: 28px;
        line-height: 28px;
        color: #252422;
      }
      .yellow-bigtextdash {
        font-size: 28px;
        line-height: 28px;
        color: #f2b53f;
      }
      .red-bigtextdash {
        font-size: 28px;
        line-height: 28px;
        color: #c51313;
      }
      .smalltextdash {
        font-size: 10px;
      }
      .pcw-hdg-div {
        padding-top: 10px !important;
      }
      .pcw-hdg-title {
        font-size: 13px;
        margin-bottom: 5px;

      }
      .pcw-hdg-stats {
        text-align: right !important;
      }
      .legendgreen {
        height: 6px;
        width: 6px;
      }
      .legendyellow {
        height: 6px;
        width: 6px;
      }
      .legendred {
        height: 6px;
        width: 6px;
      }
      .legendgray {
        height: 6px;
        width: 6px;
      }
      .legenddarkgreen {
        height: 6px;
        width: 6px;
      }
      .legendlight {
        background: #99aca6;
        border: medium none;
        display: inline-block;
        height: 6px;
        padding-left: 2px;
        padding-right: 2px;
        width: 6px;
      }
      .lightcolor {
        color: #8f8e8e;
        font-size: 7px;
        font-weight: bold
      }
      .pcw-hdg-lables {
        padding-top: 5px;
        font-size: 11px;
      }
    }

    /**/
    @media only screen  and (min-device-width: 1024px)  and (max-device-width: 1600px)  and (min-resolution: 210dpi) {
      /* Header and Sidebar Page Layout*/
      .company-name a {
        width : 130px;
      }
      .header-nav-right {
        margin-left: 5px;
      }
      .header-nav-left {
        margin-right: 5px;
      }

      /* Dashboard Widgets*/
      .widget-title {
        font-size: 14px !important;
      }
      .pcw-bg-div {
        padding-top: 10px;
      }
      .pcw-bg-each {
        padding-bottom: 10px;
      }
      .pcw-bg-title {
        font-size: 11px;
      }
      .pcw-bg-lables {
        font-size : 7px !important; 
      }

      .paddingtop.assets-section {
        padding-top: 10px !important;
      }

      .minitextdash{
        color: #8f8e8e;
        font-size: 7px;
      }

      .legendgreen  {
        height: 7px;
        width: 7px;
      }

      .legendyellow {
        height: 7px;
        width: 7px;
      }

      .legendred {
        height: 7px;
        width: 7px;
      }

      .legenddarkgreen {
        height: 7px;
        width: 7px;
      }

      .legendgray {
        height: 7px;
        width: 7px;
      }

      .asset_bars_padding {
        padding-bottom: 13px;
      }

      .iconbox .fa {
        font-size: 13px;
        height: 30px;
        width: 14px !important;
      }

      .aum-icons {
        font-size: 20px;
      }
      .assets-bar-count {
        font-size: 11px;
        font-weight: bold;
        color : #6d6d6d;
      }
      .assets-bar-label {
        font-size: 9px;
      }

      .progress-bar {
        line-height: 18px;
        font-size: 11px;
      }

      .paddingtop.alerts-section {
        padding-top: 10px !important;
      }

      .alerts-widget .fa {
        font-size: 13px;
        height: 30px;
        width: 14px;
      }

      .alerts-widget .fa.device_lb_icon {
        font-size: 12px;
        width: 14px;
      }

      .alerts-widget .alerts-bar-label {
       font-size: 9px;
     }

     .alerts-widget .alerts-bar-label.device_lb {
       font-size: 9px;
     }

     .paddingtopbar.main_cal_section {
      padding-top: 5px;
    }

    .maintenance-widget {
      padding-bottom: 0px !important;
    }  

    .Dashwrap.maintenance-widget {
      padding-left: 10px;
      padding-right: 10px;
    }

    .calendar-arrow {
      padding : 2px 0px;
    }

    .dashcalendar mwl-calendar .cal-month-box {
      font-size: 11px !important;
      font-weight: bold !important;
      color : #6d6d6d !important;
    }

    #priority-ticket-container .no-record-warning .no-record-text {
      font-size: 17px;
    }
  }

  /* Office MAC Full Screen*/
  @media only screen  and (min-device-width: 1024px)  and (max-device-width: 1300px)  and (min-resolution: 190dpi) { 
    .widget-title {
      font-size: 14px !important;
    }

    .pcw-bg-lables {
      font-size: 7px !important;
    }

    .pbcw-stat-name {
      font-size: 12px;
    }

    .bigtext2 {
      font-size: 30px;
    }

    .iconbox .fa {
      font-size: 13px;
      height: 30px;
      width: 14px;
    }

    .assets-bar-count {
      font-size: 12px;
    }

    .assets-bar-label {
      font-size: 9px;
    }

    .asset_lb {
     width: 14px !important;
   }

   .paddingtopbar.main_cal_section{
    padding-top: 10px;
  }

  .maintenance-widget {
    padding-top: 10px;
    padding-bottom: 0px !important;
    padding-left: 10px;
    padding-right: 10px;
  }

  .maintenance-widget li.dropdown {
    font-size: 10px;
  }

  .calendar-arrow {
    padding : 2px 0px;
  }

  .dashcalendar mwl-calendar .cal-month-box {
    font-size: 12px !important;
    font-weight: bold !important;
    color : #6d6d6d !important;
  }

  .alert_bars_padding {
   padding-bottom: 10px !important;
 }

 .alerts-widget .fa {
  font-size: 13px;
  height: 30px;
  width: 14px;
}

.alerts-widget .fa.device_lb_icon {
  font-size: 14px;
  width: 16px;
}

.alerts-widget .alerts-bar-label {
 font-size: 8px;
}

.alerts-widget .alerts-bar-label.device_lb {
 font-size: 8px;
}

.dash-pdu-widget {
  min-height: 250px;
}

.pdu-widget-heading {
  padding-top: 15px !important;
}

.pdu-widget-selectbox .select {
  font-size: 13px !important;
  height: 30px;
}

.ulsubheading {
  font-size: 15px;
  line-height: 30px;
}

.height300px.dash_tickets_section {
  height: 270px !important;
}

#priority-ticket-container .no-record-warning .no-record-text {
  font-size: 16px;
}
}

.link_not_active{
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

.link_active {
  background-color: #378ad8 !important;
  color: #FFFFFF !important;
  border: 1px solid #378ad8;
}











/*Custom Check boxes */

/* The container */
.custom_checkbox_container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.custom_checkbox_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.custom_checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.custom_checkbox_container:hover input ~ .custom_checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom_checkbox_container input:checked ~ .custom_checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.custom_checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom_checkbox_container input:checked ~ .custom_checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom_checkbox_container .custom_checkmark:after {
  left: 7px;
  top: 2px;
  width: 6px;
  height: 13px;
  border: solid white;
  border-width: 0px 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
