 #tree-menu .opened>a {
     background-image: url(../../images/icon-collapse.png);
     background-repeat: no-repeat;
     background-position: 220px;
 }
 
 #tree-menu .closed>a {
     background-image: url(../../images/icon-expand.png);
     background-repeat: no-repeat;
     background-position: 220px;
 }

 #tree-menu .opened>i {
     background-image: url(../../images/icon-collapse.png);
     background-repeat: no-repeat;
     background-position: 220px;
 }
 
 #tree-menu .closed>i {
     background-image: url(../../images/icon-expand.png);
     background-repeat: no-repeat;
     background-position: 220px;
 }