<div class="card text-center">
  <div class="card-header ">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link text-warning font-lg border-0">Bare Metal Servers Alerts</a>
      </li>
    </ul>
  </div>
  <div class="card border-0 rounded-0 p-0 mb-0">
    <app-spinner [name]="'bmsalerts'"></app-spinner>
    <table class="table text-left">
      <thead class="">
        <tr>
          <th>Alert</th>
          <th>Status</th>
          <th>Checked</th>
          <th>Changed</th>
          <th>Alerted</th>
          <th>Entity ID</th>
          <th>Entity Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alert of alerts | keyvalue">
          <td>{{alert.value.alert_name}}</td>
          <td>{{alert.value.status}}</td>
          <td>{{alert.value.checked}}</td>
          <td>{{alert.value.changed}}</td>
          <td><span [innerHTML]="sanitizer.bypassSecurityTrustHtml(alert.value.alerted)"></span></td>
          <td>{{alert.value.entity_id}}</td>
          <td>{{alert.value.entity_type}}</td>
        </tr>
      </tbody>
    </table>
    <div class="text-center text-muted mb-2" *ngIf="!alerts">No Alerts to display.</div>
  </div>
</div>