<ng-container>
    <div class="row">
        <div class="col-3">
            <div class="card pointer-link border border-primary" (click)="filterData('all')"
                [class.active]="viewDataFilters.status == 'all'">
                <div class="card-body p-3 d-flex align-items-center">
                    <div class="text-white p-3 me-3">
                        <button class="fa-button fa font-lg bg-primary fa-tasks"></button>
                    </div>
                    <div class="ml-2">
                        <div class="font-weight-bold text-primary text-value">{{summaryData.total}}</div>
                        <div class="text-medium-emphasis font-weight-bold text-primary small">All Devices</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card pointer-link border border-success" (click)="filterData('enabled')"
                [class.active]="viewDataFilters.status == 'enabled'">
                <div class="card-body p-3 d-flex align-items-center">
                    <div class="text-white p-3 me-3">
                        <button class="fa-button fa font-lg bg-success fa-check"></button>
                    </div>
                    <div class="ml-2">
                        <div class="font-weight-bold text-success text-value">{{summaryData.enabled}}</div>
                        <div class="text-medium-emphasis font-weight-bold text-success small">Enabled</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card pointer-link border border-secondary" (click)="filterData('disabled')"
                [class.active]="viewDataFilters.status == 'disabled'">
                <div class="card-body p-3 d-flex align-items-center">
                    <div class="text-white p-3 me-3">
                        <button class="fa-button fas fa-ban font-lg bg-secondary"></button>
                    </div>
                    <div class="ml-2">
                        <div class="font-weight-bold text-secondary text-value">{{summaryData.disabled}}</div>
                        <div class="text-medium-emphasis font-weight-bold text-secondary small">Disabled</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card pointer-link border border-warning" (click)="filterData('not_configured')"
                [class.active]="viewDataFilters.status == 'not_configured'">
                <div class="card-body p-3 d-flex align-items-center">
                    <div class="text-white p-3 me-3">
                        <button class="fa-button fas font-lg bg-warning fa-exclamation-circle"></button>
                    </div>
                    <div class="ml-2">
                        <div class="font-weight-bold text-warning text-value">{{summaryData.not_configured}}</div>
                        <div class="text-medium-emphasis font-weight-bold text-warning small">Not Configured</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-container [ngTemplateOutlet]='errorTable' *ngIf="errorViewData.data.length"></ng-container>
    <ng-container [ngTemplateOutlet]='devicesTable'></ng-container>
</ng-container>

<ng-template #devicesTable>
    <div class="card text-center">
        <div class="card-header bg-white border-0 pb-0" *ngIf="filterForm">
            <form [formGroup]="filterForm">
                <div class="row">
                    <div class="col-2">
                        <div class="form-group">
                            <select class="form-control" formControlName="device_type">
                                <option value="">Select Device Type</option>
                                <option [value]="'switch'"> Switch</option>
                                <option [value]="'firewall'">Firewall</option>
                                <option [value]="'load_balancer'">Load Balancer </option>
                                <option [value]="'hypervisor'">Hypervisor</option>
                                <option [value]="'baremetal'">Bare Metal</option>
                                <option [value]="'storage'">Storage</option>
                                <option [value]="'mac_device'">Mac Device</option>
                                <option [value]="'pdu'">PDU</option>
                                <option [value]="'database'">Database</option>
                                <option [value]="'vmware'">Vcenter Virtual Machine</option>
                                <option [value]="'vcloud'">Vcloud Virtual Machine</option>
                                <option [value]="'open_stack'">Openstack Virtual Machine</option>
                                <option [value]="'hyperv'">Hyper-v Virtual Machine</option>
                                <option [value]="'esxi'">ESXI Virtual Machine</option>
                                <option [value]="'virtual_machine'">Custom Virtual Machine</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <select class="form-control" formControlName="snmp_version">
                                <option value="" disabled>Select SNMP Version</option>
                                <option [value]="SNMPVersionMapping.V1">{{SNMPVersionMapping.V1}}</option>
                                <option [value]="SNMPVersionMapping.V2C">{{SNMPVersionMapping.V2C}}</option>
                                <option [value]="SNMPVersionMapping.V3">{{SNMPVersionMapping.V3}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="input-prepend input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-transparent border-right-0">
                                    <i class="fa fa-search"></i>
                                </span>
                            </div>
                            <input placeholder="Enter keyword" class="form-control border-left-0 custom-search-input"
                                id="prependedInput" size="16" type="text" formControlName="search">
                        </div>
                    </div>
                    <div class="col-1 text-left">
                        <button class="btn btn-pill btn-warning btn-sm px-2 mt-1" type="button"
                            (click)="filterData(viewDataFilters.status)"
                            [disabled]="filterForm.pristine">Filter</button>
                    </div>
                    <div class="col ">
                        <data-refresh-btn [page]="currentCriteria.pageNo"
                            (refresh)="refreshData($event)"></data-refresh-btn>
                        <table-page-size [currentPageSize]="currentCriteria.pageSize" [totalCount]="count"
                            (pageSizeChange)="pageSizeChange($event)"></table-page-size>
                        <button class="btn btn-pill btn-warning pull-right btn-sm mx-2" type="button"
                            (click)="bulkDelete()" *ngIf="manageBulkActionIcons('delete', viewDataFilters.canDelete)"
                            [disabled]="!isBulkSelected">Delete</button>
                        <button class="btn btn-pill btn-warning pull-right btn-sm ml-2" type="button"
                            (click)="bulkDisable()" *ngIf="manageBulkActionIcons('disable', viewDataFilters.canDisable)"
                            [disabled]="!isBulkSelected">Disable</button>
                        <button class="btn btn-pill btn-warning pull-right btn-sm ml-2" type="button"
                            (click)="bulkEnable()" *ngIf="manageBulkActionIcons('enable', viewDataFilters.canEnable)"
                            [disabled]="!isBulkSelected">Enable</button>
                        <button class="btn btn-pill btn-warning pull-right btn-sm ml-2" type="button"
                            (click)="bulkActivate()"
                            *ngIf="manageBulkActionIcons('activate', viewDataFilters.canActivate)"
                            [disabled]="!isBulkSelected">Activate</button>
                        <button class="btn btn-pill btn-warning pull-right btn-sm mx-2" type="button"
                            (click)="bulkUnselect()" *ngIf="isBulkSelected" [disabled]="!isBulkSelected">Uncheck
                            All</button>
                        <button class="btn btn-pill btn-warning pull-right btn-sm mx-2" type="button"
                            (click)="bulkEdit()" [disabled]="!isBulkSelected">Edit</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive" tableStickyScroll>
                <table class="table text-left">
                    <thead>
                        <tr>
                            <th class="bg-white text-primary pl-3" scope="col"
                                (click)="$event.stopPropagation();selectAll()" style="font-size:1rem" accessControl
                                moduleName="Monitoring" accessType="Manage Monitoring" elementType="div-hide">
                                <i class="far" [ngClass]="selectedAll? 'fa-check-square':'fa-square'"></i>
                            </th>
                            <th>Device Name</th>
                            <th>Device Type</th>
                            <th>Management IP</th>
                            <th>SNMP IP</th>
                            <th>SNMP Version</th>
                            <th>Community String</th>
                            <th>Authentication Level</th>
                            <th>Authentication Username</th>
                            <th>Authentication Password</th>
                            <th>Authentication Algorithm</th>
                            <th>Crypto Password</th>
                            <th>Crypto Algorithm</th>
                            <th>Monitoring Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let view of viewData; let i = index">
                            <ng-container [formGroup]="view.form" *ngIf="view.form">
                                <td class="bg-white text-primary pl-3"
                                    (click)="$event.stopPropagation();select(view, i)" style="font-size:1rem"
                                    accessControl moduleName="Monitoring" accessType="Manage Monitoring"
                                    elementType="div-hide">
                                    <i class="far" [ngClass]="view.isSelected? 'fa-check-square':'fa-square'"></i>
                                </td>
                                <td>{{view.deviceName}}</td>
                                <td>{{view.deviceType}}</td>
                                <td>{{view.managementIP}}</td>
                                <td>{{view.snmpIP}}</td>
                                <td>
                                    <div>
                                        <select id="{{i}}-snmp_version" class="form-control"
                                            formControlName="snmp_version"
                                            [class.is-invalid]="view.formErrors.snmp_version">
                                            <option value="" disabled>Select</option>
                                            <option [value]="SNMPVersionMapping.V1">{{SNMPVersionMapping.V1}}</option>
                                            <option [value]="SNMPVersionMapping.V2C">{{SNMPVersionMapping.V2C}}</option>
                                            <option [value]="SNMPVersionMapping.V3">{{SNMPVersionMapping.V3}}</option>
                                        </select>
                                        <div class="invalid-feedback" *ngIf="view.formErrors.snmp_version">
                                            {{view.formErrors.snmp_version}}</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <custom-password-field formControlName="snmp_community"
                                            [options]="{errors:view.formErrors.snmp_community, placeholder:''}"
                                            [isDisabled]="view.form.get('snmp_community').disabled"></custom-password-field>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <select id="{{i}}-snmp_authlevel" class="form-control"
                                            formControlName="snmp_authlevel"
                                            [class.is-invalid]="view.formErrors.snmp_authlevel">
                                            <option value="" disabled>Select</option>
                                            <option [value]="AuthLevelMapping.NoAuthNoPriv">
                                                {{AuthLevelMapping.NoAuthNoPriv}}</option>
                                            <option [value]="AuthLevelMapping.AuthNoPriv">
                                                {{AuthLevelMapping.AuthNoPriv}}</option>
                                            <option [value]="AuthLevelMapping.AuthPriv">{{AuthLevelMapping.AuthPriv}}
                                            </option>
                                        </select>
                                        <div class="invalid-feedback" *ngIf="view.formErrors.snmp_authlevel">
                                            {{view.formErrors.snmp_authlevel}}</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <input id="{{i}}-snmp_authname" class="form-control" type="text"
                                            formControlName="snmp_authname"
                                            [class.is-invalid]="view.formErrors.snmp_authname">
                                        <div class="invalid-feedback" *ngIf="view.formErrors.snmp_authname">
                                            {{view.formErrors.snmp_authname}}
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <custom-password-field formControlName="snmp_authpass"
                                            [options]="{errors:view.formErrors.snmp_authpass, placeholder:''}"
                                            [isDisabled]="view.form.get('snmp_authpass').disabled"></custom-password-field>
                                    </div>

                                </td>
                                <td>
                                    <div>
                                        <select id="{{i}}-snmp_authalgo" class="form-control"
                                            formControlName="snmp_authalgo"
                                            [class.is-invalid]="view.formErrors.snmp_authalgo">
                                            <option value="" disabled>Select</option>
                                            <option [value]="'MD5'">MD5</option>
                                            <option [value]="'SHA'">SHA</option>
                                        </select>
                                        <div class="invalid-feedback" *ngIf="view.formErrors.snmp_authalgo">
                                            {{view.formErrors.snmp_authalgo}}</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <custom-password-field formControlName="snmp_cryptopass"
                                            [options]="{errors:view.formErrors.snmp_cryptopass, placeholder:''}"
                                            [isDisabled]="view.form.get('snmp_cryptopass').disabled"></custom-password-field>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <select id="{{i}}-snmp_cryptoalgo" class="form-control"
                                            formControlName="snmp_cryptoalgo"
                                            [class.is-invalid]="view.formErrors.snmp_cryptoalgo">
                                            <option value="" disabled>Select</option>
                                            <option [value]="'AES'">AES</option>
                                            <option [value]="'DES'">DES</option>
                                        </select>
                                        <div class="invalid-feedback" *ngIf="view.formErrors.snmp_cryptoalgo">
                                            {{view.formErrors.snmp_cryptoalgo}}</div>
                                    </div>
                                </td>
                                <td class="pt-3">
                                    {{view.monitoringStatus}}
                                </td>
                                <td #lastColumn class="action-icons-column text-right">
                                    <button class="action-icons mb-0 fas fa-clipboard-check font-sm ml-1"
                                        [tooltip]="'Activate'" (click)="activateSelectRecord(view)" container="body"
                                        *ngIf="view.canActivate" [ngClass]="{'action-icons-disabled':isBulkSelected}"
                                        accessControl moduleName="Monitoring" accessType="Manage Monitoring"
                                        elementType="actionbtn" [modulePermissions]="view.applicableModulePermissions">
                                    </button>
                                    <button class="action-icons mb-0 fas fa-check font-sm ml-1" [tooltip]="'Enable'"
                                        (click)="enableSelectRecord(view)" container="body" *ngIf="view.canEnable"
                                        [ngClass]="{'action-icons-disabled':isBulkSelected}" accessControl
                                        moduleName="Monitoring" accessType="Manage Monitoring" elementType="actionbtn"
                                        [modulePermissions]="view.applicableModulePermissions">
                                    </button>
                                    <button class="action-icons mb-0 fas fa-ban font-sm ml-1" [tooltip]="'Disable'"
                                        (click)="disableSelectRecord(view)" container="body" *ngIf="view.canDisable"
                                        [ngClass]="{'action-icons-disabled':isBulkSelected}" accessControl
                                        moduleName="Monitoring" accessType="Manage Monitoring" elementType="actionbtn"
                                        [modulePermissions]="view.applicableModulePermissions">
                                    </button>
                                    <button class="action-icons mb-0 fa fa-pencil-alt font-sm ml-1" [tooltip]="'Edit'"
                                        container="body" (click)="editSelectRecord(view)"
                                        [ngClass]="{'action-icons-disabled':isBulkSelected}" accessControl
                                        moduleName="Monitoring" accessType="Manage Monitoring" elementType="actionbtn"
                                        [modulePermissions]="view.applicableModulePermissions">
                                    </button>
                                    <button class="action-icons mb-0 far fa-trash-alt font-sm ml-1" [tooltip]="'Delete'"
                                        (click)="deleteSelectRecord(view)" container="body"
                                        [ngClass]="{'action-icons-disabled':!view.canDelete || isBulkSelected}"
                                        accessControl moduleName="Monitoring" accessType="Manage Monitoring"
                                        elementType="actionbtn" [modulePermissions]="view.applicableModulePermissions">
                                    </button>
                                </td>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row mx-2">
                <div class="col-12">
                    <table-entries [pageNo]="currentCriteria.pageNo" [pageSize]="currentCriteria.pageSize"
                        [totalCount]="count">
                    </table-entries>
                    <table-pager *ngIf="viewData.length" [pageNo]="currentCriteria.pageNo"
                        [pageSize]="currentCriteria.pageSize" [totalCount]="count"
                        (pageChange)="pageChange($event)"></table-pager>
                    <div class="text-center text-muted" *ngIf="!viewData.length">No devices available.</div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #editConfigFormRef>
    <div class="card rounded-0 mb-0">
        <div class="card-header">
            Edit
            <div class="card-header-actions">
                <a class="card-header-action btn-close" (click)="closeEdit()">
                    <i class="fas fa-times"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <form [formGroup]="editConfigForm" *ngIf="editConfigForm">
                <div class="form-group">
                    <div class="invalid-credentials" *ngIf="nonFieldErr">{{nonFieldErr}}</div>
                </div>
                <div class="row" *ngIf="editConfigForm.get('connection_type').value == 'Agent'">
                    <div class="form-group col-4">
                        <label class="font-col-form-label" for="connection_type">Connection Type<em>*</em></label>
                        <select id="connection_type" class="form-control" formControlName="connection_type"
                            [class.is-invalid]="editConfigFormErrors.connection_type">
                            <option value="" disabled>Select Connection Type</option>
                            <option [value]="'Agent'">Agent</option>
                            <option [value]="'SNMP'">SNMP</option>
                        </select>
                        <div class="invalid-feedback" *ngIf="editConfigFormErrors.connection_type">
                            {{editConfigFormErrors.connection_type}}</div>
                    </div>
                    <div class="form-group col-4">
                        <label class="form-col-form-label">Agent IP<em>*</em></label>
                        <i class="fa fa-info-circle text-muted ml-2" container="body" containerClass="info-multi-line"
                            [tooltip]="'IP Address of the device on which SNMP is configured'"></i>
                        <input id="ip_address" class="form-control" formControlName="ip_address" type="text"
                            [class.is-invalid]="editConfigFormErrors.ip_address">
                        <div class="invalid-feedback" *ngIf="editConfigFormErrors.ip_address">
                            {{editConfigFormErrors.ip_address}}</div>
                    </div>
                </div>
                <div class="row" *ngIf="editConfigForm.get('connection_type').value == 'SNMP'">
                    <div class="form-group col-6">
                        <label class="font-col-form-label" for="connection_type">Connection Type<em>*</em></label>
                        <select id="connection_type" class="form-control" formControlName="connection_type"
                            [class.is-invalid]="editConfigFormErrors.connection_type">
                            <option value="" disabled>Select Connection Type</option>
                            <option [value]="'Agent'">Agent</option>
                            <option [value]="'SNMP'">SNMP</option>
                        </select>
                        <div class="invalid-feedback" *ngIf="editConfigFormErrors.connection_type">
                            {{editConfigFormErrors.connection_type}}</div>
                    </div>
                    <div class="form-group col-6" *ngIf="editConfigForm.controls.ip_address">
                        <label class="form-col-form-label">SNMP IP<em>*</em></label>
                        <i class="fa fa-info-circle text-muted ml-2" container="body" containerClass="info-multi-line"
                            [tooltip]="'IP Address of the device on which SNMP is configured'"></i>
                        <input id="ip_address" class="form-control" formControlName="ip_address" type="text"
                            [class.is-invalid]="editConfigFormErrors.ip_address">
                        <div class="invalid-feedback" *ngIf="editConfigFormErrors.ip_address">
                            {{editConfigFormErrors.ip_address}}</div>
                    </div>
                    <div class="form-group col-6">
                        <label class="form-col-form-label" for="snmp_version">SNMP Protocol Version<em>*</em></label>
                        <i class="fa fa-info-circle text-muted ml-2" container="body" containerClass="info-multi-line"
                            [tooltip]="'Select SNMP versions V1, V2, V3'"></i>
                        <select class="form-control" id="snmp_version" formControlName="snmp_version"
                            [ngClass]="{'is-invalid' : editConfigFormErrors.snmp_version}">
                            <option [value]="''" disabled>Select</option>
                            <option [value]="SNMPVersionMapping.V1">{{SNMPVersionMapping.V1}}</option>
                            <option [value]="SNMPVersionMapping.V2C">{{SNMPVersionMapping.V2C}}</option>
                            <option [value]="SNMPVersionMapping.V3">{{SNMPVersionMapping.V3}}</option>
                        </select>
                        <div class="invalid-feedback" *ngIf="editConfigFormErrors.snmp_version">
                            {{editConfigFormErrors.snmp_version}}</div>
                    </div>
                    <ng-container [ngSwitch]="editConfigForm.controls.snmp_version.value">
                        <ng-container *ngSwitchCase="SNMPVersionMapping.V1">
                            <ng-container *ngTemplateOutlet="V1_V2"></ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="SNMPVersionMapping.V2C">
                            <ng-container *ngTemplateOutlet="V1_V2"></ng-container>
                        </ng-container>

                        <ng-container *ngSwitchCase="SNMPVersionMapping.V3">
                            <ng-container *ngTemplateOutlet="V3"></ng-container>
                        </ng-container>

                        <ng-template #V1_V2>
                            <div class="form-group col-6" *ngIf="editConfigForm.controls.snmp_community">
                                <label class="form-col-form-label">SNMP String<em>*</em></label>
                                <i class="fa fa-info-circle text-muted ml-2" container="body"
                                    containerClass="info-multi-line"
                                    [tooltip]="'SNMP string configured on the device'"></i>
                                <custom-password-field formControlName="snmp_community"
                                    [options]="{errors:editConfigFormErrors.snmp_community, placeholder:''}"
                                    [isDisabled]="editConfigForm.get('snmp_community').disabled"></custom-password-field>
                            </div>
                        </ng-template>

                        <ng-template #V3>
                            <div class="form-group col-6" *ngIf="editConfigForm.controls.snmp_authlevel">
                                <label class="form-col-form-label" for="snmp_authlevel">Auth Level<em>*</em></label>
                                <i class="fa fa-info-circle text-muted ml-2" container="body"
                                    containerClass="info-multi-line"
                                    [tooltip]="'Select Auth Level noAuthNoPriv, authNoPriv, authPriv'"></i>
                                <select class="form-control" id="snmp_authlevel" formControlName="snmp_authlevel"
                                    [ngClass]="{'is-invalid' : editConfigFormErrors.snmp_authlevel}">
                                    <option [value]="''" disabled>Select</option>
                                    <option [value]="AuthLevelMapping.NoAuthNoPriv">{{AuthLevelMapping.NoAuthNoPriv}}
                                    </option>
                                    <option [value]="AuthLevelMapping.AuthNoPriv">{{AuthLevelMapping.AuthNoPriv}}
                                    </option>
                                    <option [value]="AuthLevelMapping.AuthPriv">{{AuthLevelMapping.AuthPriv}}</option>
                                </select>
                                <div class="invalid-feedback" *ngIf="editConfigFormErrors.snmp_authlevel">
                                    {{editConfigFormErrors.snmp_authlevel}}</div>
                            </div>

                            <ng-container [ngSwitch]="editConfigForm.controls.snmp_authlevel.value">

                                <ng-container *ngSwitchCase="AuthLevelMapping.NoAuthNoPriv">
                                    <ng-container *ngTemplateOutlet="NOAUTHNOPRIV"></ng-container>
                                </ng-container>

                                <ng-container *ngSwitchCase="AuthLevelMapping.AuthNoPriv">
                                    <ng-container *ngTemplateOutlet="AUTHNOPRIV"></ng-container>
                                </ng-container>

                                <ng-container *ngSwitchCase="AuthLevelMapping.AuthPriv">
                                    <ng-container *ngTemplateOutlet="AUTHNOPRIV"></ng-container>
                                    <ng-container *ngTemplateOutlet="AUTHPRIV"></ng-container>
                                </ng-container>

                                <ng-template #NOAUTHNOPRIV>
                                    <div class="form-group col-6" *ngIf="editConfigForm.controls.snmp_authname">
                                        <label class="form-col-form-label">Auth Username<em>*</em></label>
                                        <i class="fa fa-info-circle text-muted ml-2" container="body"
                                            containerClass="info-multi-line"
                                            [tooltip]="'Username for Authentication'"></i>
                                        <input id="snmp_authname" class="form-control" type="text"
                                            formControlName="snmp_authname"
                                            [class.is-invalid]="editConfigFormErrors.snmp_authname">
                                        <div class="invalid-feedback" *ngIf="editConfigFormErrors.snmp_authname">
                                            {{editConfigFormErrors.snmp_authname}}</div>
                                    </div>
                                </ng-template>

                                <ng-template #AUTHNOPRIV>
                                    <div class="form-group col-6" *ngIf="editConfigForm.controls.snmp_authname">
                                        <label class="form-col-form-label">Auth Username<em>*</em></label>
                                        <i class="fa fa-info-circle text-muted ml-2" container="body"
                                            containerClass="info-multi-line"
                                            [tooltip]="'Username for Authentication'"></i>
                                        <input id="snmp_authname" class="form-control" type="text"
                                            formControlName="snmp_authname"
                                            [class.is-invalid]="editConfigFormErrors.snmp_authname">
                                        <div class="invalid-feedback" *ngIf="editConfigFormErrors.snmp_authname">
                                            {{editConfigFormErrors.snmp_authname}}</div>
                                    </div>
                                    <div class="form-group col-6" *ngIf="editConfigForm.controls.snmp_authpass">
                                        <label class="form-col-form-label">Auth Password<em>*</em></label>
                                        <i class="fa fa-info-circle text-muted ml-2" container="body"
                                            containerClass="info-multi-line"
                                            [tooltip]="'Password for Authentication'"></i>
                                        <custom-password-field formControlName="snmp_authpass"
                                            [options]="{errors:editConfigFormErrors.snmp_authpass, placeholder:''}"
                                            [isDisabled]="editConfigForm.get('snmp_authpass').disabled"></custom-password-field>
                                    </div>
                                    <div class="form-group col-6" *ngIf="editConfigForm.controls.snmp_authalgo">
                                        <label class="form-col-form-label">Auth Algorithm<em>*</em></label>
                                        <i class="fa fa-info-circle text-muted ml-2" container="body"
                                            containerClass="info-multi-line"
                                            [tooltip]="'Select Auth Algorithm ex:MD5,SHA'"></i>
                                        <select id="snmp_authalgo" class="form-control" type="text"
                                            formControlName="snmp_authalgo"
                                            [class.is-invalid]="editConfigFormErrors.snmp_authalgo">
                                            <option [value]="''" disabled>Select</option>
                                            <option [value]="auth.value" *ngFor="let auth of authAlgos">{{auth.label}}
                                            </option>
                                        </select>
                                        <div class="invalid-feedback" *ngIf="editConfigFormErrors.snmp_authalgo">
                                            {{editConfigFormErrors.snmp_authalgo}}</div>
                                    </div>
                                </ng-template>

                                <ng-template #AUTHPRIV>
                                    <div class="form-group col-6" *ngIf="editConfigForm.controls.snmp_cryptopass">
                                        <label class="form-col-form-label">Crypto Password<em>*</em></label>
                                        <i class="fa fa-info-circle text-muted ml-2" container="body"
                                            containerClass="info-multi-line"
                                            [tooltip]="'Crypto Password for Authentication'"></i>
                                        <custom-password-field formControlName="snmp_cryptopass"
                                            [options]="{errors:editConfigFormErrors.snmp_cryptopass, placeholder:''}"
                                            [isDisabled]="editConfigForm.get('snmp_cryptopass').disabled"></custom-password-field>
                                    </div>
                                    <div class="form-group col-6" *ngIf="editConfigForm.controls.snmp_cryptoalgo">
                                        <label class="form-col-form-label">Crypto Algorithm<em>*</em></label>
                                        <i class="fa fa-info-circle text-muted ml-2" container="body"
                                            containerClass="info-multi-line"
                                            [tooltip]="'Select Crypto Algorithm ex:AES,DES'"></i>
                                        <select id="snmp_cryptoalgo" class="form-control" type="text"
                                            formControlName="snmp_cryptoalgo"
                                            [class.is-invalid]="editConfigFormErrors.snmp_cryptoalgo">
                                            <option [value]="''" disabled>Select</option>
                                            <option [value]="crypto.value" *ngFor="let crypto of cryptoAlgos">
                                                {{crypto.label}}</option>
                                        </select>
                                        <div class="invalid-feedback" *ngIf="editConfigFormErrors.snmp_cryptoalgo">
                                            {{editConfigFormErrors.snmp_cryptoalgo}}
                                        </div>
                                    </div>
                                </ng-template>
                            </ng-container>
                        </ng-template>
                    </ng-container>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <button class="btn btn-sm btn-success pull-right ml-1" type="button" (click)="confirmEdit()">Save</button>
            <button class="btn btn-sm btn-danger pull-right" (click)="closeEdit()" type="button">Cancel</button>
        </div>
    </div>
</ng-template>

<ng-template #confirmActivateRef>
    <div class="card mb-0">
        <div class="card-header">
            Activate Monitoring
            <div class="card-header-actions">
                <a class="card-header-action btn-close" (click)="closeActivate()">
                    <i class="fas fa-times"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <p *ngIf="isBulkSelected || isBulkErrorsSelected">
                Only for the configured devices, monitoring can be activated. Please make sure all the selected
                devices are configured.
            </p>

            <p>
                Are you sure to activate monitoring for the selected {{!isBulkSelected && !isBulkErrorsSelected ?
                'device' : 'devices'}} ?
            </p>
        </div>
        <div class="card-footer">
            <button class="btn btn-sm btn-success pull-right ml-1" type="button"
                (click)="confirmActivate()">Yes</button>
            <button class="btn btn-sm btn-danger pull-right" (click)="closeActivate()" type="button">No</button>
        </div>
    </div>
</ng-template>

<ng-template #confirmEnableRef>
    <div class="card mb-0">
        <div class="card-header">
            Enable Monitoring
            <div class="card-header-actions">
                <a class="card-header-action btn-close" (click)="closeEnable()">
                    <i class="fas fa-times"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <p *ngIf="isBulkSelected || isBulkErrorsSelected">
                Only configured devices can be enabled. Please make sure all the selected devices are configured.
            </p>

            <p *ngIf="!isBulkSelected && !isBulkErrorsSelected">
                Are you sure to enable monitoring for this device ?
            </p>
        </div>
        <div class="card-footer">
            <button class="btn btn-sm btn-success pull-right ml-1" type="button" (click)="confirmEnable()">Yes</button>
            <button class="btn btn-sm btn-danger pull-right" (click)="closeEnable()" type="button">No</button>
        </div>
    </div>
</ng-template>

<ng-template #confirmDisableRef>
    <div class="card mb-0">
        <div class="card-header">
            Disable Monitoring
            <div class="card-header-actions">
                <a class="card-header-action btn-close" (click)="confirmDisableModalRef.hide()">
                    <i class="fas fa-times"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <p *ngIf="isBulkSelected || isBulkErrorsSelected">
                Only configured devices can be disabled. Please make sure all the selected devices are configured.
            </p>

            <p *ngIf="!isBulkSelected && !isBulkErrorsSelected">
                Are you sure to disable monitoring for this device ?
            </p>
        </div>
        <div class="card-footer">
            <button class="btn btn-sm btn-success pull-right ml-1" type="button" (click)="confirmDisable()">Yes</button>
            <button class="btn btn-sm btn-danger pull-right" (click)="confirmDisableModalRef.hide()"
                type="button">No</button>
        </div>
    </div>
</ng-template>

<ng-template #confirmDeleteRef>
    <div class="card mb-0">
        <div class="card-header">
            Delete Monitoring
            <div class="card-header-actions">
                <a class="card-header-action btn-close" (click)="confirmDeleteModalRef.hide()">
                    <i class="fas fa-times"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <p *ngIf="isBulkSelected || isBulkErrorsSelected">
                Configuration for all the selected devices will be deleted. Are you sure you want to delete?
            </p>

            <p *ngIf="!isBulkSelected && !isBulkErrorsSelected">
                Are you sure to delete monitoring for this device ?
            </p>
        </div>
        <div class="card-footer">
            <button class="btn btn-sm btn-success pull-right ml-1" type="button" (click)="confirmDelete()">Yes</button>
            <button class="btn btn-sm btn-danger pull-right" (click)="confirmDeleteModalRef.hide()"
                type="button">No</button>
        </div>
    </div>
</ng-template>

<ng-template #errorTable>
    <div class="card text-center border-danger">
        <div class="card-header bg-white border-0">
            <div class="row">
                <div class="col-2 text-capitalize text-left h5">{{errorViewData.action}}</div>
                <div class="col-8 text-danger">
                    <i class="fas fa-exclamation-triangle text-danger"></i>{{errorViewData.errorMsg}}
                </div>
                <div class="col-2">
                    <div class="card-header-actions ml-3 mt-1">
                        <a class="card-header-action btn-close" (click)="closeErrorTable()" [tooltip]="'close'">
                            <i class="fas fa-times fa-lg text-warning"></i>
                        </a>
                    </div>
                    <button class="btn btn-pill btn-warning pull-right btn-sm ml-2" type="button"
                        (click)="bulkErrorRecordDelete()" *ngIf="errorViewData.action == 'delete'"
                        [disabled]="!isBulkErrorsSelected">Delete</button>
                    <button class="btn btn-pill btn-warning pull-right btn-sm ml-2" type="button"
                        (click)="bulkErrorRecordEdit()" *ngIf="errorViewData.action == 'edit'"
                        [disabled]="!isBulkErrorsSelected">Edit</button>
                    <button class="btn btn-pill btn-warning pull-right btn-sm ml-2" type="button"
                        (click)="bulkErrorRecordDisable()" *ngIf="errorViewData.action == 'disable'"
                        [disabled]="!isBulkErrorsSelected">Disable</button>
                    <button class="btn btn-pill btn-warning pull-right btn-sm ml-2" type="button"
                        (click)="bulkErrorRecordEnable()" *ngIf="errorViewData.action == 'enable'"
                        [disabled]="!isBulkErrorsSelected">Enable</button>
                    <button class="btn btn-pill btn-warning pull-right btn-sm ml-2" type="button"
                        (click)="bulkErrorRecordActivate()" *ngIf="errorViewData.action == 'activate'"
                        [disabled]="!isBulkErrorsSelected">Activate</button>
                </div>
            </div>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table text-left">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Device Name</th>
                            <th>Device Type</th>
                            <th>Management IP</th>
                            <th>SNMP IP</th>
                            <th>SNMP Version</th>
                            <th>Community String</th>
                            <th>Authentication Level</th>
                            <th>Authentication Username</th>
                            <th>Authentication Password</th>
                            <th>Authentication Algorithm</th>
                            <th>Crypto Password</th>
                            <th>Crypto Algorithm</th>
                            <th>Monitoring Status</th>
                            <!-- <th>Description</th> -->
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let view of errorViewData.data; let i = index">
                            <ng-container [formGroup]="view.form" *ngIf="view.form">
                                <td class="bg-white text-primary pl-3"
                                    (click)="$event.stopPropagation();selectErrorRecords(view, i)"
                                    style="font-size:1rem">
                                    <i class="far" [ngClass]="view.isSelected? 'fa-check-square':'fa-square'"></i>
                                </td>
                                <td>{{view.deviceName}}</td>
                                <td>{{view.deviceType}}</td>
                                <td>{{view.managementIP}}</td>
                                <td>{{view.snmpIP}}</td>
                                <td>
                                    <div>
                                        <select id="{{i}}-snmp_version" class="form-control"
                                            formControlName="snmp_version"
                                            [class.is-invalid]="view.formErrors.snmp_version">
                                            <option value="" disabled>Select</option>
                                            <option [value]="SNMPVersionMapping.V1">{{SNMPVersionMapping.V1}}</option>
                                            <option [value]="SNMPVersionMapping.V2C">{{SNMPVersionMapping.V2C}}</option>
                                            <option [value]="SNMPVersionMapping.V3">{{SNMPVersionMapping.V3}}</option>
                                        </select>
                                        <div class="invalid-feedback" *ngIf="view.formErrors.snmp_version">
                                            {{view.formErrors.snmp_version}}</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <input id="{{i}}-snmp_community" class="form-control" type="text"
                                            formControlName="snmp_community"
                                            [class.is-invalid]="view.formErrors.snmp_community">
                                        <div class="invalid-feedback" *ngIf="view.formErrors.snmp_community">
                                            {{view.formErrors.snmp_community}}
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <select id="{{i}}-snmp_authlevel" class="form-control"
                                            formControlName="snmp_authlevel"
                                            [class.is-invalid]="view.formErrors.snmp_authlevel">
                                            <option value="" disabled>Select</option>
                                            <option [value]="AuthLevelMapping.NoAuthNoPriv">
                                                {{AuthLevelMapping.NoAuthNoPriv}}</option>
                                            <option [value]="AuthLevelMapping.AuthNoPriv">
                                                {{AuthLevelMapping.AuthNoPriv}}</option>
                                            <option [value]="AuthLevelMapping.AuthPriv">{{AuthLevelMapping.AuthPriv}}
                                            </option>
                                        </select>
                                        <div class="invalid-feedback" *ngIf="view.formErrors.snmp_authlevel">
                                            {{view.formErrors.snmp_authlevel}}</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <input id="{{i}}-snmp_authname" class="form-control" type="text"
                                            formControlName="snmp_authname"
                                            [class.is-invalid]="view.formErrors.snmp_authname">
                                        <div class="invalid-feedback" *ngIf="view.formErrors.snmp_authname">
                                            {{view.formErrors.snmp_authname}}
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <input id="{{i}}-snmp_authpass" class="form-control" type="text"
                                            formControlName="snmp_authpass"
                                            [class.is-invalid]="view.formErrors.snmp_authpass">
                                        <div class="invalid-feedback" *ngIf="view.formErrors.snmp_authpass">
                                            {{view.formErrors.snmp_authpass}}
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <select id="{{i}}-snmp_authalgo" class="form-control"
                                            formControlName="snmp_authalgo"
                                            [class.is-invalid]="view.formErrors.snmp_authalgo">
                                            <option value="" disabled>Select</option>
                                            <option [value]="'MD5'">MD5</option>
                                            <option [value]="'SHA'">SHA</option>
                                        </select>
                                        <div class="invalid-feedback" *ngIf="view.formErrors.snmp_authalgo">
                                            {{view.formErrors.snmp_authalgo}}</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <input id="{{i}}-snmp_cryptopass" class="form-control" type="text"
                                            formControlName="snmp_cryptopass"
                                            [class.is-invalid]="view.formErrors.snmp_cryptopass">
                                        <div class="invalid-feedback" *ngIf="view.formErrors.snmp_cryptopass">
                                            {{view.formErrors.snmp_cryptopass}}
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <select id="{{i}}-snmp_cryptoalgo" class="form-control"
                                            formControlName="snmp_cryptoalgo"
                                            [class.is-invalid]="view.formErrors.snmp_cryptoalgo">
                                            <option value="" disabled>Select</option>
                                            <option [value]="'AES'">AES</option>
                                            <option [value]="'DES'">DES</option>
                                        </select>
                                        <div class="invalid-feedback" *ngIf="view.formErrors.snmp_cryptoalgo">
                                            {{view.formErrors.snmp_cryptoalgo}}</div>
                                    </div>
                                </td>
                                <td class="pt-3">
                                    <shared-device-status [status]="view.monitoringStatus"></shared-device-status>
                                </td>
                                <!-- <td>{{view.description}}</td> -->
                                <td class="action-icons-column">
                                    <button class="action-icons mb-0 fas fa-clipboard-check font-sm ml-1"
                                        [tooltip]="'Enable'" (click)="activateSelectedErrorRecord(view)"
                                        container="body" *ngIf="errorViewData.action == 'activate'"
                                        [ngClass]="{'action-icons-disabled':isBulkErrorsSelected}">
                                    </button>
                                    <button class="action-icons mb-0 fas fa-check font-sm ml-1" [tooltip]="'Enable'"
                                        (click)="enableSelectedErrorRecord(view)" container="body"
                                        *ngIf="errorViewData.action == 'enable'"
                                        [ngClass]="{'action-icons-disabled':isBulkErrorsSelected}">
                                    </button>
                                    <button class="action-icons mb-0 fas fa-ban font-sm ml-1" [tooltip]="'Disable'"
                                        (click)="disableSelectedErrorRecord(view)" container="body"
                                        *ngIf="errorViewData.action == 'disable'"
                                        [ngClass]="{'action-icons-disabled':isBulkErrorsSelected}">
                                    </button>
                                    <button class="action-icons mb-0 fa fa-pencil-alt font-sm ml-1" [tooltip]="'Edit'"
                                        container="body" (click)="editSelectedErrorRecord(view)"
                                        *ngIf="errorViewData.action == 'edit'"
                                        [ngClass]="{'action-icons-disabled':isBulkErrorsSelected}">
                                    </button>
                                    <button class="action-icons mb-0 far fa-trash-alt font-sm ml-1" [tooltip]="'Delete'"
                                        (click)="deleteSelectedErrorRecord(view)" container="body"
                                        *ngIf="errorViewData.action == 'delete'"
                                        [ngClass]="{'action-icons-disabled':isBulkErrorsSelected}">
                                    </button>
                                </td>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-template>