<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body p-0">
        <form class="form-horizontal">
          <div class="form-group row mb-0">
            <div class="col py-2 text-warning text-right">
              <a class="nav-link py-0 align-middle" (click)="goBack()"><i class="fa fa-arrow-left">&nbsp;</i>Virtual
                Service List</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<scrollable-tab [selector]="'active'">
  <div class="nav-item border-right border-light" #scrollLeft>
    <a class="nav-link bg-secondary rounded-top border-bottom-0"><i class="fa fa-angle-left"></i></a>
  </div>
  <ul class="nav nav-tabs nav-tabs custom-nav-container border-bottom-0" #tabContent role="tablist">
    <li class="nav-item bg-secondary rounded-top" *ngFor="let tab of tabData">
      <a class="nav-link" [ngClass]="isActive(tab)" (click)="goTo(tab)">
        <i class="fa" [ngClass]="tab.icon"></i> {{tab.name}}</a>
    </li>
  </ul>
  <div class="nav-item border-left border-light" #scrollRight>
    <a class="nav-link bg-secondary rounded-top border-bottom-0"><i class="fa fa-angle-right"></i></a>
  </div>
</scrollable-tab>

<router-outlet></router-outlet>