<div class="row" >
    <div class="col-lg-12 box-container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="col-md-8 pinnewcustitle no-sides-padding">
                    <i class="fa fa-exclamation-triangle fa-fw"></i> Alerts ({{tabledata.length}}) Last 2 Hours
                </div>
                <div class="col-md-4 pinnewcus">
                    <input class="form-control custom_search_field"
                           type="text" ng-model="searchKeyword"
                           placeholder="Search by name.." ng-model-options="{debounce: {'default': 100, 'blur': 0 }}">
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper cscrolldiv">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th ng-repeat="row in headers">
                                    <div ng-if="row.hide === undefined">{{ row | uppercase }}</div>
                                </th>
                            </tr>
                        </thead>
                    <tbody>
                        <tr ng-repeat="row in tabledata | filter: searchKeyword" class="odd gradeX">
                            <td><div>{{ row.source }}</div></td>
                            <td><div>{{ row.name }}</div></td>
                            <td><div>{{ row.data_center }}</div></td>
                            <td><div>{{ row.resolution_state }}</div></td>
                            <td><div>{{ row.created }}</div></td>
                            <td><div>{{ row.age }}</div></td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
