.badge-information {
    background-color: #eef6ff;
    border: 1px solid #8cc2ff;
}

.badge-warning {
    background: #fff4db;
    border: 1px solid #f2c97d;
}

.badge-critical {
    background-color: #fdecea;
    border: 1px solid #f5c6cb;
}