.trailing-cloud-img{
    max-height: 25px;
    width: 85px;
}
.scrollit {
    overflow-y: auto;
    overflow-x: hidden;
    height: 280px;
}

.card-header{
    height: 44px;
}

.card-body{
    height: calc(100% - 44px);
}