.custom-height {
    min-height: 240px;
}

.content-wrap {
    position: relative;
    z-index: 1;
    height: 60vh;
}

.title-section {
    text-align: center;
    font-family: "Onest", sans-serif;
}

.text-section {
    max-width: 45%;
    text-align: center;
    font-family: "Onest", sans-serif;
}