<!--Monitoring Ends-->
<!--Support Starts-->
<li>
  <a href="">
    <i class="fa fa-support fa-fw fa-lg"></i>
    <span class="menu-item-text">Support</span><span class="fa arrow fa-lg"></span>
  </a>
    <ul class="nav nav-second-level">
      <li>
        <a class="menu-item" href="#/integ/support">
        <i class="fa fa-question-circle fa-fw "></i><span class="menu-item-text"> Support Request</span>
        </a>
      </li>
      <li>
        <a class="menu-item" href="#/change_ticket">
        <i class="fa fa-columns fa-fw "></i><span class="menu-item-text"> Change Management</span>
          <!-- <span class="fa arrow fa-lg"></span> -->
        </a>
        <!-- <ul class="nav nav-third-level">
          <li><a class="menu-item menu-disabled" href=""><i class="fa fa-plus-square fa-fw fa-lg"></i>
            <span class="menu-item-text">New Service Request (TBD)</span></a></li>
          <li><a class="menu-item" href="#/change_ticket"><i class="fa fa-ticket fa-fw fa-lg"></i>
            <span class="menu-item-text">Change Ticket</span></a></li>
        </ul> -->
      </li>
      <li>
          <a class="menu-item" href="#/existing_ticket">
          <i class="fa fa-tags fa-fw "></i><span class="menu-item-text"> Incident Management</span>
            <!-- <span class="fa arrow fa-lg"></span> -->
          </a>
          <!-- <ul class="nav nav-third-level">
            <li><a class="menu-item menu-disabled" href=""><i class="fa fa-plus-circle fa-fw fa-lg"></i>
              <span class="menu-item-text">New Incident Ticket (TBD)</span></a></li>
            <li><a class="menu-item" href="#/existing_ticket"><i class="fa fa-ticket fa-fw fa-lg"></i>
              <span class="menu-item-text">Existing Tickets</span></a></li>
          </ul> -->
      </li>

      <!-- <li><a class="menu-item menu-disabled" href="">
        <i class="fa fa-support fa-fw "></i><span class="menu-item-text"> Open Ticket (TBD)</span>
      </a></li> -->
      <!-- <li><a class="menu-item menu-disabled" href="">
        <i class="fa fa-support fa-fw "></i><span class="menu-item-text"> Update Ticket (TBD)</span>
      </a></li> -->
      <li><a class="menu-item" href="#/maintenance-schedules"><i class="fa fa-calendar fa-fw fa-lg"></i>
          <span class="menu-item-text"> Maintenance Schedule</span>
      </a></li>
    </ul>
</li>
<!--Support Ends-->
