@import "variables";

ul {
    list-style: none;
}

ul li {
    text-align: center;
    background: white;
    cursor: pointer;
    transition: all 0.2s ease;
    border: 1px solid #c8ced3;

    label {
        border-radius: 25px;
        width: 100%;
        padding: 0.25rem 0.5rem;
        display: inherit;
        border-color: #73818f;
        font-size: 0.765625rem;
        line-height: 1.5;
        margin-bottom: 0px !important;

        input {
            visibility: hidden;
        }
    }

    label.active {
        background-color: #378ad8 !important;
        color: #ffffff !important;
    }
}

ul li:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-right: none !important;
}

ul li:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-left: none !important;
}

.bg-light-blue {
    background-color: #d8ecff !important;
}