<div class="card-header round-edge bg-white d-flex justify-content-between align-items-center mx-3 mt-2">
    <div class="d-flex align-items-center justify-content-center">
        <span class="fas fa-long-arrow-alt-up text-success"></span>
        <span class="ml-2 font-weight-bold mt-1">Interface_unit_1</span>
    </div>
    <div class="d-flex align-items-center justify-content-end">
        <button class="btn btn-pill btn-warning pull-right btn-sm mb-1" tooltip="Back"><i class="fa fa-arrow-left"
                (click)="goBack()"></i></button>
        <data-refresh-btn></data-refresh-btn>
    </div>
</div>

<div class="row mx-1 my-3">
    <div class="col">
        <div class="card round-edge mb-0 pointer-link">
            <!-- <app-spinner [name]="'activated'"></app-spinner> -->
            <div class="card-body d-flex flex-column px-2 py-2">
                <div class="text-left mb-4">
                    <span class="font-sm text-muted">Receive</span>
                </div>
                <div class="d-flex justify-content-start align-items-baseline">
                    <span class="text-primary font-lg font-500">{{networkInterfaceViewData?.receive.value}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card round-edge mb-0 pointer-link">
            <!-- <app-spinner [name]="'activated'"></app-spinner> -->
            <div class="card-body d-flex flex-column px-2 py-2">
                <div class="text-left mb-4">
                    <span class="font-sm text-muted">Transmit</span>
                </div>
                <div class="d-flex justify-content-start align-items-baseline">
                    <span class="text-primary font-lg font-500">{{networkInterfaceViewData?.transmit.value}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card round-edge mb-0 pointer-link">
            <!-- <app-spinner [name]="'activated'"></app-spinner> -->
            <div class="card-body d-flex flex-column px-2 py-2">
                <div class="text-left mb-4">
                    <span class="font-sm text-muted">Bandwidth</span>
                </div>
                <div class="d-flex justify-content-start align-items-baseline">
                    <span class="text-primary font-lg font-500">{{networkInterfaceViewData?.bandwidth.value}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card round-edge mb-0 pointer-link">
            <!-- <app-spinner [name]="'activated'"></app-spinner> -->
            <div class="card-body d-flex flex-column px-2 py-2">
                <div class="text-left mb-4">
                    <span class="font-sm text-muted">Speed</span>
                </div>
                <div class="d-flex justify-content-start align-items-baseline">
                    <span class="text-primary font-lg font-500">{{networkInterfaceViewData?.speed.value}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card round-edge mb-0 pointer-link">
            <!-- <app-spinner [name]="'activated'"></app-spinner> -->
            <div class="card-body d-flex flex-column px-2 py-2">
                <div class="text-left mb-1">
                    <span class="font-sm text-muted">Outbound Package with error</span>
                </div>
                <div class="d-flex justify-content-start align-items-baseline">
                    <span
                        class="text-primary font-lg font-500">{{networkInterfaceViewData?.outboundWithError.value}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card round-edge mb-0 pointer-link">
            <!-- <app-spinner [name]="'activated'"></app-spinner> -->
            <div class="card-body d-flex flex-column px-2 py-2">
                <div class="text-left mb-1">
                    <span class="font-sm text-muted">Inbound Package with error</span>
                </div>
                <div class="d-flex justify-content-start align-items-baseline">
                    <span
                        class="text-primary font-lg font-500">{{networkInterfaceViewData?.inboundWithError.value}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card round-edge mb-0 pointer-link">
            <!-- <app-spinner [name]="'activated'"></app-spinner> -->
            <div class="card-body d-flex flex-column px-2 py-2">
                <div class="text-left mb-1">
                    <span class="font-sm text-muted">Outboud package discarded</span>
                </div>
                <div class="d-flex justify-content-start align-items-baseline">
                    <span
                        class="text-primary font-lg font-500">{{networkInterfaceViewData?.outboundDiscarded.value}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card round-edge mb-0 pointer-link">
            <!-- <app-spinner [name]="'activated'"></app-spinner> -->
            <div class="card-body d-flex flex-column px-2 py-2">
                <div class="text-left mb-1">
                    <span class="font-sm text-muted">Outboud package with error</span>
                </div>
                <div class="d-flex justify-content-start align-items-baseline">
                    <span
                        class="text-primary font-lg font-500">{{networkInterfaceViewData?.outboundWithError.value}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="card-header mx-3 round-edge border-0 pl-3 pr-0 mb-3 bg-white">
    <form class="form" [formGroup]="filterForm" *ngIf="filterForm">
        <div class="row w-100">
            <div class="form-group col-2">
                <label for="from font-weight-bold">Duration :&nbsp;</label>
                <select class="form-control w-100" formControlName="period" [class.is-invalid]="formErrors.period">
                    <option [value]="graphRange.LAST_24_HOURS">Last 24 Hours</option>
                    <option [value]="graphRange.YESTERDAY">Yesterday</option>
                    <option [value]="graphRange.LAST_WEEK">Last Week</option>
                    <option [value]="graphRange.LAST_MONTH">Last Month</option>
                    <option [value]="graphRange.LAST_YEAR">Last Year</option>
                    <option [value]="graphRange.CUSTOM">Custom</option>
                </select>
                <div class="invalid-feedback" *ngIf="formErrors.period">{{formErrors.period}}</div>
            </div>
            <div class="form-group col-3">
                <label for="from">From :&nbsp;</label>
                <div class="d-flex">
                    <owl-date-time #from [hour12Timer]="true"></owl-date-time>
                    <input class="form-control rounded-left" formControlName="from" [owlDateTimeTrigger]="from"
                        [owlDateTime]="from" type="text" name="from" placeholder="from" [max]="now">
                    <div class="input-group-append " [owlDateTimeTrigger]="from">
                        <span class="input-group-text bg-white">
                            <i class="fas fa-calendar-alt"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group col-3">
                <label for="to">To :&nbsp;</label>
                <div class="d-flex">
                    <owl-date-time #to [hour12Timer]="true"></owl-date-time>
                    <input class="form-control rounded-left" formControlName="to" [owlDateTimeTrigger]="to"
                        [owlDateTime]="to" type="text" name="to" placeholder="to" [min]="filterForm.controls.from.value"
                        [max]="now">
                    <div class="input-group-append " [owlDateTimeTrigger]="to">
                        <span class="input-group-text bg-white">
                            <i class="fas fa-calendar-alt"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-1 d-flex align-items-center mt-2 pr-0">
                <button class="btn btn-warning btn-pill pull-left" (click)="onSubmit()">Update</button>
            </div>
        </div>
    </form>
</div> -->

<!-- <div class="row">
    <div class="col-12">
        <div class="card border-0 rounded-0 graph-card" *ngFor="let view of viewData">
            <app-spinner [name]="networkInterfaceViewData.graphid"></app-spinner>
            <div class="card-body">
                <h5 class="card-title text-warning">{{view.name}}</h5>
                <div class="row">
                    <img class="img-fluid pointer-link" *ngIf="view.image" [src]="'data:image/png;base64,'+view.image">
                </div>
            </div>
        </div>
        <div class="card border-0 rounded-0 graph-card" *ngIf="!viewData.length">
            <div class="card-body">
                <coming-soon [message]="'No graphs were found'"></coming-soon>
            </div>
        </div>
    </div>
</div> -->