@import "variables";

.summary-icons {
    color: $white !important;
    &.hypervisor {
      background-color: $hypervisor;
    }
    &.vms {
      background-color: $vms;
    }
    &.bms {
      background-color: $bms;
    }
    &.otherdev {
      background-color: $otherdev;
    }
    &.firewalls {
      background-color: $firewalls;
    }
    &.lbs {
      background-color: $lbs;
    }
    &.switches {
    background-color: $switches;
  }
  &.cfa-kubernetes {
    background-color: $pdus;
  }
  &.fa-hdd {
    background-color: $storage;
  }
  &.fa-database {
    background-color: $database;
  }
}