<div class="container-fluid mt-2 px-2">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- <div class="card-header bg-transparent d-flex justify-content-between py-2">
                        <div _ngcontent-tbi-c1191="" class="row justify-content-between">
                            <div _ngcontent-tbi-c1191="" class="col-5 font-weight-bold"><span _ngcontent-tbi-c1191=""
                                    class="ml-2 font-weight-bold font-lg">Create User</span></div>
                            <div _ngcontent-tbi-c1191="" class="col-1"><button _ngcontent-tbi-c1191="" type="button"
                                    container="body" class="btn btn-pill btn-warning pull-right btn-sm ml-2"><i
                                        _ngcontent-tbi-c1191="" class="fa fa-arrow-left"></i></button></div>
                        </div>
                    </div> -->
                    <div class="card-header bg-transparent d-flex justify-content-between align-items-center p-2">
                        <!-- <h5 class="card-title font-weight-bold mb-0">{{ action }} GPU Container</h5> -->
                        <span class="ml-2 font-weight-bold font-lg">{{ action }} GPU Container</span>
                        <button class="btn btn-pill btn-warning pull-right btn-sm ml-2" (click)="goBack()">
                            <i class="fa fa-arrow-left text-white"></i>
                        </button>
                    </div>
                    <div class="card-body pt-4">
                        <form *ngIf="form" [formGroup]="form" class="form-horizontal px-md-5" (ngSubmit)="onSubmit()">

                            <!-- Cloud -->
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right p-0 pt-2" for="cloud">Cloud<span
                                        class="text-danger">*</span> : </label>
                                <div class="col-md-4">
                                    <select class="form-control" id="cloud" formControlName="cloud"
                                        [ngClass]="{'is-invalid': formErrors.cloud}">
                                        <option value="" disabled selected>Select Cloud</option>
                                        <option *ngFor="let item of dropdownData.clouds" [value]="item">{{ item }}
                                        </option>
                                    </select>
                                    <div class="invalid-feedback" *ngIf="formErrors.cloud">{{ formErrors.cloud }}</div>
                                </div>
                            </div>

                            <!-- Select Account -->
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right p-0 pt-2" for="account">Select
                                    Account<span class="text-danger">*</span> : </label>
                                <div class="col-md-4">
                                    <select class="form-control" id="account" formControlName="account"
                                        [ngClass]="{'is-invalid': formErrors.account}">
                                        <option value="" disabled selected>Select Account</option>
                                        <option *ngFor="let item of dropdownData.accounts" [value]="item">{{ item }}
                                        </option>
                                    </select>
                                    <div class="invalid-feedback" *ngIf="formErrors.account">{{ formErrors.account }}
                                    </div>
                                </div>
                            </div>

                            <!-- Select Account Region -->
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right p-0 pt-2"
                                    for="account_region">Select
                                    Account Region<span class="text-danger">*</span> : </label>
                                <div class="col-md-4">
                                    <select class="form-control" id="account_region" formControlName="account_region"
                                        [ngClass]="{'is-invalid': formErrors.account_region}">
                                        <option value="" disabled selected>Select Region</option>
                                        <option *ngFor="let item of dropdownData.regions" [value]="item">{{ item }}
                                        </option>
                                    </select>
                                    <div class="invalid-feedback" *ngIf="formErrors.account_region">{{
                                        formErrors.account_region
                                        }}</div>
                                </div>
                            </div>

                            <!-- Select Azure Plan -->
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right p-0 pt-2" for="azure_plan">Select
                                    Azure
                                    Plan<span class="text-danger">*</span> : </label>
                                <div class="col-md-4">
                                    <select class="form-control" id="azure_plan" formControlName="azure_plan"
                                        [ngClass]="{'is-invalid': formErrors.azure_plan}">
                                        <option value="" disabled selected>Select Azure Plan</option>
                                        <option *ngFor="let item of dropdownData.plans" [value]="item">{{ item }}
                                        </option>
                                    </select>
                                    <div class="invalid-feedback" *ngIf="formErrors.azure_plan">{{ formErrors.azure_plan
                                        }}
                                    </div>
                                </div>
                            </div>

                            <!-- Select Azure Image Offer -->
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right p-0 pt-2"
                                    for="azure_image_offer">Select
                                    Azure Image Offer<span class="text-danger">*</span> : </label>
                                <div class="col-md-4">
                                    <select class="form-control" id="azure_image_offer"
                                        formControlName="azure_image_offer"
                                        [ngClass]="{'is-invalid': formErrors.azure_image_offer}">
                                        <option value="" disabled selected>Select Azure Image</option>
                                        <option *ngFor="let item of dropdownData.imageOffers" [value]="item">{{ item }}
                                        </option>
                                    </select>
                                    <div class="invalid-feedback" *ngIf="formErrors.azure_image_offer">{{
                                        formErrors.azure_image_offer }}</div>
                                </div>
                            </div>

                            <!-- Select Storage Account Type -->
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right p-0 pt-2"
                                    for="storage_account_type">Select
                                    Storage Account Type<span class="text-danger">*</span> : </label>
                                <div class="col-md-4">
                                    <select class="form-control" id="storage_account_type"
                                        formControlName="storage_account_type"
                                        [ngClass]="{'is-invalid': formErrors.storage_account_type}">
                                        <option value="" disabled selected>Select Storage Account Type</option>
                                        <option *ngFor="let item of dropdownData.storageTypes" [value]="item">{{ item }}
                                        </option>
                                    </select>
                                    <div class="invalid-feedback" *ngIf="formErrors.storage_account_type">{{
                                        formErrors.storage_account_type }}</div>
                                </div>
                            </div>

                            <!-- Select Image Publisher -->
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right p-0 pt-2"
                                    for="image_publisher">Select Image
                                    Publisher<span class="text-danger">*</span> : </label>
                                <div class="col-md-4">
                                    <select class="form-control" id="image_publisher" formControlName="image_publisher"
                                        [ngClass]="{'is-invalid': formErrors.image_publisher}">
                                        <option value="" disabled selected>Select Image Publisher</option>
                                        <option *ngFor="let item of dropdownData.publishers" [value]="item">{{ item }}
                                        </option>
                                    </select>
                                    <div class="invalid-feedback" *ngIf="formErrors.image_publisher">{{
                                        formErrors.image_publisher }}</div>
                                </div>
                            </div>

                            <!-- Rg Name -->
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right p-0 pt-2" for="rg_name">Rg Name<span
                                        class="text-danger">*</span> : </label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" id="rg_name" formControlName="rg_name"
                                        placeholder="Enter Rg Name" [ngClass]="{'is-invalid': formErrors.rg_name}">
                                    <div class="invalid-feedback" *ngIf="formErrors.rg_name">{{ formErrors.rg_name }}
                                    </div>
                                </div>
                            </div>

                            <!-- VM Name -->
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right p-0 pt-2" for="vm_name">VM Name<span
                                        class="text-danger">*</span> : </label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" id="vm_name" formControlName="vm_name"
                                        placeholder="Enter VM Name" [ngClass]="{'is-invalid': formErrors.vm_name}">
                                    <div class="invalid-feedback" *ngIf="formErrors.vm_name">{{ formErrors.vm_name }}
                                    </div>
                                </div>
                            </div>

                            <!-- Form Buttons -->
                            <div class="row pt-3">
                                <div class="col-md-12 d-flex justify-content-center gap-3">
                                    <button type="button" class="btn btn-outline-danger px-4 font-weight-bold"
                                        (click)="goBack()">Cancel</button>
                                    <button type="submit" class="btn btn-success px-4 font-weight-bold ml-2">{{ action
                                        }}</button>
                                </div>
                            </div>

                            <!-- Non Field Error -->
                            <div class="row mt-3" *ngIf="nonFieldErr">
                                <div class="col-md-12 text-center text-danger small">
                                    {{ nonFieldErr }}
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>