<div class="row dashboard-admin" style="background-color : #f4f3ef;">
    <div class="col-md-12">
        <awsgenerictable
            heading="POLICY GROUPS"
            displayheading = "POLICY GROUPS"
            headers="aws_entities_group_headers"
            tabledata="aws_entities_list_content.data.policy_groups">
        </awsgenerictable>
        <awsgenerictable
            heading="POLICY USERS"
            displayheading = "POLICY USERS"
            headers="aws_entities_user_headers"
            tabledata="aws_entities_list_content.data.policy_users">
        </awsgenerictable>
        <awsgenerictable
            heading="POLICY ROLES"
            displayheading = "POLICY ROLES"
            headers="aws_entities_role_headers"
            tabledata="aws_entities_list_content.data.policy_roles">
        </awsgenerictable>
    </div>
</div>