<ng-template #widgetFormRef>
    <div class="card mb-0">
        <div class="card-header">
            {{action}} Widget
            <div class="card-header-actions">
                <a class="card-header-action btn-close" (click)="widgetModalRef.hide()">
                    <i class="fas fa-times"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <form *ngIf="widgetForm" [formGroup]="widgetForm">
                <div class="form-group">
                    <div class="invalid-credentials" *ngIf="nonFieldErr">{{nonFieldErr}}</div>
                </div>
                <div class="row">
                    <div class="form-group col-3">
                        <label class="form-col-form-label">Name<em>*</em></label>
                        <input id="name" class="form-control" type="text" formControlName="name"
                            [class.is-invalid]="widgetFormErrors.name">
                        <div class="invalid-feedback" *ngIf="widgetFormErrors.name">{{widgetFormErrors.name}}</div>
                    </div>
                    <div class="form-group col-3">
                        <label class="form-col-form-label" for="category">Category<em>*</em></label>
                        <select id="category" class="form-control" formControlName="category"
                            [class.is-invalid]="widgetFormErrors.category">
                            <option value="" disabled>Select Category</option>
                            <option [value]="'tags'">Tags</option>
                        </select>
                        <div class="invalid-feedback" *ngIf="widgetFormErrors.category">
                            {{widgetFormErrors.category}}</div>
                    </div>
                    <div class="form-group col-3">
                        <label class="form-col-form-label" for="tags">&nbsp;</label>
                        <multiselect-dropdown [options]="tags" [settings]="tagSettings" class="form-control p-0"
                            style="height:auto;" formControlName="tags" (dropdownClosed)="tagsChanged()"
                            [isDisabled]="!widgetForm.controls.category.value"
                            [ngClass]="{'is-invalid' : widgetFormErrors.tags}"></multiselect-dropdown>
                        <div class="invalid-feedback" *ngIf="widgetFormErrors.tags">{{widgetFormErrors.tags}}</div>
                    </div>
                    <div class="form-group col-3">
                        <label class="form-col-form-label" for="devices">Devices<em>*</em></label>
                        <multiselect-dropdown [options]="devices" *ngIf="devices.length" [settings]="devicesSettings"
                            class="form-control p-0" style="height:auto;"
                            [isDisabled]="!widgetForm.controls.tags.value.length" (dropdownClosed)="getItems()"
                            formControlName="devices" [ngClass]="{'is-invalid' : widgetFormErrors.devices}">
                        </multiselect-dropdown>
                        <multiselect-dropdown [options]="[]" *ngIf="!devices.length" [settings]="devicesSettings"
                            class="form-control p-0" style="height:auto;"
                            [isDisabled]="!widgetForm.controls.tags.value.length" (dropdownClosed)="getItems()"
                            formControlName="devices" [ngClass]="{'is-invalid' : widgetFormErrors.devices}">
                        </multiselect-dropdown>
                        <div class="invalid-feedback" *ngIf="widgetFormErrors.devices">{{widgetFormErrors.devices}}
                        </div>
                    </div>
                </div>
                <div formArrayName="datasets">
                    <ng-container *ngFor="let dataset of datasets.controls; let i = index;">
                        <div class="row" [formGroupName]="i">
                            <div class="form-group col-3">
                                <label class="form-col-form-label">Dataset Name<em>*</em></label>
                                <input id="dataset_name" class="form-control" type="text" formControlName="dataset_name"
                                    placeholder="Dataset name"
                                    [class.is-invalid]="widgetFormErrors.datasets[i].dataset_name">
                                <div class="invalid-feedback" *ngIf="widgetFormErrors.datasets[i].dataset_name">
                                    {{widgetFormErrors.datasets[i].dataset_name}}</div>
                            </div>
                            <div class="form-group col-3">
                                <label class="form-col-form-label" for="items">Items<small class="text-muted font-italic">(Max 10)</small><em>*</em></label>
                                <multiselect-dropdown [options]="items" *ngIf="items.length" [settings]="itemsSettings"
                                    [isDisabled]="!items.length" class="form-control p-0" style="height:auto;"
                                    formControlName="items"
                                    [ngClass]="{'is-invalid' : widgetFormErrors.datasets[i].items}">
                                </multiselect-dropdown>
                                <multiselect-dropdown [options]="items" *ngIf="!items.length" [settings]="itemsSettings"
                                    [isDisabled]="!items.length" class="form-control p-0" style="height:auto;"
                                    formControlName="items"
                                    [ngClass]="{'is-invalid' : widgetFormErrors.datasets[i].items}">
                                </multiselect-dropdown>
                                <div class="invalid-feedback" *ngIf="widgetFormErrors.datasets[i].items">
                                    {{widgetFormErrors.datasets[i].items}}
                                </div>
                            </div>
                            <div class="form-group col-2">
                                <label class="form-col-form-label" for="aggregation">Aggregation<em>*</em></label>
                                <select id="aggregation" class="form-control" formControlName="aggregation"
                                    [class.is-invalid]="widgetFormErrors.datasets[i].aggregation">
                                    <option value="" disabled>Select Aggregation</option>
                                    <option [value]="'min'">Min</option>
                                    <option [value]="'max'">Max</option>
                                    <option [value]="'avg'">Average</option>
                                    <option [value]="'count'">Count</option>
                                    <option [value]="'sum'">Sum</option>
                                    <option [value]="'first'">First</option>
                                    <option [value]="'last'">Last</option>
                                </select>
                                <div class="invalid-feedback" *ngIf="widgetFormErrors.datasets[i].aggregation">
                                    {{widgetFormErrors.datasets[i].aggregation}}</div>
                            </div>
                            <div class="form-group col">
                                <label class="">&nbsp;</label>
                                <div class="col-form-label">
                                    <div class="form-check form-check-inline mx-1 mt-0">
                                        <input class="form-check-input" id="show_value" type="checkbox"
                                            formControlName="show_value"
                                            [ngClass]="{'is-invalid' : widgetFormErrors.datasets[i].show_value}">
                                        <label class="form-check-label" for="inline-checkbox1">Show Value</label>
                                        <!-- <div class="invalid-feedback" *ngIf="widgetFormErrors.datasets[i].show_value">{{widgetFormErrors.datasets[i].show_value}}</div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col">
                                <label class="">&nbsp;</label>
                                <div class="col-form-label">
                                    <div class="form-check form-check-inline mx-1 mt-0">
                                        <input class="form-check-input" id="show_graph" type="checkbox"
                                            formControlName="show_graph"
                                            [ngClass]="{'is-invalid' : widgetFormErrors.datasets[i].show_graph}">
                                        <label class="form-check-label" for="inline-checkbox1">Show Graph</label>
                                        <!-- <div class="invalid-feedback" *ngIf="widgetFormErrors.datasets[i].show_graph">{{widgetFormErrors.datasets[i].show_graph}}</div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col">
                                <label class="">&nbsp;</label>
                                <span class="form-control border-0 p-0">
                                    <button tooltip="Remove Dataset" class="action-icons mb-0 fas fa-minus font-sm ml-1"
                                        (click)="removeDataset(i)"></button>
                                </span>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="col-12">
                    <button class="btn btn-sm btn-warning" (click)="addDataset()">Add Dataset</button>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <button class="btn btn-sm btn-success pull-right ml-1" type="button" (click)="submit()">Submit</button>
            <button class="btn btn-sm btn-danger pull-right" (click)="widgetModalRef.hide()"
                type="button">Cancel</button>
        </div>
    </div>
</ng-template>

<ng-template #confirmdelete>
    <div class="card mb-0">
        <div class="card-header">
            Confirm Delete
            <div class="card-header-actions">
                <a class="card-header-action btn-close" (click)="confirmDeleteModalRef.hide()">
                    <i class="fas fa-times"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            This Widget will be deleted. Are you sure you want to delete?
        </div>
        <div class="card-footer">
            <button class="btn btn-sm btn-success pull-right ml-1" type="button"
                (click)="confirmWidgetDelete()">Yes</button>
            <button class="btn btn-sm btn-danger pull-right" (click)="confirmDeleteModalRef.hide()"
                type="button">No</button>
        </div>
    </div>
</ng-template>