.custom-manage-btn-box {    
    position: absolute;
    top: 55px;
    right: 0;
    z-index: +100;
}


// //For cus-row-1 to cus-row-12 , % value
// @for $i from 1 through 12 {
//   .row-#{$i}-h {
//     height: math.div(100 * $i, 12) * 1% !important;
//   }
// }

// Color codes used for Graphs
.custom-colors-for-grpah {
    color: #0CBB70;
    color: #CC0000;
    color: #4A90E2;
    color: #FFCB47;
    color: #FF477B;
    color: #59DBFF;
    color: #CB47FF;
    color: #ff8800;
    color: #0b69c2;
    color: #074e8b;
    color: #720000;
    color: #ff4545;
    color: #e56717;
    color: #065a52;
    color: #8f9ba6;
}

ul {
    list-style: none;
}
 
ul li {
    text-align: center;
    background: white;
    cursor: pointer;
    transition: all 0.2s ease;
    border: 1px solid #c8ced3;
 
    label {
        border-radius: 25px;
        width: 100%;
        padding: 0.25rem 0.5rem;
        display: inherit;
        border-color: #73818f;
        font-size: 0.765625rem;
        line-height: 1.5;
        margin-bottom: 0px !important;
        input {
            visibility: hidden;
        }
    }
 
    label.active {
        background-color: #378ad8 !important;
        color: #ffffff !important;
    }
}
 
ul li:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-right: none !important;
}
 
ul li:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-left: none !important;
}