@import "variables";

.summary-icons {
    color: $white !important;

    &.switches {
        background-color: $switches;
    }

    &.firewalls {
        background-color: $firewalls;
    }

    &.lbs {
        background-color: $lbs;
    }

    &.hypervisor {
        background-color: $hypervisor;
    }

    &.bms {
        background-color: $bms;
    }

    &.mac {
        background-color: $gray-600;
    }

    &.storage {
        background-color: $storage;
    }

    &.pdu {
        background-color: $pdus;
    }

    &.otherdev {
        background-color: $otherdev;
    }
}

.info-value {
    font-size: 0.8rem;
    font-weight: bold;
}

.device-status {
    font-size: 1rem;
}

.text-value {
    font-size: 0.875rem;
}

[class^="text-value"] {
    font-weight: 600;
}

.status-icon .fa {
    font-size: 1rem;
}

tr>th {
    white-space: nowrap;
}