.custom-bg-blue {
    background-color: #d8ecff;
}

.tenant-logo-thumb {
    height: 30px;
    width: 30px;
    // flex: 0 0 30px;
}

.tenant-logo-placeholder {
    align-items: center;
    display: inline-flex;
    justify-content: center;
}
