<div class="modal-header">
  <h3 class="modal-title">List of Vcenters</h3>
</div>
<div class="modal-body">
  <div class="row">
    <table class="table">
      <thead>
      <tr>
        <th>Cloud Name</th>
        <th>Vcenter Url</th>
        <th>Username</th>
        <th>Password</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="vc in vcenters">
        <td>{{ vc.private_cloud.name }}</td>
        <td>{{ vc.hostname }}</td>
        <td>{{ vc.username }}</td>
        <td>
          <span>
              <input type="password"
               class="form-control"
               ng-model="vc.password"
               placeholder="Vcenter password">

          </span>
        </td>
        <td>
          <span ng-if="angular.isDefined(vc.update_response_result) && (vc.update_response_result)  && (!loading_response)" uib-tooltip="{{vc.update_response_message}}">
            <i class="fa fa-check" aria-hidden="true" style="color: green"></i>
          </span>
          <span ng-if="angular.isDefined(vc.update_response_result) && (!vc.update_response_result) && (!loading_response)" uib-tooltip="{{vc.update_response_message}}">
            <i class="fa fa-times" aria-hidden="true" style="color: red"></i>
          </span>
          <span ng-if="loading_response">
            <i class="fa fa-spinner fa-spin"></i>
          </span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-cancel" ng-click="close()">
    Close
  </button>
  <button type="submit" class="btn btn-default" ng-class="{'fa-disabled': loading_response}" ng-click="update_vcenter()">
    Update
  </button>
</div>

