.custom-hover-effect:hover {
    background-color: #e0f1fc !important;
    border-color: #58a0cf !important;
}

.active {
    background-color: #e0f1fc !important;
    border-color: #58a0cf !important;
}