.header-bgr {
    background-color: #c6e7ee;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.output-bgr {
    background-color: #F0F3F5;
    border-radius: 0.5rem;
}

.vertical-line {
    border-left: 1px solid #c8ced3;
}

.bg-light-green {
    background-color: #a1eac3;
}

.bg-light-red {
    background-color: #ffa1a1;
}

.bg-light-grey {
    background-color: #eaeaea;
}

.card-header {
    border-radius: 0 !important;
}

.bg-skipped {
    background-color: #ffe9a1;
}

.bg-queued {
    background-color: #e0e0e0;
}