<div class="container-fluid mt-2 px-2">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col">
        <div class="card rounded-0 border-top-0">
          <div class="card-header bg-transparent d-flex justify-content-between align-items-center py-2">
            <div class="d-flex justify-content-center align-items-center font-500">
              <span class="badge badge-secondary font-sm">{{viewData.length}}</span>
              <span class="ml-1 font-lg">LDAP Users</span>
            </div>
            <div class="d-flex justify-content-end align-items-center">
              <button class="btn btn-pill btn-sm btn-warning font-500" type="button" (click)="add()" accessControl
                moduleName="User Management" accessType="Create Users" elementType="btn">
                <span class="fas fa-plus"></span>
                <span class="font-xs-sm mx-1">User</span>
              </button>
              <data-refresh-btn [page]="1" (refresh)="refreshData($event)"></data-refresh-btn>
            </div>
          </div>
          <div class="card-body py-2">
            <table class="table table-sm text-left">
              <thead class="bg-light">
                <tr>
                  <th>LDAP Url</th>
                  <th>Username</th>
                  <th>Domain Name</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let view of viewData" setTableColumnWidth>
                  <td>
                    <button class="btn btn-link text-decoration-none p-0 table-column-btn" type="button"
                      [tooltip]="view.ldapUrl">{{view.ldapUrl}}</button>
                  </td>
                  <td>
                    <div [tooltip]="view.username">{{view.username}}</div>
                  </td>
                  <td>
                    <div [tooltip]="view.dc">{{view.dc}}</div>
                  </td>
                  <td class="action-icons-column">
                    <button class="action-icons mb-0 fas fa-pencil-alt font-sm ml-1" tooltip="Edit LDAP Config"
                      (click)="edit(view)" accessControl moduleName="User Management" accessType="Manage Users"
                      elementType="actionbtn">
                    </button>
                    <button class="action-icons mb-0 fa fa-users font-sm ml-1" tooltip="Import User"
                      (click)="importUser(view)" accessControl moduleName="User Management" accessType="Manage Users"
                      elementType="actionbtn">
                    </button>
                    <button class="action-icons mb-0 fas fa-trash-alt font-sm ml-1" tooltip="Delete LDAP Config"
                      (click)="delete(view)" accessControl moduleName="User Management" accessType="Manage Users"
                      elementType="actionbtn">
                    </button>
                    <button class="action-icons mb-0 fas fa-ticket-alt font-sm ml-1"
                      tooltip="Manage by creating support ticket" (click)="createTicket(view)"></button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="text-center text-muted py-4" *ngIf="!viewData.length">No LDAP Config were found.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #importuser>
  <div class="card mb-0">
    <div class="card-header">
      Import LDAP User
      <div class="card-header-actions">
        <a class="card-header-action btn-close" (click)="importModalRef.hide()">
          <i class="fas fa-times"></i>
        </a>
      </div>
    </div>
    <div class="card-body">
      <form [formGroup]="importForm">
        <div class="form-group">
          <div class="invalid-credentials" *ngIf="nonFieldErr">{{nonFieldErr}}</div>
        </div>
        <div class="form-group">
          <label for="cn">Common Name<em>*</em></label>
          <input class="form-control" id="cn" formControlName="cn" type="text" placeholder="Common Name"
            [ngClass]="{'is-invalid' : importFormErrors.cn}">
          <div class="invalid-feedback" *ngIf="importFormErrors.cn">{{importFormErrors.cn}}</div>
        </div>
        <div class="form-group">
          <label for="ou">Group Name</label>
          <input class="form-control" id="ou" type="text" placeholder="Group Name"
            [ngClass]="{'is-invalid' : importFormErrors.ou}" formControlName="ou">
          <div class="invalid-feedback" *ngIf="importFormErrors.ou">{{importFormErrors.ou}}</div>
        </div>

      </form>
    </div>
    <div class="card-footer">
      <button class="btn btn-sm btn-success pull-right ml-1" (click)="confirmImportUser()" type="button">Submit</button>
      <button class="btn btn-sm btn-danger pull-right" (click)="importModalRef.hide()" type="button">Cancel</button>
    </div>
  </div>
</ng-template>
<unity-setup-ldap-crud (onCrud)="onCrud($event)"></unity-setup-ldap-crud>