
      <div class="panel panel-default">
	  <div class="panel-heading">
		<h4>Add Server</h4>
          </div>
	  <div class="panel-body">
		<form role="form"id="postform" action="" method="post">
			 <input type='hidden' id="csrf_token" name='csrfmiddlewaretoken' value={{csrf_token}} />		
		</form>
		<form role="form" id="wizard" action="server_add.html" method="post" enctype='application/json'>
			
			<input type="hidden" id="system_id" ng-model="instance.system" value= {{system_id}}>
			<!--- Instance details -->
			  
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">Instance Details</h3>
				</div>

				<div class="panel-body">
				    <div class="form-group">
					<button type="button" class="btn btn-danger" id="wizardcancelbutton" 							ng-click="CancelInstanceAdd()">Cancel</button>
	   	      			<button type="button" class="btn btn-success" id="finishbutton" ng-click="saveInstanceAdd()"> 							Save</button>
				    </div>

				    <div class="form-group">
					
					<label for="id_instance_name" class="required">Instance Name * (Local Hostname)</label>
							
					<input class="form-control" id="id_instance_name" type="text" name="instance_name" 						ng-model="instance.instance_name" placeholder="Name" data4="alphanumeric" 						ng-keypress="ClearValidation()">
					<label class="errormsg" ng-if="nameerr">{{ insnameMsg }}</label>
				    </div>
				    <div class="form-group">
					   <label for="id_functional_hostname" class="required">Functional Host Name * </label>
		
					   <input type="text" id="id_functional_hostname" name="functional_hostname" 							ng-model="instance.functional_hostname" placeholder="Name" class="form-control" 						data4="alphanumeric" ng-keypress="ClearValidation()">
					   <label class="errormsg" ng-if="funchostnameerr">{{ funchostnameMsg }}</label>
				    </div>
				    <div class="form-group">
					
					<label for="id_instancetype" class="required">Instance Type * </label>
					<select id="id_instancetype" class="form-control" ng-model="instance.instance_type" 				 		ng-options="it as it.instance_type for it in instancetype" style="width:100%;">
						<option  value="">Please select</option>
					</select>		
					<label class="errormsg" ng-if="typeerr">{{ insTypeMsg }}</label>
				    </div>
				    <div class="form-group">
					
					<label for="id_os_id" class="required">OS Name * </label>					
					<div class="form-inline">
					<select id="id_os_id" class="form-control" ng-model="instance.os" 				 						ng-options="os as os.name + ' ' +os.version for os in os" style="width:100%;">
						<option  value="">Please select</option>
					</select>
					<label class="errormsg" ng-if="oserr">{{ OSMsg }}</label>
					</div>
				    </div>
				    <div class="form-group">
					<label for="id_user_name" class="optional">User Name </label>
							
					<input type="text" id="id_user_name" name="os_rootuser" ng-model="instance.os_rootuser" 						placeholder="root user" class="form-control" data4="alphanumeric" 							ng-keypress="ClearValidation()">
					<label class="errormsg" ng-if="osrootusererr">{{ OSruserMsg }}</label>
				    </div>
				    <div class="form-group">
					<label for="id_instance_state" class="optional">Instance State </label>
					<select id="id_os_id" class="form-control" ng-model="instance.state" 				 						style="width:100%;">
						<option  value="">Please select</option>
						<option value="Running">Running</option>
						<option value="Stopped">Stopped</option>
					</select>		
					<label class="errormsg" ng-if="insstateerr">{{ insStateMsg }}</label>
				    </div>
				    <div class="form-group">
					<label for="id_uuid" class="optional">UUID</label>
					<input type="text" id="id_uuid" name="uuid" 							 						ng-model="instance.uuid"							 						placeholder="64baab6f-5e43-4b44-922c-c0fc247802a7" class="form-control" data4="uuid" 						ng-keypress="ClearValidation()">
				    </div>
				    <div class="form-group">
					<label for="id_ulapi_uuid" class="optional">ULAPI UUID</label>
					<input type="text" id="id_ulapi_uuid" name="ulapi_uuid" ng-model="instance.ulapi_uuid"  						placeholder="64baab6f-5e43-4b44-922c-c0fc247802a7" class="form-control" data4="uuid" 							ng-keypress="ClearValidation()">
				    </div>
				    
				</div>
			</div>

			<!--- Customer details -->

			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">Customer Details</h3>
				</div>

				<div class="panel-body">
				   
				    <div class="form-group">
					<label for="id_customer_id" class="optional">Customer Name </label>
					<input type="text" id="orgName" class="form-control" 
					     ng-model="instance.customer" 
					     placeholder="Type customer to filter..."
					     typeahead="org as org.organization_name for org in getOrgs($viewValue)" data4="" 						     ng-keypress="ClearValidation();">
					<label class="errormsg" ng-if="customererr">{{ customerMsg }}</label>
				    </div>
				    <div class="form-group">
					
					<label for="id_admin_id" class="required">Admin Name *</label>
					<select id="id_admin_id" class="form-control" ng-model="instance.admin_id" 				 		ng-options="ad as ad.id for ad in admin" style="width:100%;">
						<option  value="">Please select</option>
					</select>
					<label class="errormsg" ng-if="adminnameerr">{{ adminNameMsg }}</label>
				    </div>
			            <div class="form-group">
					<label for="id_ordered_date" class="optional">Ordered Date </label>
					
					 <div class="dropdown">
					<a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" 						data-target="#" href="">    
					    <div class="input-group">
					      <input type="text" class="form-control" data-ng-model="instance.ordered_date" 							data-date-time-input="DD/MM/YYYY hh:mm" >
					      <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
					    </div>    
					</a>
					<ul class="dropdown-menu action-button" role="menu" aria-labelledby="dLabel">
					    <datetimepicker data-ng-model="instance.ordered_date" 
							    data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }">
					    </datetimepicker>
					</ul>
				    </div>				
					
				     	<label class="errormsg" ng-if="orddateerr">{{ ordDateMsg }}</label>			
				    </div>
				    
				   
					
				</div>
			</div>
			
		      <button type="button" class="btn btn-danger" id="wizardcancelbutton" ng-click="CancelInstanceAdd()">Cancel</button>
	   	      <button type="button" class="btn btn-success" id="finishbutton" ng-click="saveInstanceAdd()">Save</button>
		      
		</form>
	  </div>
	 
	  
      </div>
      

