.input-group .custom-span {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.input-group-append .custom-btn {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.custom-bg-blue {
    background-color: #d8ecff;
}

.active-tab {
    border-bottom: 2px solid #378ad8;
}