.content-wrap {
    position: relative;
    z-index: 1;
    height: 85vh;
}

.title-section {
    text-align: center;
    font-family: "Onest", sans-serif;
    // font-size: 3rem;
}

.text-section {
    // display: inline-flex;
    max-width: 45%;
    // margin-bottom: 22px;
    // color: #000000;
    text-align: center;
    // animation-delay: 0.01s;
    font-family: "Onest", sans-serif;
    // font-size: 1.15rem;
    // line-height: 1.5;
    // font-style: normal;
    // animation-name: fadeIn;
}
