ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

ul li {
    text-align: center;
    background: #ffffff;
    cursor: pointer;
    transition: all 0.2s ease;
    border: 1px solid #c8ced3;

    label {
        border-radius: 25px;
        width: 100%;
        padding: 0.25rem 1rem !important;
        display: inherit;
        color: #73818f;
        border-color: #73818f;
        font-size: 0.765625rem;
        line-height: 1.5;
        margin-bottom: 0px !important;

        input {
            visibility: hidden;
            max-width: 0px;
        }
    }

    label.active {
        background-color: #378ad8 !important;
        color: #ffffff !important;
    }

    &:nth-child(n) {
        border-left: none;
        border-right: none !important;
    }
}

ul li:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-left: 1px solid #c8ced3 !important;
    border-right: none !important;
}

ul li:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-left: none !important;
    border-right: 1px solid #c8ced3 !important;
}


.dynamic-inputs{

    input.form-control{
        padding: 0.25rem !important;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    }

    /* Firefox */
    input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
    }

    input::placeholder{
        font-size: 0.8rem !important;
    }
}

// .form-control{
//     height: calc(1.5em + 0.75rem + 2px) !important;
// }