#workflow-designer .sqd-designer-angular .sqd-designer .sqd-workspace {
  transform: rotate(90deg);
}

#workflow-designer .sqd-designer-angular .sqd-designer {
  min-height: 620px;
}

#workflow-designer .sqd-designer-angular .sqd-designer .sqd-workspace .sqd-workspace-canvas> :nth-child(2) {
  width: 100%;
  height: 100%;
}