<div class="page_wrapper" style="float:left">
    <style type="text/css">
        .modal-lg {
            float: right;
            padding-right : 5px !important;
        }

        .modal-lg .modal-content {
            margin : 5px;
        }

        .modal.fade {
            opacity: 1;
        }

        .modal.fade .modal-dialogue, .modal.in .modal-dialogue {
            transform : translate(0,0);
        }

        .modal-window {
            z-index : 1000 !important;
        }

        .cg-busy {
            z-index: 1600 !important;
        }

    </style>
    <!-- <table-search-widget ng-show="cabinets !== undefined"></table-search-widget> -->
    <loading object="{{loading}}"></loading>
    <div style="" ng-if="is_user_customer_admin" aria-hidden="false" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content-wrapper bg-color">
        <div class="pull-right cousor_pointer">
            <button class="btn btn-default" type="button" ng-click="add_cabinet();">
                + Add
            </button>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="cabinets !== undefined">
        <section id="no-more-tables" class="margintop20 middle-wrapper">
            <table class="table table-condensed table-hover margin0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Model</th>
                        <th>Available Units</th>
                        <th>Capacity</th>
                        <th ng-if="is_user_customer_admin">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="cabinet in cabinets track by $index">
                        <td ng-if="showCabinet">
                            <a href="" ng-click="showCabinetView(cabinet)">{{ cabinet.name }}</a>
                        </td>
                        <td ng-if="!showCabinet">
                            <span uib-tooltip="Cabinet view is not enabled for your organization">{{ cabinet.name }}</span>
                        </td>
                        <td>{{cabinet.model}}</td>
                        <td>{{cabinet.available_size}}U</td>
                        <td>{{cabinet.size}}U</td>
                        <td ng-if="is_user_customer_admin">
                            <div class="action-icons">
                                <span tooltip-class="customClass" uib-tooltip="Edit Cabinet">
                                    <a ng-click="edit_cabinet($index, cabinet)"> <i class="fa fa-pencil"></i> </a>
                                </span>
                                <span tooltip-class="customClass" uib-tooltip="Delete Cabinet">
                                    <a ng-click="delete_cabinet($index, cabinet)"> <i class="fa fa-trash"></i> </a>
                                </span>
                                <span tooltip-class="customClass" uib-tooltip="Manage Panel">
                                    <a ng-click="manage_panel($index, cabinet)"> <i class="fa fa-gear"></i> </a>
                                </span>
                                <span tooltip-class="customClass" uib-tooltip="Manage by creating support ticket">
                                    <a ng-click="manageByRequest(cabinet)" class="fa fa-ticket"></a>
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div ng-if="cabinets.length === 0" class="content-wrapper">
                <no-records-found message="No Cabinets to display"></no-records-found>
            </div>
        </section>
    </div>
</div>

<script type="text/javascript">
    function testAnim(x) {
        $('.modal .modal-dialog').attr('class', 'modal-dialog  ' + x + '  animated');
    };
    testAnim('fadeInDown');
</script>

<script type="text/ng-template" id="manage_cabinets.html">
    <div class="modal-header">
        <h3 class="modal-title">{{ modal_obj.method }} Cabinet</h3>
    </div>

    <div class="modal-form">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="name" class="control-label">
                  Name*
                </label>
                <span class="errormsg" ng-if="modal_obj.name_errmsg">({{ modal_obj.name_errmsg }})</span>
                <input id="name" class="form-control" type="text" required="required" ng-model="modal_obj.name">
            </div>
            <div class="form-group">
                <label for="model" class="control-label">
                  Model*
                </label>
                <span class="errormsg" ng-if="modal_obj.model_errmsg">({{ modal_obj.model_errmsg }})</span>
                <input id="model" class="form-control" type="text" ng-model="modal_obj.model">
            </div>
            <div class="form-group">
                <label for="size" class="control-label">
                  Size*
                </label>
                <span class="errormsg" ng-if="modal_obj.size_errmsg">({{ modal_obj.size_errmsg }})</span>
                <input name="size" class="form-control" type="number" ng-model="modal_obj.size">
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button class="btn btn-cancel" type="button" ng-click="cancel()">
            Cancel
        </button>
        <button class="btn btn-default" type="button" ng-click="manage_cabinet_obj()">
            <span ng-bind="modal_obj.method"></span>
        </button>
    </div>
</script>

<script type="text/ng-template" id="manage_panel.html">
    <div class="modal-header">
        <h3 class="modal-title">{{ panel_modal_obj.method }} Panel</h3>
    </div>

    <div class="modal-form">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="device_type" class="control-label">
                  Device Category*
                </label>
                <span class="errormsg" ng-if="panel_modal_obj.device_type_errmsg">({{ panel_modal_obj.device_type_errmsg }})</span>
                <select class="form-control" id="device_category" name="device_type" ng-model="panel_modal_obj.device_type">
                    <option value="" disabled> Select Device Category </option>
                    <option value=1> Blank Panel </option>
                    <option value=2> Cable Organizer </option>
                    <option value=3> Patch Panel </option>
                </select>
            </div>
            <div class="form-group">
                <label for="name" class="control-label">
                  Name*
                </label>
                <span class="errormsg" ng-if="panel_modal_obj.name_errmsg">({{ panel_modal_obj.name_errmsg }})</span>
                <input id="name" class="form-control" type="text" required="required" ng-model="panel_modal_obj.name">
            </div>
            <div class="form-group">
                <label for="position" class="control-label">
                  Position*
                </label>
                <span class="errormsg" ng-if="panel_modal_obj.position_errmsg">({{ panel_modal_obj.position_errmsg }})</span>
                <input id="position" class="form-control" type="text" ng-model="panel_modal_obj.position">
            </div>
            <div class="form-group">
                <label for="size" class="control-label">
                  Size*
                </label>
                <span class="errormsg" ng-if="panel_modal_obj.size_errmsg">({{ panel_modal_obj.size_errmsg }})</span>
                <input name="size" class="form-control" type="number" ng-model="panel_modal_obj.size">
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button class="btn btn-cancel" type="button" ng-click="cancel()">
            Cancel
        </button>
        <button class="btn btn-default" type="button" ng-click="manage_panel_obj(panel_modal_obj.cabinet)">
            <span ng-bind="panel_modal_obj.method"></span>
        </button>
    </div>
</script>
