<div class="modal-header">
  <h3 class="modal-title">
    {{ header }}
  </h3>
</div>

<div class="modal-body" ng-if="results.length > 0">
  <table class="table table-condensed">
    <thead>
    <tr>
      <th ng-repeat="f in additional_fields" class="{{ f.class }}" ng-if="!(f.hide)" ng-class="(f.cls)||''">
        <div ng-if="f.hide === undefined">{{ f.description }}</div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="result in results">
      <td ng-repeat="f in additional_fields" ng-if="!(f.hide)">
        <div ng-if="f.opaque === undefined && f.hide === undefined">
          {{ result[f.name] }}
        </div>
        <div ng-if="f.opaque === 'stringTransform'">
          {{ desub(result, f) }}
        </div>
        <div ng-if="f.opaque === 'link' && f.hide === undefined">
          <a href="{{ linkify(result, f).url }}">{{ linkify(result, f).text }}</a>
        </div>
        <div ng-if="f.opaque === 'customLink' && f.hide === undefined">
          <a href="{{ custom_linkify(result, f).url }}">{{ custom_linkify(result, f).text }}</a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="modal-body" ng-if="results.length === 0">
  <h3>No records found.</h3>
</div>

<div class="modal-footer">
  <button class="btn btn-info" type="button" ng-click="ok(obj, list)">
    OK
  </button>
</div>
