<div class="card border-0 topology-card mb-0">
    <app-spinner [name]="'unity-topology'"></app-spinner>
    <div class="card-body py-0">
        <div class="text-center text-muted m-5 p-5 font-lg" *ngIf="!networkViewData || !networkViewData.nodes.length">No
            devices discovered.</div>
        <ng-container [ngSwitch]="viewType.view">
            <ng-container *ngSwitchCase="'colocloud'">
                <div id="dc-node-details-wrapper" [popover]="nodeDetails" triggers="" [isOpen]="showNodeInfo"></div>
            </ng-container>
            <ng-container *ngSwitchCase="'private_cloud'">
                <div id="pc-node-details-wrapper" [popover]="nodeDetails" triggers="" [isOpen]="showNodeInfo"></div>
            </ng-container>
        </ng-container>

        <div class="row">
            <div class="pr-0" [ngClass]="selectedNodes.length ? 'col-11': 'col-12'">
                <div class="discovery-network-container" id="discovery-network-container" #visGraph>
                </div>
            </div>
            <div class="col-1" *ngIf="selectedNodes.length">
                <div class="row">
                    <ol class="step-indicator w-100 mb-5">
                        <li *ngFor="let node of selectedActiveNodes; let i = index;" [ngClass]="isActive(node)">
                            <div class="step" (click)="goToNodeTopology(node, i)">
                                <span class="step-icon">{{i+1}}</span>
                            </div>
                        </li>
                        <li class="active">
                            <div class="step" (click)="showNodeTreeTopology()">
                                <i class="step-icon" class="fas fa-layer-group"></i>
                            </div>
                        </li>
                        <li class="active">
                            <div class="step" (click)="showCompleteTopology()">
                                <i class="step-icon" class="fas fa-sitemap"></i>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #nodeDetails>
    <div class="card border-0 mb-0" *ngIf="hoveredNode">
        <div class="card-body p-0 pt-1" *ngIf="hoveredNode.is_device">
            <p class="card-text mb-1" (click)="goTo(hoveredNode)">Name: <span
                    [ngClass]="hoveredNode.redirectLink? 'text-primary pointer-link':'text-muted'">{{hoveredNode.name}}</span>
            </p>
            <p class="card-text mb-1">Management IP: <span class="text-muted">{{hoveredNode.ip_address}}</span></p>
            <p class="card-text mb-1">Device Type: <span class="text-muted">{{hoveredNode.displayType}}</span></p>
            <p class="card-text mb-1">Onboarding Status: <span class="text-muted">{{hoveredNode.onboarded ?
                    'Onboarded' : 'Not Onboarded'}}</span></p>
            <p class="card-text mb-1">Alerts: <span class="text-muted">{{hoveredNode.alert_count}}</span></p>
        </div>
        <div class="card-body p-0 pt-1" *ngIf="!hoveredNode.is_device">
            <p class="card-text mb-1">Name: <span class="text-muted">{{hoveredNode.name}}</span></p>
            <p class="card-text mb-1">Type: <span class="text-muted">{{hoveredNode.displayType}}</span></p>
            <p class="card-text mb-1" *ngIf="hoveredNode.platform_type">Platform Type: <span
                    class="text-muted">{{hoveredNode.platform_type}}</span></p>
            <p class="card-text mb-1" *ngIf="hoveredNode.datacenter"> Datacenter: <span
                    class="text-muted">{{hoveredNode.datacenter}}</span></p>
        </div>
    </div>
</ng-template>