{% load bootstrap3 %}
{{ wizard.management_form }}
<div>
  {% bootstrap_form wizard.form layout='inline' %}
</div>
<!-- <div class="form-group ">
   <input type="text" class="form-control" name="auth-username" placeholder="Email" id="id_auth-username" maxlength="254" autofocus="">
   <i class="fa fa-user"></i>
</div>
<div class="form-group log-status">
   <input type="password" class="form-control" placeholder="Password" id="id_auth-password" name="auth-password">
   <i class="fa fa-key"></i>
</div> -->