<app-header [fixed]="true" [navbarBrandFull]="{src: unityLogo, alt: 'UL Logo'}"
  [navbarBrandMinimized]="{src: unityLogo, alt: 'UL Logo'}" [sidebarToggler]="'lg'" [asideMenuToggler]="'lg'">
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a class="nav-link">
        &nbsp;
      </a>
    </li>
  </ul>
</app-header>

<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'" [navItems]="navItems" [disabled]="sidebarMinimized">
    <button sidebar-footer class="sidebar-minimizer" type="button" aria-label="Toggle sidebar" appSidebarMinimizer
      appBrandMinimizer></button>
  </app-sidebar>
  <app-notification></app-notification>
  <app-spinner [name]="'main'"></app-spinner>
  <main class="main">
    <check-auth></check-auth>
    <console-access (inputLoaded)="menuInput($event)"></console-access>
  </main>
</div>