<script type="text/ng-template" id="alert23.html">
  <div class="alert alert-{{ type }}" role="alert">
    <button type="button" class="close" data-dismiss="alert" ng-click="close()">
      <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
    </button>
    <div ng-transclude></div>
  </div>
</script>

<div class="row">
  <div class="col-sm-6">
    <uib-alert template-url="alert23.html" ng-repeat="alert in alertService.alerts" type="{{ alert.severity }}"
               close="alertService.closeAlert($index)"
               dismiss-on-timeout="10000">
      {{ alert.msg }}
    </uib-alert>
  </div>
</div>


<h3>Salesforce Utils</h3>

<button class="btn btn-default" ng-click="loadServers()">Load Servers</button>
<button class="btn btn-default" ng-click="loadSwitches()">Load Switches</button>
<button class="btn btn-default" ng-click="loadPdus()">Load PDUs</button>

<h3>SFID Error auditing</h3>
<button class="btn btn-default" ng-click="salesforceErrors('servers')">Servers</button>
<button class="btn btn-default" ng-click="salesforceErrors('switches')">Switches</button>
<button class="btn btn-default" ng-click="salesforceErrors('pdus')">PDUs</button>

<h3>Fuzzy Import</h3>
<button class="btn btn-default" ng-click="updateSfid('servers')">Update Servers (automatch Hostname, Org)</button>
<button class="btn btn-default" ng-click="updateSfid('cabinets')">Update Servers (automatch Hostname, Org)</button>

<h3>Bulk Import/Update Tools</h3>
<button class="btn btn-default" ng-click="bulkImport('cabinet')">Cabinets</button>
<button class="btn btn-default" ng-click="bulkImport('pdu')">PDUs</button>
<button class="btn btn-default" ng-click="bulkImport('cage')">Cages</button>
<button class="btn btn-default" ng-click="bulkImport('switch')">Switches</button>
<button class="btn btn-default" ng-click="bulkImport('loadbalancer')">Load Balancers</button>
<button class="btn btn-default" ng-click="bulkImport('firewall')">Firewalls</button>

<h3>Statistical Tests</h3>
<button class="btn btn-default" ng-click="counts()">Counts</button>

<table ng-if="countsCalculated" class="table">
  <thead>
  <tr>
    <th>Object Type</th>
    <th>ULDB Count</th>
    <th>Salesforce Count</th>
  </tr>
  </thead>

  <tbody>
  <tr ng-repeat="result in countTable">
    <td>{{ result.name }}</td>
    <td>{{ result.uldb_count }}</td>
    <td>{{ result.sf_count }}</td>
  </tr>
  </tbody>
</table>

<table ng-if="results.length > 0" class="table">
  <thead>
  <tr>
    <th ng-repeat="row in rows">{{ row.description }}</th>
    <th>Review</th>
  </tr>
  </thead>

  <tbody>
  <tr ng-repeat="result in results">
    <td ng-repeat="row in rows">
      <div ng-if="row.opaque === undefined">{{ result[row.name] }}</div>
      <div ng-if="row.opaque !== undefined">
        <div>{{ row.read(result) }}</div>
      </div>
    </td>
    <!--<td>-->
    <!-- <button class="btn btn-success" ng-click="add(result, $index)">Add</button> -->
    <!--</td>-->
    <td>
      <button class="btn btn-success" ng-if="errorAuditing" ng-click="fixId(result, $index)">Fix Salesforce ID</button>
      <button class="btn btn-success" ng-if="!errorAuditing" ng-click="review(result, $index)">Review</button>
    </td>
  </tr>
  </tbody>
</table>


<script type="text/ng-template" id="salesforceModal.html">
  <div class="modal-header">
    <h3 class="modal-title">{{ method }} {{ title.singular }}</h3>
  </div>

  <div class="modal-body" style="height: 800px;">
    <form class="form-horizontal">

      <div class="form-group" ng-repeat="row in rows" ng-if="row.required">
        <label for="blockName" class="col-sm-2 control-label">
          {{ row.description }}
        </label>

        <div class="col-sm-10" ng-if="row.opaque === undefined">
          <input type="text" class="form-control" ng-model="obj[row.name]">
        </div>

        <div class="col-sm-10" ng-if="row.opaque !== undefined">
          <input type="text" class="form-control" ng-model="obj[row.name]"
                 placeholder=""
                 uib-typeahead="obj as obj[row.subfield] for obj in row.render($viewValue)">
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button ng-if="method === 'Add'" class="btn btn-success" type="button" ng-click="add(obj)">
      Create!
    </button>
    <button ng-if="method === 'Edit'" class="btn btn-success" type="button" ng-click="edit(obj, selection.index)">
      Save changes!
    </button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">
      No, not right now.
    </button>
  </div>
</script>
