.donut {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.hole {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #fff;
}

.ticket-state {
    z-index: 200;
}

.divider-line {
    border-width: 2px;
    // margin-top: -4rem;
    margin-left: 1%;
}
