<div class="card ">
  <div class="card-header bg-transparent border-bottom-0 mt-3">
    <div class="row">
      <div class="col-3">
        <div class="input-prepend input-group custom-input-group">
          <div class="input-group-prepend"><span class="input-group-text bg-transparent border-right-0">
              <i class="fa fa-search"></i></span>
          </div>
          <input placeholder="Enter keyword" class="form-control  form-control-sm border-left-0 custom-search-input" id="prependedInput"
            size="16" type="text">
        </div>
      </div>
      <div class="col ">
        <span class="text-muted font-sm float-right align-middle"><span class="badge badge-pill badge-secondary">0</span>&nbsp;Virtual
          Machines</span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="text-center text-muted">This feature is not available for {{platform_type}} Cloud</div>
  </div>
</div>