.btn-primary .badge {
    color: #23282c;
    background-color: #f0f3f5;
}

.btn-light .badge {
    color: #23282c;
    background-color: #c8ced3;
}

.btn.btn-tab.btn-light :hover {
    color: #23282c;
    background-color: #c8ced3;
}
