<app-main-tab [tabItems]="tabItems"></app-main-tab>
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col">
                <div class="card rounded-3">
                    <div class="card-header bg-transparent d-flex justify-content-between align-items-center py-2">
                        <div class="d-flex justify-content-center align-items-center font-500">
                            <span class="badge badge-secondary font-sm">{{viewData.length}}</span>
                            <span class="ml-1 font-lg">Accounts</span>
                        </div>
                        <div class="d-flex justify-content-end align-items-center">
                            <button class="btn btn-pill btn-sm btn-warning px-3 font-500" type="button"
                                (click)="addAccount()" accessControl moduleName="Integrations"
                                accessType="Add Integrations" elementType="btn">
                                <span class="font-sm">Add Account</span>
                            </button>
                            <button class="btn btn-pill btn-warning pull-right btn-sm mx-2" [tooltip]="'Rules'"
                                container="body" (click)="goToSettings()" accessControl
                                moduleName="AIML Event Management" accessType="Manage AIML Event Management"
                                elementType="btn-hide">
                                <i class="fas fa-cog"></i>
                            </button>
                            <button class="btn btn-pill btn-warning pull-right btn-sm" type="button" container="body"
                                (click)="goBack()"><i class="fa fa-arrow-left"></i>
                            </button>
                            <data-refresh-btn (refresh)="refreshData()"></data-refresh-btn>
                        </div>
                    </div>
                    <div class="card-body py-2">
                        <table class="table text-left">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th class="text-center">Event Ingestion</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let view of viewData" truncateText>
                                    <td class="tdw-20">
                                        <div [tooltip]="view.name">{{view.name}}</div>
                                    </td>
                                    <td class="w-15 text-center">
                                        <span class="fas fa-lg" [ngClass]="view.ingestEventIcon"
                                            [tooltip]="view.ingestEvent"></span>
                                    </td>
                                    <td class="action-icons-column text-center">
                                        <button class="action-icons mb-0 fas fa-magic font-sm ml-1"
                                            tooltip="Test Payload" (click)="testPayloadModal(view)" accessControl
                                            moduleName="Integrations" accessType="Manage Integrations"
                                            elementType="actionbtn">
                                        </button>
                                        <span dropdown placement="bottom right" container="body">
                                            <button id="button-container"
                                                class="action-icons mb-0 fa fa-ellipsis-h font-sm ml-1"
                                                data-toggle="dropdown" aria-controls="icons-dropdown-container"
                                                dropdownToggle (click)="false" [tooltip]="'More Actions'"
                                                container="body" accessControl moduleName="Integrations"
                                                accessType="Manage Integrations" elementType="actionbtn"></button>
                                            <div container="body" id="icons-dropdown-container"
                                                class="dropdown-menu dropdown-menu-right text-center mt-2" *dropdownMenu
                                                aria-labelledby="button-container">
                                                <button class="action-icons mt-2 mb-1 fas fa-key font-sm"
                                                    tooltip="Copy Key" (click)="copyKeyOrUrl(view.token,'Key')"
                                                    container="body">
                                                </button>
                                                <button class="action-icons mt-2 mb-1 fas fa-link font-sm"
                                                    tooltip="Copy URL" (click)="copyKeyOrUrl(view.url,'URL')"
                                                    container="body">
                                                </button>
                                                <button class="action-icons mt-2 mb-1 fas fa-pencil-alt font-sm"
                                                    (click)="editAccount(view)" tooltip="Edit Account" container="body">
                                                </button>
                                                <button class="action-icons mt-2 mb-1 fas fa-trash-alt font-sm"
                                                    tooltip="Delete Account" (click)="deleteAccount(view)"
                                                    container="body">
                                                </button>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div *ngIf="!viewData.length" class="d-flex py-5 justify-content-center align-items-center">
                            No App Dynamics Accounts available.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<usi-event-ingestion-common (onCrud)="onCrud($event)"></usi-event-ingestion-common>

<ng-template #payload>
    <div class="card mb-0">
        <div class="card-header">
            Test Payload
            <div class="card-header-actions">
                <a class="card-header-action btn-close" (click)="payloadModalRef.hide()">
                    <i class="fas fa-times"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <form *ngIf="payloadForm" [formGroup]="payloadForm">
                <div class="form-group">
                    <div class="invalid-credentials" *ngIf="nonFieldErr">{{nonFieldErr}}</div>
                </div>
                <div class="row form-group">
                    <div class="col">
                        <label class="form-col-form-label">Payload<em>*</em></label>
                        <textarea class="form-control" name="payload" id="payload" formControlName="payload"
                            [ngClass]="{'is-invalid' : payloadFormErrors.payload}"
                            placeholder="Enter Payload"></textarea>
                        <div class="invalid-feedback" *ngIf="payloadFormErrors.payload">{{payloadFormErrors.payload}}
                        </div>
                    </div>
                </div>
                <div *ngIf="!isSubmit" class="row form-group">
                    <div class="col">
                        <label class="form-col-form-label">Response</label>
                        <textarea class="form-control" name="payload" id="payload" rows="3" formControlName="response"
                            readonly></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <button *ngIf="isSubmit" class="btn btn-sm btn-success pull-right ml-1" type="button"
                (click)="submitPayload()">Submit</button>
            <button class="btn btn-sm btn-danger pull-right" (click)="payloadModalRef.hide()"
                type="button">Cancel</button>
        </div>
    </div>
</ng-template>