@import "variables";

.wizard {
    position: relative;

    .check-icon-container {
        display: flex;
        background-color: #fff;
        border-radius: 50%;
        text-align: center;

        .action-icons {
            border: 1px solid $success-500;
            background-color: $success-100;
            padding-top: 8px;
        }
    }

    .step {
        padding: 15px 0;
        position: relative;

        .line {
            top: 47px;
            left: 15px;
            height: 55%;
            position: absolute;
            border: 1px solid #e5e5e5;
        }
    }
}

.step-icon {
    width: 30px;
    height: 30px;
    background-color: #cfe2ff;
}