.custom-input-group .input-group-text{
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.custom-input-group input{
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}