<!DOCTYPE html>
<html
    style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
<head>
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
	<h2>Customer Information</h2>
	<p>Below customer has requested for {{request_type}} account.</p>
	<table>
	  <tr>
	  	<td>First Name</td>
	  	<td>{{data.first_name}}</td>
	  </tr>
	  <tr>
	  	<td>Last Name</td>
	  	<td>{{data.last_name}}</td>
	  </tr>
	  <tr>
	  	<td>Email</td>
	  	<td>{{data.email}}</td>
	  </tr>
	  <tr>
	  	<td>Phone Number</td>
	  	<td>{{data.phone_number}}</td>
	  </tr>
	  <tr>
	  	<td>Company Name</td>
	  	<td>{{data.company_name}}</td>
	  </tr>
	  <tr>
	  	<td>Job Title</td>
	  	<td>{{data.job_title}}</td>
	  </tr>

	</table>
</body>
