<!DOCTYPE html>
<html>
   <head></head>
   <body>
      <div class=ex1>
         <table style="height: 101px; background-color: #09bb70;" width="651" cellpadding="20">
            <tbody>
               <tr>
                  <td style="width: 641px;"><span style="background-color: #09bb70;"><img style="width: 200px; max-width: 100%; float: right;" src="https://{site}/static/demo/unityLogo1.png" alt="Unity" /></span></td>
               </tr>
            </tbody>
         </table>
         <p>&nbsp;</p>
         <p>Hello {first_name},</p>
         <p>Welcome to UNITY! Your free trial account is now active. Your account will be active for next {validity} days.</p>
         <p>Please click on the below link to set a pasword for your UNITY account.</p>
         <a href="https://{site}/demo-trial-link/{invitation_token}/">https://{site}/demo-trial-link/{invitation_token}/</a>
         <p style="text-align: justify;">UNITY is the universal MultiCloud management platform for managing your <em>real</em> hybrid cloud environment i.e datacenter, power distribution units (PDUs), bare metal servers, networking devices, private clouds (VMware and OpenStack) and public clouds (AWS and Azure). A single pane of glass to visualize, monitor and manage your existing and new workloads across multiple cloud platforms in a repeatable manner.</p>
         <div>
            <table style="height: 97px; width: 630px;">
               <tbody>
                  <tr>
                     <td style="width: 126px;"><img style="display: block; margin-left: auto; margin-right: auto;" src="https://{site}/static/demo/VIsualizationicn.png" alt="Unity" /></td>
                     <td style="width: 30px;">&nbsp;</td>
                     <td style="width: 488px; text-align: justify;">
                        <h4><strong>MultiCloud Visualization</strong></h4>
                        <p>A high level customized view of your entire multicloud and colocation infrastructure through interactive widgets and a visual view of your datacenter cabinets and all the devices inside it.</p>
                     </td>
                  </tr>
                  <tr>
                     <td style="width: 126px;"><img style="display: block; margin-left: auto; margin-right: auto;" src="https://{site}/static/demo/Monitoringicn.png" alt="Unity" /></td>
                     <td style="width: 30px;">&nbsp;</td>
                     <td style="width: 488px; text-align: justify;">
                        <h4><strong>MultiService Monitoring</strong></h4>
                        <p>Customizable monitoring dashboards for all your multicloud assets with alert management.</p>
                     </td>
                  </tr>
                  <tr>
                     <td style="width: 126px;"><img style="display: block; margin-left: auto; margin-right: auto;" src="https://{site}/static/demo/Managementicn.png" alt="Unity" /></td>
                     <td style="width: 30px;">&nbsp;</td>
                     <td style="width: 488px; text-align: justify;">
                        <h4><strong>MultiCloud Management</strong></h4>
                        <p>Manage your devices fanging from network devices to servers to virtual machines via web and terminal consoles along with direct push button controls within UNITY.</p>
                     </td>
                  </tr>
                  <tr>
                     <td style="width: 126px;"><img style="display: block; margin-left: auto; margin-right: auto;" src="https://{site}/static/demo/Auditicn.png" alt="Unity" /></td>
                     <td style="width: 30px;">&nbsp;</td>
                     <td style="width: 488px; text-align: justify;">
                        <h4><strong>MultiCloud Audit</strong></h4>
                        <p>A comprehensive audit trail of all the actions taken on your Datacenter and MultiCloud infrastructure to identify the WHO with in your organization did WHAT, WHEN, WHERE ?</p>
                     </td>
                  </tr>
                  <tr>
                     <td style="width: 126px;"><img style="display: block; margin-left: auto; margin-right: auto;" src="https://{site}/static/demo/Supporticn.png" alt="Unity" /></td>
                     <td style="width: 30px;">&nbsp;</td>
                     <td style="width: 488px; text-align: justify;">
                        <h4><strong>MultiService Support</strong></h4>
                        <p>Access your service provider&rsquo;s performance with a comprehensive analysis of all the service tickets raised in your organization. Gain insights on all the open tickets by their priority, tickets by their current status and response time to close a ticket.</p>
                     </td>
                  </tr>
                  <tr>
                     <td style="width: 126px;"><img style="display: block; margin-left: auto; margin-right: auto;" src="https://{site}/static/demo/Automationicn.png" alt="Unity" /></td>
                     <td style="width: 30px;">&nbsp;</td>
                     <td style="width: 488px; text-align: justify;">
                        <h4><strong>MultiCloud Automation</strong></h4>
                        <p>A powerful DevOps engine along with VM migration and Backup features.&nbsp;</p>
                     </td>
                  </tr>
               </tbody>
            </table>
            <p>Write to support@unityonecloud.com to report any login related issues. Please mention your organization and user name in the email for a quick resolution.</p>
            <p><br />Thank you, <br /> Team UNITY</p>
         </div>
      </div>
   </body>
</html>