@import "variables";

ul {
    list-style: none;
}

ul li {
    text-align: center;
    background: white;
    cursor: pointer;
    transition: all 0.2s ease;
    border: 1px solid #c8ced3;

    label {
        border-radius: 25px;
        width: 100%;
        padding: 0.25rem 0.5rem;
        display: inherit;
        border-color: #73818f;
        font-size: 0.765625rem;
        line-height: 1.5;
        margin-bottom: 0px !important;

        input {
            visibility: hidden;
        }
    }

    label.active {
        background-color: #378ad8 !important;
        color: #ffffff !important;
    }
}

ul li:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-right: none !important;
}

ul li:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-left: none !important;
}

.custom-icon {
    font-size: 1.5rem;
}

.selected-tab {
    background-color: #d8ecff;
    border-color: #378ad8;
}

.custom-border {
    border-left: 2px solid #c8ced3;
}

.progress {
    border-radius: 0 0.25rem 0.25rem 0;
}

.progress-legend {
    font-size: 0.6rem;
}

.cus-tags {
    font-size: 0.7rem;
}

.cus-tags .badge {
    background-color: #378ad8;
}

.section-name {
    position: absolute;
    top: -0.75rem;
    left: 1rem;
    z-index: 1;
    padding: 0 0.5rem;
    font-size: 1.02rem;
}

.custom-multiselect-padding {
    padding-top: 0.125rem !important;
    padding-bottom: 0.125rem !important;
}

.custom-margin-period {
    margin-top: 1.65rem !important;
}

.custom-margin-top {
    margin-top: 2.0rem !important;
}