@import "variables";

.move-dropdowns-up-end-of-top-tabs {
    position: relative;
    z-index: 100;
    margin-top: -70px;
    // margin-bottom: 2rem;
    padding-top: 0.7rem;
    pointer-events: none;
}

.move-dropdowns-up-end-of-top-tabs * {
    pointer-events: auto;
}

/* Only when radio is disabled, let the visible circle respond */
.custom-control-input:disabled {
    /* let the label's pseudo element receive pointer events instead of the hidden input */
    pointer-events: none !important;
    z-index: 0 !important;
}

/* Make the label's circle hoverable and show not-allowed only on the circle */
.custom-control-input:disabled+.custom-control-label::before {
    pointer-events: auto !important;
    z-index: 2 !important;
    cursor: not-allowed !important;
}

/* Keep inner blue circle visible when checked & disabled */
.custom-control-input:disabled:checked+.custom-control-label::after {
    z-index: 3;
    pointer-events: none;
}

.btn-disabled {
    cursor: not-allowed;
}

.properties {
    min-height: 445px;
    max-height: 445px;
    overflow-y: auto;
}

/* WebKit-based browsers (Chrome, Safari, Edge) */
.properties::-webkit-scrollbar {
    width: 6px;
    /* Thin scrollbar */
}

.properties::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Scrollbar color */
    border-radius: 10px;
    /* Rounded edges */
}

.properties::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Darker color on hover */
}

.properties::-webkit-scrollbar-track {
    background: transparent;
    /* Transparent track */
}

/* Remove arrows from scrollbar */
.properties::-webkit-scrollbar-button {
    display: none;
}

::ng-deep .multiselect-dropdown-padding {
    padding-top: 0.3rem !important;
    padding-bottom: 0.3rem !important;
}


.card .entity-card.active {
    height: 100%;
    width: 20% !important;
    padding-left: 10px;
    padding-right: 10px;
    background-color: $primary;
    border-radius: 0.3rem !important;
    color: $white;

    .sub-entity {
        color: $white;
    }

    .value {
        color: $white;
    }
}