<div class="card">
    <div class="card-header bg-white border-0">
        <div class="row">
            <div class="col-2">
                <table-search-box (searched)="onSearched($event)"></table-search-box>
            </div>
            <div class="col-10">
                <div class="row justify-content-end">
                    <div class="col-2 mr-1">
                        <select class="form-control form-control-sm" type="text"
                            [(ngModel)]="currentCriteria.params[0].severity" (ngModelChange)="onFilterChange()">
                            <option [value]="''">Severity</option>
                            <option value="information">Information</option>
                            <option value="warning">Warning</option>
                            <option value="critical">Critical</option>
                        </select>
                    </div>
                    <div class="col-2 mr-2">
                        <select class="form-control form-control-sm" type="text"
                            [(ngModel)]="currentCriteria.params[0].status" (ngModelChange)="onFilterChange()">
                            <option [value]="''">Status</option>
                            <option [value]="'enabled'">Enabled</option>
                            <option [value]="'disabled'">Disabled</option>
                        </select>
                    </div>
                    <div>
                        <button class="btn btn-sm bg-primary pull-right" type="button" (click)="createTrigger()"
                            accessControl moduleName="Monitoring Management" accessType="write" elementType="btn">Create
                            Trigger</button>
                    </div>
                    <div class="mx-2">
                        <table-page-size class="float-left ml-1" [currentPageSize]="currentCriteria.pageSize"
                            [totalCount]="count" (pageSizeChange)="pageSizeChange($event)"></table-page-size>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body pt-0">
        <ng-container *ngIf="componentId" [ngTemplateOutlet]='componentTriggersRef'></ng-container>
        <ng-container *ngIf="!componentId" [ngTemplateOutlet]='templateTriggersRef'></ng-container>
        <p *ngIf="viewData.length==0" class="text-center">No records to display</p>
        <table-entries [pageNo]="currentCriteria.pageNo" [pageSize]="currentCriteria.pageSize"
            [totalCount]="count"></table-entries>
        <table-pager *ngIf="viewData.length" [pageNo]="currentCriteria.pageNo" [pageSize]="currentCriteria.pageSize"
            [totalCount]="count" (pageChange)="pageChange($event)"></table-pager>
    </div>
</div>

<ng-template #templateTriggersRef>
    <table class="table text-left font-sm">
        <thead class="bg-light">
            <tr>
                <th>Name</th>
                <th>Severity</th>
                <th>Expression</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let view of viewData; let i = index" truncateText>
                <td class="tdw-25 text-primary">
                    <div [tooltip]="view.name">{{view.name}}</div>
                </td>

                <td class="tdw-15" [ngClass]="decideSeverityColor(view.severity)">
                    <div class="text-capitalize" [tooltip]="view.severity">{{view.severity}}</div>
                </td>
                <td class="tdw-40">
                    <div [tooltip]="view.expression">{{view.expression}}</div>
                </td>
                <td class="tdw-15">
                    <div class="d-inline-block">
                        <div class="btn-group rounded-pill border" style="border-radius: 50px;" accessControl
                            moduleName="Monitoring Management" accessType="write" elementType="div">
                            <button class="btn btn-pill btn-sm btn-outline-primary rounded-pill border-0" type="button"
                                (click)="toggleStatus(view.triggerId, 'enabled')" [disabled]="view.isDefault"
                                [ngClass]=" view.status==='enabled'? 'active btn-outline-primary' : 'btn-outline-secondary' ">
                                Enable
                            </button>
                            <button class="btn btn-pill btn-sm btn-outline-primary rounded-pill border-0" type="button"
                                (click)="toggleStatus(view.triggerId, 'disabled')" [disabled]="view.isDefault"
                                [ngClass]="view.status=='disabled' ? 'active btn-outline-primary' : 'btn-outline-secondary' ">
                                Disable
                            </button>
                        </div>
                    </div>
                </td>
                <td class="action-icons-column">
                    <button class="action-icons mb-0 fas fa-pencil-alt font-sm ml-1" tooltip="Edit"
                        [ngClass]="{'action-icons-disabled':view.isDefault}" (click)="updateTrigger(view)"
                        [disabled]="view.isDefault" accessControl moduleName="Monitoring Management" accessType="write"
                        elementType="actionbtn"></button>
                    <button class="action-icons mb-0 fas fa-trash-alt font-sm ml-1" tooltip="Delete"
                        [ngClass]="{'action-icons-disabled':view.isDefault}" [disabled]="view.isDefault"
                        (click)="deletePanelDevice(view)" accessControl moduleName="Monitoring Management"
                        accessType="write" elementType="actionbtn"></button>
                </td>
            </tr>
        </tbody>
    </table>
</ng-template>
<ng-template #componentTriggersRef>
    <table class="table text-left font-sm">
        <thead class="bg-light">
            <tr>
                <th>Name</th>
                <th>Severity</th>
                <th>Expression</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let view of viewData; let i = index" truncateText>
                <td class="tdw-25 text-primary">
                    <div [tooltip]="view.name">{{view.name}}</div>
                </td>

                <td class="tdw-15" [ngClass]="decideSeverityColor(view.severity)">
                    {{view.severity}}
                </td>
                <td class="tdw-40">
                    <div [tooltip]="view.expression">{{view.expression}}</div>
                </td>
                <td class="tdw-15">
                    <div class="d-inline-block">
                        <div class="btn-group rounded-pill border" style="border-radius: 50px;" accessControl
                            moduleName="Monitoring Management" accessType="write" elementType="div">
                            <button class="btn btn-pill btn-sm btn-outline-primary rounded-pill border-0" type="button"
                                (click)="toggleStatus(view.triggerId, 'enabled')" [disabled]="view.isDefault"
                                [ngClass]=" view.status==='enabled'? 'active btn-outline-primary' : 'btn-outline-secondary' ">
                                Enable
                            </button>
                            <button class="btn btn-pill btn-sm btn-outline-primary rounded-pill border-0" type="button"
                                (click)="toggleStatus(view.triggerId, 'disabled')" [disabled]="view.isDefault"
                                [ngClass]="view.status=='disabled' ? 'active btn-outline-primary' : 'btn-outline-secondary' ">
                                Disable
                            </button>
                        </div>
                    </div>
                </td>
                <td class="action-icons-column">
                    <button class="action-icons mb-0 fas fa-pencil-alt font-sm ml-1" tooltip="Edit"
                        [ngClass]="{'action-icons-disabled':view.isDefault}" (click)="updateTrigger(view)"
                        [disabled]="view.isDefault" accessControl moduleName="Monitoring Management" accessType="write"
                        elementType="actionbtn"></button>
                    <button class="action-icons mb-0 fas fa-trash-alt font-sm ml-1" tooltip="Delete"
                        [ngClass]="{'action-icons-disabled':view.isDefault}" [disabled]="view.isDefault"
                        (click)="deletePanelDevice(view)" accessControl moduleName="Monitoring Management"
                        accessType="write" elementType="actionbtn"></button>
                </td>
            </tr>
        </tbody>
    </table>
</ng-template>


<ng-template #confirm>
    <div class="card round-edge mb-0">
        <div class="card-body text-center pb-2">
            <div>Are you sure you want to delete?</div>
        </div>
        <div class="card-footer bg-white d-flex justify-content-center border-top-0">
            <button class="btn btn-sm btn-pill btn-warning mr-2" type="button" (click)="confirmDelete()">Delete</button>
            <button class="btn btn-sm btn-pill btn-outline-warning" type="button"
                (click)="modalRef.hide()">Cancel</button>
        </div>
    </div>
</ng-template>