.custom-border {
    border-left: 1px solid #dde0e3;
}

.progress {
    border-radius: 0 0.25rem 0.25rem 0;
}

.table {
    thead{
        height: 10%;
    }
    tbody {
        display:block;
        height: calc(90% - 1rem);
        min-height: 200px;
        overflow:auto;
    }
    thead, tbody tr {
        display:table;
        width:100%;
        table-layout:fixed;/* even columns width , fix width of table too*/
    }
    // thead {
    //     width: calc( 100% - 1em )/* scrollbar is average 1em/16px width, remove it from thead width */
    // }
    thead tr {
        box-shadow: inset 0 0 1px 1px #dde0e3;
    }
    thead th,
    tbody td {
        border-top: none;
        border-bottom: 1px solid #dde0e3;
    }
}

.progress-legend {
    font-size: 0.6rem;
}

.cus-tags{
    font-size: 0.7rem;
}

.cus-tags .badge{    
    background-color: #378ad8;
}