.step-icon {
  width: 30px;
  height: 30px;
  background-color: #cfe2ff;
}

// .card-body{
//     // background-color: black;
//     // color: white;
//     min-height: 300px;
// }

.topology-card {
  min-height: 300px;
}

.popover {
  max-width: 250px;
}

.popover .card-body {
  min-height: unset !important;
  padding: 6px 10px !important;
}

.popover p {
  margin-bottom: 4px;
}

.dc-node-details-wrapper {
  position: absolute !important;
}

#pc-node-details-wrapper {
  position: absolute !important;
}