.section-name-one {
    position: absolute;
    top: -0.75rem;
    left: 1rem;
    z-index: 1;
    padding: 0 0.5rem;
    font-size: 1.02rem;
}

.section-name-two {
    position: absolute;
    top: -1rem;
    right: 1rem;
    z-index: 1;
    padding: 0.5rem;
    font-size: 1rem;
}

.section-name-three {
    position: absolute;
    top: -1rem;
    right: 3.5rem;
    z-index: 1;
    padding: 0.5rem;
    font-size: 1rem;
}

.section-name-four {
    position: absolute;
    top: -1rem;
    right: 6.0rem;
    z-index: 1;
    padding: 0.5rem;
    font-size: 1rem;
}